<template>
    <div class="newsV1">
        <div class="newsV1__list row">
            <Card
                v-for="(card, i) in news"
                :key="i"
                v-bind="card"
                class="newsV1__listItem"
                :class="getClass(card)"
            />
        </div>

        <div v-if="!isLastPage" class="newsV1__bottomLinkWrap">
            <Button
                v-bind="nextLink"
                class="newsV1__bottomLink"
                @click.native="loadMore"
            />
        </div>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import Card from '~/library/Elements/Cards/NewsCardV1.vue';
import Button from '~/library/Elements/Buttons/ButtonV1.vue';
import axios from 'axios';
import { INews } from '~/types/types';

interface IButton {
    name: string,
    link?: string | boolean,
    newTab?: boolean,
    inverted?: boolean,
    linked?: boolean
}

export default Vue.extend({
    components: {
        Card,
        Button
    },
    props: {
        items: {
            type: Array as PropType<INews[]>,
            default(): INews[] {
                return []
            }
        },
        nextLink: {
            type: Object as PropType<IButton>,
            default(): IButton {
                return {
                    link: false,
                    name: 'Далее',
                    inverted: true
                }
            }
        },
        api: {
            type: String,
            default: 'http://www.mocky.io/v2/5d2a4ab930000056005a4133'
        },
        startPage: { type: Number, default: 1 }
    },
    data(): {
        news: INews[]
        page: number,
        isLastPage: boolean
    } {
        return {
            news: [],
            page: 1,
            isLastPage: false
        }
    },
    mounted() {
        this.news = this.items;
        this.page = this.startPage;
    },
    methods: {
        getClass(card: INews): string {
            if (card.big) {
                return 'col col-12';
            } else {
                return 'col col-12 col-m1-6';
            }
        },
        loadMore() {
            this.page++;
            this.getData();
        },
        async getData() {
            let res = await axios.get(this.api, { params: { page: this.page } });
            if (res.data.success) {
                this.news = [...this.news, ...res.data.news];
                this.isLastPage = res.data.last;
                window.history.pushState('', '', `${window.location.pathname}?page=${this.page}`);
            } else {
                console.log('-- api error');
            }
        }
    }
});
</script>

<style lang="scss">
    .newsV1 {
        &__listItem {
            margin-bottom: 40px;

            @media (min-width: $m1) {
                margin-bottom: 38px;
            }

            @media (min-width: $m2) {
                margin-bottom: 60px;
            }

            @media (min-width: $m3) {
                margin-bottom: 80px;
            }
        }

        &__bottomLinkWrap {
            margin-top: 20px;
            text-align: center;
        }

        &__bottomLink {
            display: block;

            @media (min-width: $m1) {
                min-width: 230px;
                display: inline-block;
            }
        }
    }
</style>
