<template>
    <div
        class="contentOverlayV1"
        @click="onContentOverlayClicked"
    />
</template>

<!--<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    methods: {
        onContentOverlayClicked() {
            this.$emit('overlayClicked');
        }
    }
});
</script>-->

<script>
    export default {
        methods: {
            onContentOverlayClicked() {
                this.$emit('overlayClicked');
            }
        }
    };
</script>

<style lang="scss">
    .contentOverlayV1 {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 100vw;
        background-color: rgba(0,0,0,.85);
        opacity: 0;
        z-index: 99;
        transform: translateX(-50%);
        transition: opacity .15s;
        pointer-events: none;
    }
</style>
