<template>
    <div class="slidepageOverlayV1">
        <div class="slidepageOverlayV1__content">
            <div
                v-if="overtitle"
                class="pageSliderV2__fadeEffectSliderOvertitle d-m2-none"
                v-html="overtitle"
            />
            <div
                v-if="title"
                class="h1 pageSliderV1__fadeEffectSliderTitle d-m2-none"
                v-html="title"
            />

            <ContentFactory
                v-for="(item, i) in items"
                :key="i"
                :item="item"
            />

            <div
                v-if="accordions"
                class="slidepageOverlayV1__accordionsGroup"
            >
                <Accordion
                    v-for="(accordion, i) in accordions"
                    :key="i"
                    :name="accordion.name"
                    :info="accordion.info"
                    :items="accordion.items"
                    @tooltipUpdate="onTooltipUpdate"
                />
            </div>

            <FadeSliderButton1
                :name="btnName"
                :inverted="true"
                class="slidepageOverlayV1__overlayBottomBtn button__block"
            />

            <div
                class="slidepageOverlayV1__close"
                @click="onCloseClick"
            />
        </div>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import ContentFactory from '~/library/Elements/Factories/OverlayContentFactoryV1.vue';
import Accordion from '~/library/Elements/Accordions/AccordionV1.vue';
import FadeSliderButton1 from '~/library/Elements/Buttons/ButtonV1.vue';
import { createTooltip, destroyTooltip, updateTooltip } from '~/library/Elements/Tooltip/tooltip';
import Popper from "popper.js";

interface IItem {
    type: string,
    [propName: string]: any
}

interface IAccordion {
    name: string,
    items: IItem[],
    info?: string
}

export default Vue.extend({
    components: {
        ContentFactory,
        Accordion,
        FadeSliderButton1
    },
    props: {
        overtitle: { type: String, default: '' },
        title: { type: String, default: '' },
        btnName: { type: String, default: 'Оформить продукт' },
        items: {
            type: Array as PropType<IItem[]>,
            default(): IItem[] {
                return []
            }
        },
        accordions: {
            type: Array as PropType<IAccordion[]>,
            default(): IAccordion[] {
                return []
            }
        },
    },
    data(): {
        pops: Popper[]
    } {
        return {
            pops: []
        }
    },
    mounted() {
        window.addEventListener('resize', this.onResize);
        createTooltip(this.$el, this.pops);
    },
    destroyed() {
        window.removeEventListener('resize', this.onResize);
        destroyTooltip(this.pops);
    },
    methods: {
        onCloseClick() {
            this.$emit('overlayClose');
        },
        onTooltipUpdate() {
            updateTooltip(this.pops);
        },
        onResize() {
            this.onTooltipUpdate();
        }
    }
});
</script>

<style lang="scss">
    .slidepageOverlayV1 {
        position: absolute;
        top: 120px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: none;
        background-color: $gray-dark;
        z-index: 100;

        &.active {
            display: block;
            z-index: 105;
        }

        @media (min-width: $m1) {
            top: 150px;
        }

        @media (min-width: $m2) {
            top: 0;
            left: 50%;
        }

        &__content {
            position: relative;
            /*min-height: 100%;*/
            padding: 17px $content-side-padding 0; // 140px
            box-sizing: border-box;

            @media (min-width: $m1) {
                padding: 17px $content-side-padding-m1 0;
            }

            @media (min-width: $m2) {
                padding: 49px $content-side-padding-m2 0;
            }

            @media (min-width: $m3) {
                max-width: 960px;
                padding: 49px 80px 0;
            }

            /*> * {
                &:first-child {
                    margin-top: 0;
                }
            }*/
        }

        .pageSliderV2__fadeEffectSliderOvertitle {
            @media (min-width: $m1) {
                margin-top: 5px;
            }
        }

        .pageSliderV2__fadeEffectSliderOvertitle + .pageSliderV1__fadeEffectSliderTitle {
            margin-top: 2px;

            @media (min-width: $m1) {
                margin-top: 14px;
            }

            @media (min-width: $m3) {
                margin-top: 16px;
            }
        }

        .pageSliderV1__fadeEffectSliderTitle {
            margin-top: 25px;

            @media (min-width: $m1) {
                margin-top: 35px;
                margin-bottom: 52px;
            }
        }

        .pageSliderV1__fadeEffectSliderTitle + .iconLinksList {
            margin-top: 27px;

            @media (min-width: $m2) {
                margin-top: 23px;
            }
        }

        .pageSliderV1__fadeEffectSliderTitle + h3,
        .pageSliderV1__fadeEffectSliderTitle + .h3 {
            @media (min-width: $m2) {
                margin-top: 22px;
            }
        }

        &__close {
            position: absolute;
            top: 14px;
            right: 10px;
            width: 20px;
            height: 20px;
            padding: 6px;
            z-index: 90;
            cursor: pointer;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 6px;
                left: 6px;
                width: 20px;
                height: 20px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 100% 100%;
                background-image: url("./img/x.svg");
                transition: opacity .15s;
                z-index: 1;
            }

            &:after {
                background-image: url("./img/xWhite.svg");
                opacity: 0;
                z-index: 2;
            }

            &:hover {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            @media (min-width: $m1) {
                top: 14px;
                right: 28px;
                width: 22px;
                height: 22px;

                &:before,
                &:after {
                    width: 22px;
                    height: 22px;
                }
            }

            @media (min-width: $m2) {
                top: 29px;
                right: 29px;
            }
        }

        &__overlayBottomBtn {
            margin-top: 60px;
            margin-bottom: 20px;

            @media (min-width: $m3) {
                margin-bottom: 80px;
            }
        }

        &__accordionsGroup {
            margin-top: 55px;

            .accordionV1 {
                &:last-of-type {
                    &.active {
                        .accordionV1__body {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }

        .accordionV1 {
            .accordionV1__headBg {
                left: -$content-side-padding;
                right: -$content-side-padding;

                @media (min-width: $m1) {
                    left: -$content-side-padding-m1;
                    right: -$content-side-padding-m1;
                }

                @media (min-width: $m3) {
                    left: -80px;
                    right: -80px;
                }
            }
        }

        &__textWrap {
            margin-top: 26px;
            margin-bottom: 26px;

            p {
                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .slidepageOverlayV1__textWrap + .listV1 {
            margin-top: 26px;

            @media (min-width: $m1) {
                margin-top: 40px;
            }
        }

        .listV1 {
            margin-top: 28px;

            &__item {
                margin: 22px 0;
                padding-left: 28px;
                font-size: 18px;
                line-height: 22px;

                @media (min-width: $m1) {
                    margin: 24px 0;
                    padding-left: 33px;
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            &.list__unordered {
                .listV1__item {
                    &:before {
                        top: 7px;
                        left: 2px;

                        @media (min-width: $m1) {
                            top: 9px;
                        }
                    }
                }
            }

            &.list__ordered {
                .listV1__item {
                    &:before {
                        left: 0;
                    }
                }
            }

            &__nestedList {
                margin-top: 22px;

                @media (min-width: $m2) {
                    margin-top: 24px;
                }
            }
        }

        .imageWithZoomV1 {
            margin-top: 35px;
            margin-bottom: 35px;

            @media (min-width: $m3) {
                margin-top: 55px;
                margin-bottom: 55px;
            }
        }

        .iconLinksList {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                margin-top: 19px;

                &:first-of-type {
                    margin-top: 0;
                }

                a {
                    &:hover {
                        color: #fff;
                    }
                }

                @media (min-width: $m2) {
                    margin-top: 32px;
                }

                @media (min-width: $m3) {
                    margin-top: 34px;
                }
            }
        }

        .textLinkWithIconV1 {
            font-size: 18px;
            line-height: 22px;

            @media (min-width: $m1) {
                font-size: 20px;
                line-height: 24px;
            }
        }

        .textLinkWithIconV1__icon {
            top: 2px;

            @media (min-width: $m1) {
                top: 5px;
            }
        }

        .textLinkWithIconV1__text {
            margin-left: 16px;

            @media (min-width: $m2) {
                margin-left: 24px;
            }
        }

        .textLinkWithArrowV1 {
            margin-top: 10px;
        }

        &__row {
            margin-top: 28px;

            @media (min-width: $m1) {
                margin-top: 32px;
            }

            @media (min-width: $m2) {
                margin-top: 35px;
            }

            .mini {
                font-size: 16px !important;
                line-height: 18px !important;

                @media (min-width: $m1) {
                    font-size: 18px !important;
                    line-height: 22px !important;
                }
            }

            .listV1__item {
                margin: 13px 0;
            }
        }

        .accordionV1__body {
            .row {
                margin-bottom: -28px !important;
            }
        }

        .col {
            margin-bottom: 26px;

            @media (min-width: $m2) {
                margin-bottom: 40px;
            }

            * {
                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            h2, .h2 {
                font-family: $futura-book;
                font-size: 30px;
                line-height: 40px;
            }

            h3, .h3 {
                font-family: $futura-book;
                font-size: 30px;
                line-height: 36px;

                @media (min-width: $m1) {
                    font-size: 36px;
                    line-height: 40px;
                }
            }

            h2, h3 {
                margin-bottom: 2px;
            }

            h2 + ul,
            h2 + ol,
            h3 + ul,
            h3 + ol {
                margin-top: 10px;

                @media (min-width: $m1) {
                    margin-top: 15px;
                }
            }

            h2 + .slidepageOverlayV1__textWrap,
            h2 + .slidepageOverlayV1__textWrap,
            h3 + .slidepageOverlayV1__textWrap,
            h3 + .slidepageOverlayV1__textWrap {
                margin-top: 0;
            }

            .listV1__item {
                margin: 10px 0;

                @media (min-width: $m1) {
                    padding-left: 26px;
                }
            }
        }

        .row-only-m1 {
            @media (min-width: $m1) and (max-width: 1023px) {
                margin-bottom: -25px !important;
            }
        }
    }
</style>
