<script lang="ts">
import Vue, { PropType } from 'vue';
import IconLink from '~/library/Elements/Links/TextLinkWithIconV1.vue';
import Button from '~/library/Elements/Buttons/ButtonV1.vue';
import ButtonWithArrow from '~/library/Elements/Links/TextLinkWithArrowV1.vue';
import Currencies from '~/library/Components/Currencies/CurrenciesV1.vue';

export default Vue.extend({
    components: {
        IconLink,
        Button,
        ButtonWithArrow,
        Currencies
    },
    props: {
        item: {
            type: Object as PropType<{ [propName: string]: any }>,
            default(): { [propName: string]: any } {
                return {}
            }
        },
    },
    methods: {
        onLearnMoreClick(e) {
            e.preventDefault();
            (this.$parent.$parent as any).onLearnMoreClick(e);
        },
    },
    render(h) {
        let _class = '';
        if (this.item.onlyDesktop) {
            _class = 'd-none d-m2-block';
        } else if (this.item.onlyMobile) {
            _class = 'd-m2-none';
        }

        if (this.item.type === 'text') {
            return h(
                'p',
                { class: [this.item.class, _class] },
                this.item.content,
            );
        } else if (this.item.type === 'h') {
            return h(
                'h' + this.item.level,
                { class: _class },
                this.item.content,
            );
        } else if (this.item.type === 'iconLinks') {
            let _itemClass = '';
            let _linkClass = '';

            if (this.item.row) {
                _itemClass = 'col-only-m1 ';
                _linkClass = 'icon__top2';

                if (this.item.links.length%2) {
                    _itemClass += 'col-only-m1-4';
                } else {
                    _itemClass += 'col-only-m1-6';
                }
            }

            return h(
                'ul',
                { class: `iconLinksList ${this.item.row ? 'row-only-m1' : ''}` },
                this.item.links.map((link) => {
                    return h(
                        'li',
                        { class: _itemClass },
                        [h(
                            'IconLink',
                            {
                                class: _linkClass,
                                props: {
                                    classes: link.icon,
                                    name: link.text,
                                    link: link.link,
                                    newTab: link.newTab
                                }
                            }
                        )]
                    );
                })
            );
        } else if (this.item.type === 'buttons') {
            return h(
                'div',
                { class: 'pageSliderV1__fadeEffectSliderBtnsBlock' },
                this.item.content.map((btn) => {
                    if (btn.btn === 1) {
                        return h(
                            'Button',
                            {
                                class: 'pageSliderV1__fadeEffectSliderBtn1 button__block',
                                props: { name: btn.name }
                            }
                        );
                    } else if (btn.btn === 2) {
                        return h(
                            'ButtonWithArrow',
                            {
                                class: 'pageSliderV1__fadeEffectSliderBtn2 button__block',
                                props: { name: btn.name },
                                nativeOn: {
                                    click: (this as any).onLearnMoreClick
                                }
                            }
                        );
                    }
                })
            );
        } else if (this.item.type === 'currencies') {
            return h(
                'Currencies',
                {
                    class: 'pageSliderV1__currencies',
                    props: {
                        api: this.item.api,
                        params: this.item.params,
                        title1: this.item.title1,
                        title2: this.item.title2,
                        contentTitles: this.item.contentTitles,
                    }
                }
            );
        } else {
            return h('div');
        }
    }
});
</script>

<style lang="scss">

</style>
