<template>
    <div class="imageWithDownloadV1">
        <img :src="img" class="imageWithDownloadV1__img" alt="">
        <div class="imageWithDownloadV1__linkWrap">
            <a :href="link" class="imageWithDownloadV1__link" :target="target">{{ title }}</a>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        img: { type: String, default: '/img/cardsTimeline.jpg' },
        title: { type: String, default: 'Скачать' },
        link: { type: String, default: '/img/cardsTimeline.jpg' },
        newTab: { type: Boolean, default: true }
    },
    computed: {
        target(): string | boolean {
            return this.newTab ? '_blank' : false;
        }
    }
});
</script>

<style lang="scss">
    .imageWithDownloadV1 {
        position: relative;
        margin-top: 45px;
        margin-bottom: 32px;

        &__img {
            max-width: 100%;
            display: block;
            margin: 0;
        }

        &__linkWrap {
            margin-top: 23px;
            text-align: center;
        }

        &__link {
            position: relative;
            display: inline-block;
            padding-right: 24px;
            font-family: $futura-medium;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-decoration: none;
            color: $yellow;
            transition: color .15s;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 14px;
                height: 16px;
                margin-top: -9px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 100% 100%;
                background-image: url("./img/download.svg");
            }

            &:hover {
                color: $yellow-dark;
            }
        }
    }
</style>
