<template>
    <a class="buttonV1" :href="link" :class="classes" :target="target">{{ name }}</a>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        link: { type: [ String, Boolean ], default: '' },
        name: { type: String, default: '' },
        newTab: { type: Boolean, default: false },
        inverted: { type: Boolean, default: false },
        linked: { type: Boolean, default: false }
    },
    computed: {
        target(): string | boolean {
            return this.newTab ? '_blank' : false;
        },
        classes(): { [paramName: string]: boolean } {
            return {
                'button__inverted': this.inverted,
                'button__linked': this.linked,
            }
        }
    }
});
</script>

<style lang="scss">
    .buttonV1 {
        display: inline-block;
        height: 60px;
        padding: 1px 40px 0;
        box-sizing: border-box;
        font-family: $futura-medium;
        font-size: 16px;
        line-height: 58px;
        letter-spacing: 0.1em;
        color: #000;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        white-space: nowrap;
        user-select: none;
        border-radius: 0;
        border: 1px solid $yellow;
        background-color: $yellow;
        transition: color .15s, background-color .15s, border-color .15s;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            border-color: #fff;
        }

        &.button {
            &__block {
                display: block;
            }

            &__inverted {
                color: $yellow;
                border: 1px solid $yellow;
                background-color: transparent;

                &:hover {
                    color: #000;
                    border-color: $yellow;
                    background-color: $yellow;
                }
            }

            &__linked {
                display: block;
                margin-bottom: 14px;
                padding-left: 35px;
                padding-right: 35px;

                @media (min-width: $m1) {
                    margin-bottom: 0;
                    padding-left: 34px;
                    padding-right: 34px;
                }
            }
        }
    }
</style>
