<template>
    <div class="iconsNavV1">
        <IconLink
            v-for="(link, i) in links"
            :key="i"
            :class="`iconsNavV1__item ${link.icon}`"
            :link="link.link"
            :new-tab="link.newTab"
        />
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import IconLink from '~/library/Elements/Links/IconLinkV1.vue';

interface ILink {
    link: string,
    icon: string
    newTab?: boolean
}

export default Vue.extend({
    components: {
        IconLink
    },
    props: {
        links: {
            type: Array as PropType<ILink[]>,
            default(): ILink[] {
                return [
                    { link: '', icon: 'social__icon social__viber' },
                    { link: '', icon: 'social__icon social__fb' },
                    { link: '', icon: 'social__icon social__vk' },
                    { link: '', icon: 'social__icon social__twitter' },
                    { link: '', icon: 'social__icon social__telegram' },
                    { link: '', icon: 'social__icon social__insta' }
                ]
            }
        }
    },
    methods: {},
});
</script>

<style lang="scss">
    .iconsNavV1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
</style>
