<template>
    <div class="textNavWithIconsV1 row">
        <NavLink
            v-for="(link, i) in links"
            :key="i"
            class="textNavWithIconsV1__item icon__top col col-m1-6 col-m2-4"
            :classes="link.icon"
            :name="link.text"
            :link="link.link"
            :new-tab="link.newTab"
        />
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import NavLink from '~/library/Elements/Links/TextLinkWithIconV1.vue';

interface ILink {
    link: string,
    text: string,
    icon: string,
    newTab?: boolean,
}

export default Vue.extend({
    components: {
        NavLink
    },
    props: {
        links: {
            type: Array as PropType<ILink[]>,
            default(): ILink[] {
                return []
            }
        }
    },
    methods: {},
});
</script>

<style lang="scss">
    .textNavWithIconsV1 {
        &__item {
            margin: 0 0 14px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        @media (min-width: $m1) {
            padding-bottom: 41px;
            border-bottom: 1px solid $gray;

            &__item {
                margin-bottom: 53px;
            }
        }

        @media (min-width: $m2) {
            padding-bottom: 61px;
        }
    }
</style>
