<template>
    <a :href="link" class="iconLinkV1" :target="target" />
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        link: { type: String, default: '' },
        newTab: { type: Boolean, default: false },
    },
    computed: {
        target(): string | boolean {
            return this.newTab ? '_blank' : false;
        }
    }
});
</script>

<style lang="scss">
    .iconLinkV1 {
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        user-select: none;

        &.social {
            &__icon {
                position: relative;
                width: 36px;
                height: 36px;
                box-sizing: border-box;

                @media (min-width: $m1) {
                    width: 39px;
                    height: 39px;
                }

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: auto auto;
                    transition: opacity .15s;

                    @media (min-width: $m1) {
                        background-size: 50% auto;
                    }
                }

                &:after {
                    opacity: 0;
                }

                &:hover {
                    &:before {
                        opacity: 0;
                    }

                    &:after {
                        opacity: 1;
                    }
                }
            }

            &__viber {
                &:before {
                    background-image: url("./img/socialViber.svg");
                }

                &:after {
                    background-image: url("./img/socialViberGray.svg");
                }
            }

            &__fb {
                &:before {
                    background-image: url("./img/socialFB.svg");
                }

                &:after {
                    background-image: url("./img/socialFBGray.svg");
                }

                @media (min-width: $m1) {
                    &:before,
                    &:after {
                        background-size: auto 50%;
                    }
                }
            }

            &__vk {
                &:before {
                    background-image: url("./img/socialVK.svg");
                }

                &:after {
                    background-image: url("./img/socialVKGray.svg");
                }
            }

            &__twitter {
                &:before {
                    background-image: url("./img/socialTwitter.svg");
                }

                &:after {
                    background-image: url("./img/socialTwitterGray.svg");
                }
            }

            &__telegram {
                &:before {
                    background-image: url("./img/socialTelegram.svg");
                }

                &:after {
                    background-image: url("./img/socialTelegramGray.svg");
                }
            }

            &__insta {
                @media (min-width: $m1) {
                    &:before,
                    &:after {
                        background-size: 19px 19px;
                    }
                }

                &:before {
                    background-image: url("./img/socialInsta.svg");
                }

                &:after {
                    background-image: url("./img/socialInstaGray.svg");
                }
            }
        }

        &.store {
            &__icon {
                width: 163px;
                height: 57px;
                box-sizing: border-box;
                border: 1px solid $gray;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: auto auto;
                transition: border-color .15s, background-color .15s;

                &:hover {
                    border-color: $gray-dark;
                    background-color: $gray-dark;
                }

                @media (min-width: $m1) {
                    width: 160px;
                    height: 56px;
                }

                @media (min-width: $m2) {
                    width: 134px;
                    height: 47px;
                    background-size: 76% auto;
                }

                @media (min-width: $m3) {
                    width: 170px;
                    height: 60px;
                }
            }

            &__apple {
                background-image: url("./img/storeApple.svg");
            }

            &__google {
                background-image: url("./img/storeGoogle.svg");
            }
        }
    }
</style>
