<template>
    <a :href="link" class="textLinkV1" :target="target">{{ name }}</a>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        link: { type: String, default: '' },
        newTab: { type: Boolean, default: false },
        name: { type: String, default: 'Ссылка в футере' },
    },
    computed: {
        target(): string | boolean {
            return this.newTab ? '_blank' : false;
        }
    }
});
</script>

<style lang="scss">
    .textLinkV1 {
        text-decoration: none;
        user-select: none;
        transition: color .15s;

        &.link {
            &__footer {
                font-size: 18px;
                line-height: 24px;

                &:hover {
                    color: $gray50;
                }

                @media (min-width: $m1) {
                    font-size: 28px;
                    line-height: 48px;
                }

                @media (min-width: $m2) {
                    font-size: 30px;
                    line-height: 35px;
                }
            }
        }
    }
</style>
