<template>
    <a :href="link" class="textLinkWithIconV1" :target="target">
        <div :class="['textLinkWithIconV1__icon', classes]" />
        <div class="textLinkWithIconV1__text">
            <div v-html="name" />
        </div>
    </a>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        link: { type: [ String, Boolean ], default: '' },
        name: { type: String, default: 'Ссылка с иконкой' },
        newTab: { type: Boolean, default: false },
        classes: { type: String, default: '' }
    },
    computed: {
        target(): string | boolean {
            return this.newTab ? '_blank' : false;
        }
    }
});
</script>

<style lang="scss">
    .textLinkWithIconV1 {
        display: flex;
        align-items: flex-start;
        color: inherit;
        font-size: 20px;
        line-height: 24px;
        text-decoration: none;
        user-select: none;

        @media (min-width: $m1) {
            display: flex;
            align-items: flex-start;
            font-size: 22px;
            line-height: 26px;
        }

        &__icon {
            position: relative;
            top: 8px;
            width: 32px;
            height: 32px;
            flex-shrink: 0;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: 32px auto;

            @media (min-width: $m2) {
                width: 38px;
                height: 38px;
                background-size: 38px auto;
            }
        }

        &__text {
            width: 100%;
            min-height: 42px;
            display: flex;
            align-items: center;
            flex-shrink: 1;
            margin-left: 15px;

            span {
                color: $yellow;
                text-decoration: none;
            }

            @media (min-width: $m1) {
                display: flex;
                align-items: center;
                margin-top: 0;
                padding-right: 0;
                /*margin-left: 0;*/
                box-sizing: border-box;
            }

            @media (min-width: $m2) {
                min-height: 44px;
            }
        }

        span {
            transition: color .15s;
        }

        &:hover {
            span {
                &:not(.tooltipWrap) {
                    color: $yellow-dark;
                }
            }
        }

        &.icon__top {
            @media (min-width: $m1) {
                display: block;
            }

            .textLinkWithIconV1__icon {
                @media (min-width: $m1) {
                    top: 0;
                    width: 39px;
                    height: 39px;
                }
            }

            .textLinkWithIconV1__text {
                min-height: 48px;

                @media (min-width: $m1) {
                    display: block;
                    align-items: flex-start;
                    margin-top: 15px;
                    margin-left: 0;
                    padding-right: 20px;
                }

                @media (min-width: $m3) {
                    min-height: 48px;
                }
            }
        }

        &.icon__top2 {
            @media (min-width: $m1) and (max-width: 1023px) {
                display: block;
                margin-bottom: 25px;

                .textLinkWithIconV1__icon {
                    top: 0;
                    width: 39px;
                    height: 39px;
                    background-size: 38px auto;
                }

                .textLinkWithIconV1__text {
                    display: block;
                    align-items: flex-start;
                    margin-top: 15px;
                    margin-left: 0;
                    padding-right: 20px;
                }
            }
        }

        .icon {
            &__advantage1,
            &__advantage2,
            &__advantage3,
            &__advantage4,
            &__advantage5,
            &__advantage6 {
                @media (min-width: $m1) {
                    background-size: 39px auto;
                }
            }

            &__advantage1 {
                background-image: url("./img/advantage1.svg");
            }

            &__advantage2 {
                background-image: url("./img/advantage2.svg");
            }

            &__advantage3 {
                background-image: url("./img/advantage3.svg");
            }

            &__advantage4 {
                background-image: url("./img/advantage4.svg");
            }

            &__advantage5 {
                background-image: url("./img/advantage5.svg");
            }

            &__advantage6 {
                background-image: url("./img/advantage6.svg");
            }

            &__file {
                width: 32px;
                height: 38px;
                background-image: url("./img/fileIcon.svg");
                background-size: auto 38px;

                @media (min-width: $m1) {
                    width: 32px;
                    height: 38px;
                    background-size: auto 38px;
                }
            }

            &__tickets {
                background-image: url("./img/tickets.svg");
            }

            &__chair2 {
                background-image: url("./img/chair2.svg");
            }

            &__wallet {
                background-image: url("./img/wallet.svg");
            }

            &__percent {
                background-image: url("./img/percent.svg");
            }

            &__calendar {
                background-image: url("./img/calendar.svg");
            }

            &__chair {
                background-image: url("./img/chair.svg");
            }

            &__chat {
                background-image: url("./img/chat.svg");
            }

            &__money {
                background-image: url("./img/money.svg");
            }

            &__news {
                background-image: url("./img/news.svg");
            }

            &__incognito {
                background-image: url("./img/incognito.svg");
            }

            &__paper {
                background-image: url("./img/paper.svg");
            }

            &__picture {
                background-image: url("./img/picture.svg");
            }

            &__pin {
                background-image: url("./img/pin.svg");
            }

            &__ATM {
                background-image: url('./img/ATM.svg');
            }

            &__bike {
                background-image: url("./img/bike.svg");
            }

            &__delivery {
                background-image: url("./img/delivery.svg");
            }

            &__family {
                background-image: url("./img/family.svg");

                @media (min-width: $m2) {
                    background-size: auto 38px;
                }
            }

            &__food {
                background-image: url("./img/food.svg");
            }

            &__food2 {
                background-image: url("./img/food2.svg");
            }

            &__wifi {
                background-image: url("./img/wifi.svg");
            }

            &__bank {
                background-image: url("./img/bank.svg");
            }

            &__pie {
                background-image: url("./img/pie.svg");
            }

            &__timer {
                background-image: url("./img/timer.svg");
            }

            &__graph {
                background-image: url("./img/graph.svg");
            }

            &__income {
                background-image: url("./img/income.svg");
            }

            &__eye {
                background-image: url("./img/eye.svg");
            }

            &__globe {
                background-image: url("./img/globe.svg");
            }

            &__health {
                background-image: url("./img/health.svg");
            }

            &__health2 {
                background-image: url("./img/health2.svg");
            }

            &__house2 {
                background-image: url("./img/house2.svg");
            }

            &__luggage {
                background-image: url("./img/luggage.svg");
            }

            &__warranty {
                background-image: url("./img/warranty.svg");
            }

            &__laptop {
                background-image: url("./img/laptop.svg");
            }

            &__exchange {
                background-image: url("./img/exchange.svg");
            }

            &__clock {
                background-image: url("./img/clock.svg");
            }

            &__car {
                background-image: url("./img/car.svg");
            }

            &__car2 {
                background-image: url("./img/car2.svg");
            }

            &__movie {
                background-image: url("./img/movie.svg");
            }

            &__roaming {
                background-image: url("./img/roaming.svg");
            }

            &__cards {
                background-image: url("./img/cards.svg");
            }
        }
    }
</style>
