<template>
    <div class="textLinkWithArrowV1" :class="classes">
        <a :href="link" :target="target"><span class="textLinkWithArrowV1__backlinkArrow" />{{ name }} <span class="textLinkWithArrowV1__arrow">›</span></a>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        link: { type: String, default: '' },
        newTab: { type: Boolean, default: false },
        name: { type: String, default: '' },
        backlink: { type: Boolean, default: false },
        linked: { type: Boolean, default: false }
    },
    computed: {
        target(): string | boolean {
            return this.newTab ? '_blank' : false;
        },
        classes(): { [paramName: string]: boolean } {
            return {
                'link__backlink': this.backlink,
                'link__linked': this.linked
            }
        }
    }
});
</script>

<style lang="scss">
    .textLinkWithArrowV1 {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        a {
            position: relative;
            display: inline-block;
            font-family: $futura-medium;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.1em;
            color: $yellow;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            user-select: none;
            transition: color .15s;

            &:hover {
                color: $yellow-dark;
            }
        }

        &__backlinkArrow {
            display: none;
        }

        &__arrow {
            position: relative;
            font-family: $futura-book;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }

        &.button {
            &__block {
                display: flex;
            }
        }

        &.link {
            &__backlink {
                opacity: .6;
                transition: opacity.15s;

                a {
                    padding-left: 15px;
                    font-size: 12px;
                    color: #fff;

                    @media (min-width: $m1) {
                        padding-left: 19px;
                        font-size: 14px;
                    }
                }

                .textLinkWithArrowV1__backlinkArrow {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 7px;
                    height: 10px;
                    display: block;
                    margin-top: -5px;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 100% 100%;
                    background-image: url("./img/arrowLeftSmallWhite.svg");

                    @media (min-width: $m1) {
                        width: 9px;
                        height: 14px;
                        margin-top: -7px;
                        background-image: url("./img/arrowLeftMidWhite.svg");
                    }
                }

                .textLinkWithArrowV1__arrow {
                    display: none;
                }

                &:hover {
                    opacity: 1;
                }
            }

            &__linked {
                height: 31px;
                display: flex;
                margin-bottom: 12px;

                @media (min-width: $m1) {
                    height: 58px;
                    margin-left: 45px;
                    margin-bottom: 0;
                }
            }
        }
    }
</style>
