<template>
    <div
        class="backToTopV1"
        @click="scrollToTop"
    />
</template>

<script lang="ts">
import Vue from 'vue';

let smoothScroll;

export default Vue.extend({
    mounted() {
        smoothScroll = () => {
            let currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
            if (currentScroll > 0) {
                window.requestAnimationFrame(smoothScroll);
                window.scrollTo(0, Math.floor(currentScroll - (currentScroll / 7)));
            }
        };
    },
    methods: {
        scrollToTop() {
            smoothScroll();
        }
    }
});
</script>

<style lang="scss">
    .backToTopV1 {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 48px;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100% 100%;
            transition: opacity .15s;
        }

        &:before {
            background-image: url("./img/backToTop.svg");
            z-index: 1;
        }

        &:after {
            background-image: url("./img/backToTopYellow.svg");
            z-index: 2;
            opacity: 0;
        }

        @media (min-width: $m3) {
            &:hover {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }
</style>
