<template>
    <div
        class="burgerV1"
        @click="toggleMenu"
    >
        <div class="burgerV1__line burgerV1__lineTop" />
        <div class="burgerV1__line burgerV1__lineMiddle" />
        <div class="burgerV1__line burgerV1__lineBottom" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    methods: {
        toggleMenu() {
            this.$emit('toggleBurger');
        },
    }
});
</script>

<style lang="scss">
    .burgerV1 {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 20px;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: 0;
            right: -10px;
        }

        &__line {
            position: absolute;
            left: 0;
            width: 28px;
            height: 2px;
            background-color: #fff;

            &Top {
                top: 0;
                transition: transform .3s;
            }

            &Middle {
                top: 9px;
                transition: opacity .1s;
            }

            &Bottom {
                bottom: 0;
                transition: transform .3s;
            }
        }
    }
</style>
