<template>
    <div :class="['accordionV1', { active: active }]">
        <div class="accordionV1__headBg" />
        <div class="accordionV1__content">
            <div class="accordionV1__head" @click="toggleAccordion">
                <div class="accordionV1__title">{{ name }}</div>
                <div v-if="info" class="accordionV1__info">{{ info }}</div>
            </div>
            <div class="accordionV1__body">
                <ContentFactory
                    v-for="(item, i) in items"
                    :key="i"
                    :item="item"
                />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import ContentFactory from '~/library/Elements/Factories/OverlayContentFactoryV1.vue';

interface IAccordionItem {
    type: string,
    [propName: string]: any
}

export default Vue.extend({
    components: {
        ContentFactory
    },
    props: {
        name: { type: String, default: 'Шапка аккордиона' },
        info: { type: String, default: null },
        items: {
            type: Array as PropType<IAccordionItem[]>,
            default(): IAccordionItem[] {
                return []
            }
        },
    },
    data(): {
        active: boolean
    } {
        return {
            active: false
        }
    },
    methods: {
        toggleAccordion() {
            this.active = !this.active;
            if (this.active) {
                this.$emit('tooltipUpdate');
            }
        }
    }
});
</script>

<style lang="scss">
    .accordionV1 {
        position: relative;
        box-sizing: border-box;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        transition: border-top-color .15s;

        &__headBg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 65px;
            background-color: #000;
            z-index: 0;
            opacity: 0;
            transition: opacity .3s;

            @media (min-width: $m1) {
                height: 75px;
            }
        }

        &__content {
            height: 63px;
            overflow: hidden;

            @media (min-width: $m1) {
                height: 73px;
            }
        }

        &.active {
            border-color: transparent;
            transition: border-top-color .3s;

            .accordionV1__headBg {
                opacity: 1;
                transition: opacity .3s;
            }

            .accordionV1__content {
                height: auto;
                overflow: visible;
            }

            .accordionV1__head {
                &:before {
                    transform: rotate(-90deg);
                    transition: transform .3s;
                }

                &:after {
                    opacity: 0;
                    transform: rotate(-90deg);
                    transition: opacity .3s, transform .3s;
                }
            }

            .accordionV1__title {
                color: #fff;
                transition: color .3s;
            }

            .accordionV1__body {
                opacity: 1;
                transition: opacity .5s;
            }
        }

        &__head {
            position: relative;
            height: 65px;
            user-select: none;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                right: 8px;
                width: 1px;
                height: 15px;
                margin-top: -9px;
                background-color: $yellow;
                z-index: 15;
                transition: transform .15s;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 1px;
                width: 15px;
                height: 1px;
                margin-top: -2px;
                background-color: $yellow;
                z-index: 15;
                transition: opacity .15s, transform .15s;
            }

            @media (min-width: $m1) {
                height: 75px;

                &:before {
                    right: 9px;
                    height: 19px;
                    margin-top: -11px;
                }

                &:after {
                    right: 0;
                    width: 19px;
                }
            }

            @media (min-width: $m2) {
                &:hover {
                    .accordionV1__title {
                        color: #fff;
                    }
                }
            }
        }

        &__title {
            position: relative;
            top: 50%;
            margin-top: -2px;
            padding-right: 40px;
            box-sizing: border-box;
            font-size: 20px;
            /*line-height: 64px;*/
            line-height: 24px;
            color: $gray65;
            z-index: 10;
            transform: translateY(-50%);
            transition: color .15s;

            @media (min-width: $m1) {
                font-size: 22px;
                /*line-height: 74px;*/
            }
        }

        &__info {
            position: absolute;
            top: 50%;
            right: 54px;
            display: none;
            margin-top: -9px;
            font-size: 16px;
            line-height: 20px;
            color: $gray65;
            z-index: 10;
            pointer-events: none;

            @media (min-width: $m1) {
                display: block;
            }

            @media (min-width: $m2) {
                display: none;
            }

            @media (min-width: $m3) {
                display: block;
            }
        }

        &__body {
            padding-top: 35px;
            padding-bottom: 55px;
            opacity: 0;
            transition: opacity .15s;

            > * {
                &:first-child {
                    margin-top: 0 !important;
                }

                &:last-child {
                    margin-bottom: 0 !important;
                }
            }

            @media (min-width: $m1) {
                padding-top: 54px;
                padding-bottom: 54px;
            }
        }

        p {
            font-size: 18px;
            line-height: 22px;

            @media (min-width: $m1) {
                font-size: 20px;
                line-height: 24px;
            }
        }

        h3 + table,
        .h3 + table {
            @media (min-width: $m1) {
                margin-top: 28px;
            }
        }
    }

    .accordionV1 + .accordionV1 {
        margin-top: -1px;

        &.active {
            border-top: none;
        }
    }
</style>
