<template>
    <div class="currenciesV1">
        <div class="currenciesV1__head">
            <div
                :class="['currenciesV1__headTitle', { 'active': position === 0 }]"
                @click="toggleSwitch"
            >
                <span class="d-m1-none">{{ title1[0] }}</span>
                <span class="d-none d-m1-block">{{ title1[1] }}</span>
            </div>
            <MySwitch
                ref="switch"
                class="currenciesV1__headSwitch"
                @positionChanged="onPositionChanged"
            />
            <div
                :class="['currenciesV1__headTitle', { 'active': position === 1}]"
                @click="toggleSwitch"
            >
                <span class="d-m1-none">{{ title2[0] }}</span>
                <span class="d-none d-m1-block">{{ title2[1] }}</span>
            </div>
        </div>

        <div class="currenciesV1__content">
            <div class="currenciesV1__contentHead">
                <div class="currenciesV1__contentHeadCell">{{ contentTitles[0] }}</div>
                <div class="currenciesV1__contentHeadCell">{{ contentTitles[1] }}</div>
                <div class="currenciesV1__contentHeadCell">{{ contentTitles[2] }}</div>
            </div>
            <div class="currenciesV1__contentBody">
                <div class="currenciesV1__contentBodyRow">
                    <div class="currenciesV1__contentBodyCell">USD</div>
                    <div class="currenciesV1__contentBodyCell">{{ rates[position].USD.buy[0] }}
                        <div class="currenciesV1__contentBodyCellTag">{{ getRates('USD', 'buy') }}</div>
                        <div class="currenciesV1__contentBodyCellOld">{{ rates[position].USD.buy[1] }}</div>
                    </div>
                    <div class="currenciesV1__contentBodyCell">{{ rates[position].USD.sell[0] }}
                        <div class="currenciesV1__contentBodyCellTag">{{ getRates('USD', 'sell') }}</div>
                        <div class="currenciesV1__contentBodyCellOld">{{ rates[position].USD.sell[1] }}</div>
                    </div>
                </div>
                <div class="currenciesV1__contentBodyRow">
                    <div class="currenciesV1__contentBodyCell">EUR</div>
                    <div class="currenciesV1__contentBodyCell">{{ rates[position].EUR.buy[0] }}
                        <div class="currenciesV1__contentBodyCellTag">{{ getRates('EUR', 'buy') }}</div>
                        <div class="currenciesV1__contentBodyCellOld">{{ rates[position].EUR.buy[1] }}</div>
                    </div>
                    <div class="currenciesV1__contentBodyCell">{{ rates[position].EUR.sell[0] }}
                        <div class="currenciesV1__contentBodyCellTag">{{ getRates('EUR', 'sell') }}</div>
                        <div class="currenciesV1__contentBodyCellOld">{{ rates[position].EUR.sell[1] }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import MySwitch from '~/library/Elements/Switches/SwitchV1.vue';

interface IRate {
    USD: {
        buy: [number, number],
        sell: [number, number]
    },
    EUR: {
        buy: [number, number],
        sell: [number, number]
    }
}

export default Vue.extend({
    components: {
        MySwitch
    },
    props: {
        title1: {
            type: Array as PropType<string[]>,
            default(): string[] {
                return ['', '']
            }
        },
        title2: {
            type: Array as PropType<string[]>,
            default(): string[] {
                return ['', '']
            }
        },
        contentTitles: {
            type: Array as PropType<string[]>,
            default(): string[] {
                return ['Валюта', 'Покупка', 'Продажа']
            }
        }
    },
    data(): {
        position: number,
        rates: Array<IRate>
    } {
        return {
            position: 0,
            rates: [
                {
                    USD: {
                        buy: [52.09, 62.76],
                        sell: [33.91, 65.23]
                    },
                    EUR: {
                        buy: [49.34, 63.21],
                        sell: [32.84, 64.47]
                    }
                }, {
                    USD: {
                        buy: [40.09, 70.57],
                        sell: [36.52, 73.32]
                    },
                    EUR: {
                        buy: [38.52, 71.98],
                        sell: [35.84, 74.65]
                    }
                }
            ]
        }
    },
    methods: {
        toggleSwitch() {
            (this.$refs.switch as any).toggleSwitch();
            // (<any>this.$refs.switch).toggleSwitch();
        },
        onPositionChanged({ left }) {
            this.position = left ? 0 : 1;
        },
        getRates(currency: string, operation: string): string {
            return `${((this.rates[this.position][currency][operation][0] / this.rates[this.position][currency][operation][1]) * 100 - 100).toString().split('.')[0]}%`;
        }
    }
});
</script>

<style lang="scss">
    .currenciesV1 {
        position: relative;

        &__head {
            display: flex;

            &Title {
                font-family: $futura-medium;
                font-size: 18px;
                line-height: 28px;
                flex-shrink: 0;
                flex-grow: 0;
                color: $gray65;
                transition: color .15s;
                cursor: pointer;

                &.active {
                    color: #fff;
                    pointer-events: none
                }

                &:hover {
                    @media (min-width: $m3) {
                        color: #fff;
                    }
                }

                @media (min-width: $m1) {
                    font-size: 22px;
                    line-height: 35px;
                }
            }

            &Switch {
                flex-shrink: 0;
                flex-grow: 0;
                margin: 0 16px;

                @media (min-width: $m1) {
                    margin: 0 20px;
                }
            }
        }

        &__content {
            margin-top: 20px;

            @media (min-width: $m1) {
                margin-top: 46px;
            }

            &Head {
                display: flex;
                justify-content: space-between;
                padding-bottom: 6px;
                border-bottom: 1px solid $gray;

                &Cell {
                    font-family: $futura-medium;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.1em;
                    color: $gray50;
                    text-transform: uppercase;

                    &:nth-of-type(1) {
                        width: 70px;
                    }
                    &:nth-of-type(2) {
                        width: 110px;
                    }
                    &:nth-of-type(3) {
                        width: 88px;
                    }
                }

                @media (min-width: $m1) {
                    padding-bottom: 11px;

                    &Cell {
                        &:nth-of-type(3) {
                            width: 100px;
                        }
                    }
                }
            }

            &Body {
                &Row {
                    height: 40px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 16px;

                    &:first-of-type {
                        margin-top: 14px;
                    }
                }

                &Cell {
                    position: relative;
                    font-size: 18px;
                    line-height: 22px;

                    &:nth-of-type(1) {
                        width: 70px;
                        font-family: $futura-demi;
                    }
                    &:nth-of-type(2) {
                        width: 110px;
                    }
                    &:nth-of-type(3) {
                        width: 88px;
                    }

                    &Tag {
                        position: absolute;
                        top: 3px;
                        left: 54px;
                        width: 34px;
                        height: 16px;
                        padding-left: 3px;
                        box-sizing: border-box;
                        font-family: $futura-medium;
                        font-size: 12px;
                        line-height: 16px;
                        color: #000;
                        background-color: $yellow;
                    }

                    &Old {
                        font-size: 14px;
                        line-height: 17px;
                        color: $gray50;
                        text-decoration-line: line-through;
                    }
                }

                @media (min-width: $m1) {
                    &Row {
                        height: 50px;
                        margin-top: 31px;

                        &:first-of-type {
                            margin-top: 26px;
                        }
                    }

                    &Cell {
                        font-size: 22px;
                        line-height: 26px;

                        &:nth-of-type(3) {
                            width: 100px;
                        }

                        &Tag {
                            top: 4px;
                            left: 66px;
                            font-size: 13px;
                            line-height: 16px;
                        }

                        &Old {
                            margin-top: 4px;
                            font-size: 15px;
                            line-height: 20px;
                        }
                    }
                }

                @media (min-width: $m3) {
                    padding-bottom: 25px;
                    border-bottom: 1px solid $gray;
                }
            }
        }
    }
</style>
