<template>
    <component
        :is="ordered ? `ol` : `ul`"
        class="listV1"
        :class="orderedClass"
    >
        <template
            v-for="(item, i) in items"
        >
            <li
                v-if="item.listItems"
                :key="i"
                :class="`listV1__item ${itemClass}`"
            >
                <div v-html="item.text" />
                <List
                    :items="item.listItems"
                    :ordered="item.ordered"
                    class="listV1__nestedList"
                />
            </li>
            <li
                v-else
                :key="i"
                :class="`listV1__item ${itemClass}`"
                v-html="item.text"
            />
        </template>
    </component>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import List from '~/library/Elements/Lists/ListV1.vue';

interface IItem {
    text: string
}

export default Vue.extend({
    name: 'List',
    components: {
        List
    },
    props: {
        items: {
            type: Array as PropType<IItem[]>,
            default(): IItem[] {
                return [
                    { text: 'Ненумерованный список текст 1' },
                    { text: 'Ненумерованный список текст 2' },
                    { text: 'Ненумерованный список текст 3' },
                    { text: 'Ненумерованный список текст 4' }
                ]
            }
        },
        itemClass: { type: String, default: '' },
        ordered: { type: Boolean, default: false }
    },
    computed: {
        orderedClass(): string {
            return this.ordered ? 'list__ordered' : 'list__unordered';
        }
    }
});
</script>

<style lang="scss">
    .listV1 {
        padding: 0;

        &__item {
            position: relative;
            list-style-type: none;
            margin: 20px 0;
            padding-left: 48px;
            font-size: 20px;
            line-height: 24px;

            &:first-of-type {
                margin-top: 0 !important;
            }

            &:last-of-type {
                margin-bottom: 0 !important;
            }

            a {
                color: $yellow;
                text-decoration: none;
            }

            @media (min-width: $m1) {
                margin: 26px 0;
                padding-left: 45px;
                font-size: 22px;
                line-height: 26px;
            }

            @media (min-width: $m3) {
                padding-left: 47px;
            }
        }

        &.list {
            &__unordered {
                > .listV1__item {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 9px;
                        left: 13px;
                        width: 8px;
                        height: 8px;
                        background-color: $yellow;
                        transform: rotate(45deg);
                    }

                    @media (min-width: $m1) {
                        &:before {
                            left: 0;
                        }
                    }

                    @media (min-width: $m2) {
                        &:before {
                            left: 3px;
                        }
                    }
                }
            }

            &__ordered {
                counter-reset: ol;

                > .listV1__item {
                    counter-increment: ol;

                    &:before {
                        content: counter(ol);
                        position: absolute;
                        top: 1px;
                        left: 13px;
                        font-family: $futura-demi;
                        font-size: 16px;
                        line-height: 22px;
                        color: $yellow;
                    }

                    @media (min-width: $m1) {
                        &:before {
                            left: 0;
                        }
                    }

                    @media (min-width: $m2) {
                        &:before {
                            left: 3px;
                        }
                    }
                }
            }
        }

        &__nestedList {
            margin-top: 20px;

            @media (min-width: $m1) {
                margin-top: 26px;
            }
        }
    }
</style>
