<template>
    <div class="fadeEffectSliderV1" :class="classes">
        <div ref="container" class="fadeEffectSliderV1__container">
            <div class="fadeEffectSliderV1__wrapper">
                <slot />
            </div>
        </div>
        <div class="fadeEffectSliderV1__navigation navigation__prev d-m2-none" />
        <div class="fadeEffectSliderV1__navigation navigation__next d-m2-none" />
        <div ref="pagination" class="fadeEffectSliderV1__pagination" />
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import Swiper, { SwiperOptions } from 'swiper';

export default Vue.extend({
    props: {
        initialSlide: { type: Number, default: 0 },
        options: {
            type: Object as PropType<SwiperOptions>,
            default(): SwiperOptions { return {} }
        },
    },
    data(): {
        ready: boolean,
        sliderObject: Swiper | null,
        optionsDefault: SwiperOptions
    } {
        return {
            ready: false,
            sliderObject: null,
            optionsDefault: {
                loop: false,
                speed: 750,
                effect: 'fade',
                fadeEffect: {
                    crossFade: true
                } as any,
                // autoHeight: true,
                setWrapperSize: true,
                roundLengths: false,
                watchSlidesVisibility: false,
                /*preloadImages: false,
                lazy: {
                    loadPrevNext: true,
                    loadOnTransitionStart: true
                },*/
                wrapperClass: 'fadeEffectSliderV1__wrapper',
                slideClass: 'fadeEffectSliderV1__item',
                /*keyboard: {
                    enabled: true
                },*/
                preventInteractionOnTransition: true,
                followFinger: false,
                simulateTouch: true,
                on: {
                    init: (this as any).onInit,
                    transitionStart: (this as any).onTransitionStart,
                    // transitionEnd: this.onTransitionEnd,
                    // beforeDestroy: this.onBeforeDestroy
                }
            }
        }
    },
    computed: {
        classes(): { [paramName: string]: boolean } {
            return {
                'slider__ready': this.ready
            }
        }
    },
    watch: {
        initialSlide(val) {
            this.slideToIndex(val);
        }
    },
    mounted() {
        this.sliderObject = new Swiper((this.$refs.container as HTMLElement), {
            ...this.optionsDefault,
            ...this.options,
            navigation: {
                // prevEl: this.$refs.prev,
                // nextEl: this.$refs.next
                prevEl: '.navigation__prev',
                nextEl: '.navigation__next'
            },
            pagination: {
                el: (this.$refs.pagination as HTMLElement),
                clickable: true
            }
        });

        window.addEventListener('resize', this.onResize);
        this.onResize();
    },
    beforeDestroy() {
        if (this.sliderObject) {
            this.sliderObject.destroy(true, false);
        }
        window.removeEventListener('resize', this.onResize);
    },
    methods: {
        onInit() {
            setTimeout(() => {
                if (this.sliderObject) {
                    this.sliderObject.updateSlidesClasses();
                    this.ready = true;
                }
            }, 100);
        },
        onTransitionStart() {
            if (this.sliderObject) {
                this.$emit('sliderChanged', this.sliderObject.activeIndex);
            }
        },
        onResize() {
            if (this.sliderObject) {
                this.sliderObject.update();
                /*setTimeout(() => {
                    this.sliderObject.update();
                }, 100);*/
            }
        },
        slideToIndex(index: number) {
            if (this.sliderObject) {
                this.sliderObject.slideTo(index, 0, false);
            }
        }
    }
});
</script>

<style lang="scss">
    .fadeEffectSliderV1 {
        position: relative;
        min-height: 100%;
        display: flex;
        align-items: stretch;
        margin: 0 auto;
        padding: 0 0 30px;
        box-sizing: border-box;
        z-index: 10;
        opacity: 0;

        @media (min-width: $m1) {
            height: 100%;
        }

        &.slider__ready {
            opacity: 1;
            transition: opacity .3s;
        }

        &__container {
            position: relative;
            min-width: 100%;
            overflow: hidden;
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            direction: ltr;
            backface-visibility: hidden;
            z-index: 10;
        }

        &__wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            z-index: 1;
            transition-timing-function: cubic-bezier(.67,0,.33,1);
        }

        &__item {
            position: relative;
            height: 100%;
            overflow: hidden;
            flex-shrink: 0;
            margin-right: 0;
            background-color: transparent;
            z-index: 1;
            pointer-events: none;

            &.swiper-slide-active {
                z-index: 5;
                pointer-events: auto;
            }
        }

        &__itemBg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            z-index: 0;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 19.1%, #000 62.09%);
            }
        }

        &__itemContent {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0 auto;
            padding: 137px $content-side-padding 145px;
            box-sizing: border-box;
            z-index: 1;

            @media (min-width: $m1) {
                display: block;
                padding: 172px $content-side-padding-m1 80px;
            }

            @media (min-width: $m2) {
                width: calc(100% - 70px);
                max-width: $content-max-width;
                display: flex;
                align-items: center;
                margin: 0 auto;
                padding: 1px 0 0;
            }
        }

        &__itemContent2 {
            position: relative;
            height: 100%;
            display: flex;
            margin: 0 auto;
            padding: 162px $content-side-padding 0;
            box-sizing: border-box;
            z-index: 1;

            @media (min-width: $m1) {
                padding: 202px $content-side-padding-m1 0;
            }

            @media (min-width: $m2) {
                width: calc(100% - 70px);
                max-width: $content-max-width;
                display: flex;
                align-items: center;
                flex-direction: row;
                padding: 1px 0 0;
            }
        }

        &__itemInnerContent {
            position: relative;
            min-width: 100%;
            min-height: 100%;
            flex-direction: column;
            box-sizing: border-box;

            @media (min-width: $m2) {
                top: 52px;
                min-height: inherit;
                height: 350px;
                flex-direction: row;
                padding: 1px 0 0;
            }

            @media (min-width: $m3) {
                top: 40px;
            }
        }

        &__navigationWrap {
            position: relative;
            height: 34px;
            margin-top: 65px;

            @media (max-height: 700px) {
                margin-top: 25px;
            }
        }

        &__navigation {
            position: absolute;
            bottom: 9px;
            width: 36px;
            height: 24px;
            outline: none;
            z-index: 20;
            transition: color .15s, opacity .15s;
            cursor: pointer;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: auto auto;
                transition: opacity .15s, background-image .15s;

                @media (min-width: $m1) {
                    background-size: 32px auto;
                }
            }

            &:before {
                background-image: url("./img/arrowRightSmallGray.svg");
            }

            &:after {
                background-image: url("./img/arrowRightSmallGray.svg");
                opacity: 0;
            }

            &.navigation__prev {
                left: 8px;
                transform: scaleX(-1);

                @media (min-width: $m1) {
                    left: 28px;
                }

                @media (min-width: $m2) {
                    bottom: 0;
                    left: -6px;
                }
            }

            &.navigation__next {
                right: 8px;

                @media (min-width: $m1) {
                    right: 28px;
                }

                @media (min-width: $m2) {
                    bottom: 0;
                    left: 64px;
                    right: auto;
                }
            }

            &:hover {
                color: #fff;

                &:before {
                    opacity: 0;
                }
                &:after {
                    opacity: 1;
                }
            }

            &.swiper-button-disabled {
                opacity: 0;
                pointer-events: none;

                @media (min-width: $m1) {
                    opacity: 1;

                    &:before {
                        background-image: url("./img/arrowRightMidDarkGray.svg");
                    }
                }
            }

            @media (min-width: $m1) {
                bottom: 13px;
                width: 45px;
                height: 34px;

                &:before {
                    background-image: url("./img/arrowRightMidGray.svg");
                }

                &:after {
                    background-image: url("./img/arrowRightMidWhite.svg");
                }
            }
        }

        &__pagination {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 17px;
            height: 10px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            z-index: 15;

            .swiper-pagination-bullet {
                width: 6px;
                height: 6px;
                margin: 0 4px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.4);
                outline: none;
                transition: all .15s linear;
                cursor: pointer;

                @media (min-width: $m3) {
                    &:hover {
                        background-color: #fff;
                    }
                }
            }

            .swiper-pagination-bullet-active {
                width: 10px;
                height: 10px;
                background-color: $yellow;
                pointer-events: none;
            }

            @media (min-width: $m1) {
                bottom: 25px;
            }

            @media (min-width: $m2) {
                bottom: 19px;
            }

            @media (min-width: $m3) {
                bottom: 19px;
            }
        }
    }

</style>
