<template>
    <div class="slideEffectSliderV1">
        <div ref="container" class="slideEffectSliderV1__container">
            <div class="slideEffectSliderV1__wrapper">
                <slot />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import Swiper, { SwiperOptions } from 'swiper';

export default Vue.extend({
    props: {
        options: {
            type: Object as PropType<SwiperOptions>,
            default(): SwiperOptions { return {} }
        },
    },
    data(): {
        sliderObject: Swiper | null,
        optionsDefault: SwiperOptions
    } {
        return {
            sliderObject: null,
            optionsDefault: {
                loop: false,
                speed: 650,
                slidesPerView: 'auto',
                spaceBetween: 25,
                centeredSlides: true,
                setWrapperSize: true,
                roundLengths: false,
                watchSlidesVisibility: false,
                breakpointsInverse: true,
                breakpoints: {
                    768: {
                        centeredSlides: false,
                        slidesOffsetBefore: 34,
                        slidesOffsetAfter: 34,
                        spaceBetween: 80
                    },
                    1024: {
                        centeredSlides: true,
                        slidesOffsetBefore: 0,
                        slidesOffsetAfter: 0,
                        spaceBetween: 30
                    },
                    1280: {
                        spaceBetween: 110
                    }
                },
                /*preloadImages: false,
                lazy: {
                    loadPrevNext: true,
                    loadOnTransitionStart: true
                },*/
                wrapperClass: 'slideEffectSliderV1__wrapper',
                slideClass: 'slideEffectSliderV1__item',
                /*keyboard: {
                    enabled: true
                },*/
                preventInteractionOnTransition: true,
                followFinger: false,
                simulateTouch: true,
                on: {
                    init: (this as any).onInit,
                    // transitionStart: this.onTransitionStart,
                    // transitionEnd: this.onTransitionEnd,
                    // beforeDestroy: this.onBeforeDestroy
                }
            }
        }
    },
    mounted() {
        this.sliderObject = new Swiper((this.$refs.container as HTMLElement), {
            ...this.optionsDefault,
            ...this.options,
            navigation: {
                prevEl: (this.$refs.prev as HTMLElement),
                nextEl: (this.$refs.next as HTMLElement)
            },
            pagination: {
                el: (this.$refs.pagination as HTMLElement),
            }
        });
    },
    beforeDestroy() {
        if (this.sliderObject) {
            this.sliderObject.destroy(true, true);
        }
    },
    methods: {
        onInit() {
            setTimeout(() => {
                if (this.sliderObject) {
                    this.sliderObject.updateSlidesClasses();
                    this.hidePrevSlides(this.sliderObject.activeIndex);
                }
            }, 100);
        },
        getPrevSlides(el) {
            let _result: HTMLElement[] = [];

            while (el = el.previousElementSibling) {
                _result.push(el);
            }
            return _result;
        },
        hidePrevSlides(index: number) {
            if (this.sliderObject) {
                let _ar = this.getPrevSlides((this.sliderObject.slides as any).eq(index)[0]);

                if (_ar.length > 0) {
                    _ar.forEach((slide: HTMLElement) => {
                        slide.classList.add('slide-prev');
                    });
                }

                for (let i = index; i < this.sliderObject.slides.length; i++) {
                    (this.sliderObject.slides as any).eq(i)[0].classList.remove('slide-prev');
                }
            }
        },
        slideToIndex(index: number) {
            if (this.sliderObject) {
                let _speed = this.options.speed || this.optionsDefault.speed || 500;
                this.sliderObject.slideTo(index, _speed, true);
                this.hidePrevSlides(index);
            }
        }
    },
});
</script>

<style lang="scss">
    .slideEffectSliderV1 {
        position: relative;
        width: 100%;
        height: 205px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        z-index: 10;

        @media (min-width: $m1) {
            height: 292px;
        }

        @media (min-width: $m3) {
            height: 330px;
        }

        &__container {
            position: relative;
            /*width: 100%;*/
            height: 100%;
            overflow: hidden;
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            direction: ltr;
            backface-visibility: hidden;
            z-index: 10;
        }

        &__wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            /*justify-content: center;*/
            /*align-items: center;*/
            /*box-sizing: content-box;*/
            z-index: 1;
            transition-timing-function: cubic-bezier(.67,0,.33,1);
        }

        &__item {
            position: relative;
            width: 260px;
            height: 165px;
            overflow: hidden;
            flex-shrink: 0;
            margin-top: 20px;
            margin-right: 0;
            border-radius: 10px;
            background: $gray;
            box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
            z-index: 1;

            /*&.swiper-slide-active {}*/

            @media (min-width: $m1) {
                width: 400px;
                height: 252px;

                &:last-of-type {
                    margin-right: calc(100vw - 400px - 68px);
                }
            }

            @media (min-width: $m2) {
                width: 380px;
                height: 239px;
                transition: opacity .35s .25s;

                &:last-of-type {
                    margin-right: 0;
                }

                &.slide-prev {
                    opacity: 0;
                    transition: opacity .35s .1s;
                }
            }

            @media (min-width: $m3) {
                width: 460px;
                height: 290px;
            }
        }

        &__itemImg {
            width: 100%;
            height: 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100% 100%;
        }
    }

</style>
