<template>
    <div class="starsV1">
        <div
            v-for="(item, i) in total"
            :key="i"
            :class="['starsV1__item', { 'starsV1__itemActive': i + 1 <= active }]"
        />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    // components: {},
    props: {
        total: { type: Number, default: 5 },
        active: { type: Number, default: 0 }
    },
    // methods: {},
});
</script>

<style lang="scss">
    .starsV1 {
        display: flex;
        justify-content: space-between;

        @media (min-width: $m1) {
            justify-content: flex-start;
        }

        &__item {
            position: relative;
            width: 36px;
            height: 34px;
            flex-shrink: 0;
            flex-grow: 0;

            &:last-of-type {
                margin-right: 0;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 100% 100%;
                transition: opacity .15s;
            }

            &:before {
                background-image: url("./img/starEmpty.svg");
                z-index: 1;
            }

            &:after {
                background-image: url("./img/starFilled.svg");
                z-index: 2;
                opacity: 0;
            }

            @media (min-width: $m1) {
                width: 41px;
                height: 39px;
                margin-right: 31px;
            }
        }

        &__itemActive {
            &:after {
                opacity: 1;
            }
        }
    }
</style>
