<template>
    <div
        :class="['premiumDirectSwitchV1', { open: open }]"
    >
        <span class="premiumDirectSwitchV1__arrow" @click="toggleOpen" />
        <ul class="premiumDirectSwitchV1__logosList">
            <li :class="['premiumDirectSwitchV1__logoItem', { hover: link1Hover && open }]">
                <a
                    :href="premiumLink"
                    class="premiumDirectSwitchV1__logoLink"
                    @mouseenter="link1Hover = true"
                    @mouseleave="link1Hover = false"
                >
                    <img
                        class="premiumDirectSwitchV1__logoImg first__img"
                        src="./img/logoPremium.svg"
                        alt=""
                    >
                </a>
            </li>
            <li :class="['premiumDirectSwitchV1__logoItem', { hover: link2Hover }]">
                <a
                    :href="directLink"
                    class="premiumDirectSwitchV1__logoLink"
                    @mouseenter="link2Hover = true"
                    @mouseleave="link2Hover = false"
                >
                    <img
                        class="premiumDirectSwitchV1__logoImg"
                        src="./img/logoDirect.svg"
                        alt=""
                    >
                </a>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        premiumLink: { type: String, default: 'mainPage.html' },
        directLink: { type: String, default: '' },
    },
    data(): {
        open: boolean,
        link1Hover: boolean,
        link2Hover: boolean,
    } {
        return {
            open: false,
            link1Hover: false,
            link2Hover: false
        }
    },
    methods: {
        toggleOpen(e, close) {
            if (close) {
                this.open = false;
            } else {
                this.open = !this.open;
            }
            if (this.open) {
                this.$emit('premiumDirectOpened');
            }
        }
    },
});
</script>

<style lang="scss">
    .premiumDirectSwitchV1 {
        background-color: transparent;
        transition: background-color .15s;
        pointer-events: none;

        * {
            pointer-events: none;
        }

        &__arrow {
            position: absolute;
            top: 32px;
            left: 240px;
            width: 28px;
            height: 18px;
            transition: transform .2s;
            z-index: 10;
            cursor: pointer;
            pointer-events: auto;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 5px;
                left: 7px;
                width: 14px;
                height: 9px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 100% 100%;
                transition: opacity .15s;
            }

            &:before {
                background-image: url("./img/arrowDownMidWhite.svg");
                z-index: 0;
            }

            &:after {
                background-image: url("./img/arrowDownMidGray.svg");
                z-index: 1;
                opacity: 0;
            }

            @media (min-width: $m0) {
                left: 264px;
            }

            @media (min-width: $m1) {
                top: 29px;
                left: 218px;
            }

            @media (min-width: $m3) {
                left: 229px;

                &:hover {
                    &:before {
                        opacity: 0;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        &__logosList {
            display: block;
            margin: 0;
            padding: 0;
            list-style-type: none;
            z-index: 5;
        }

        &__logoItem {
            position: relative;
            overflow: hidden;
            display: block;
            transition: background-color .15s, opacity .15s;

            &:nth-of-type(1) {
                a {
                    pointer-events: auto
                }
            }

            &:nth-of-type(2) {
                border-top: 1px solid $gray;
                opacity: 0;
                pointer-events: none;
            }

            &.hover {
                background-color: #000;
            }
        }

        &__logoLink {
            position: relative;
            display: inline-block;
            margin-top: 23px;
            margin-left: 64px;
            z-index: 1;

            @media (min-width: $m1) {
                margin-top: 20px;
                margin-left: 18px;
            }

            @media (min-width: $m3) {
                margin-top: 17px;
            }
        }

        &__logoImg {
            width: 173px;
            display: block;
            cursor: pointer;

            &.first__img {
                width: 166px;
            }

            @media (min-width: $m0) {
                width: 199px;

                &.first__img {
                    width: 190px;
                }
            }

            @media (min-width: $m3) {
                width: 210px;

                &.first__img {
                    width: 200px;
                }
            }
        }

        &.open {
            background-color: rgba($gray-dark, 0.85);
            z-index: 15;
            pointer-events: auto;

            * {
                pointer-events: auto;
            }

            .premiumDirectSwitchV1__arrow {
                transform: rotate(180deg);
            }

            .premiumDirectSwitchV1__logoItem {
                &:nth-of-type(2) {
                    opacity: 1;
                }
            }
        }
    }
</style>
