<template>
    <header :class="['pageHeader', classes]">
        <img src="./img/headerBg.png" class="pageHeader__bg" alt="">

        <div class="pageHeader__main">
            <div class="pageHeader__top">
                <span
                    class="pageHeader__openTopNav"
                    @click="onToggleTopNav"
                >{{ topNavMobileTitle }}</span>

                <div class="pageHeader__topLeftNavMobileWrap">
                    <nav class="pageHeader__topLeftNavMobile">
                        <a
                            v-for="(link, i) in topLinksMobile"
                            :key="i"
                            :href="link.link"
                            :target="link.newTab ? '_blank' : false"
                            class="pageHeader__topLeftLinkMobile"
                        >{{ link.text }}<span v-if="link.subtext">{{ link.subtext }}</span>
                        </a>
                    </nav>
                </div>

                <nav class="pageHeader__topLeftNav">
                    <a
                        v-for="(link, i) in topLinks"
                        :key="i"
                        :href="link.link"
                        :target="link.newTab ? '_blank' : false"
                        class="pageHeader__topLeftLink"
                    >{{ link.text }}</a>
                </nav>

                <ul class="pageHeader__topRightNav">
                    <li class="pageHeader__topRightNavItem">
                        <a
                            :href="`tel:${phone.number}`"
                            class="pageHeader__topRighLink pageHeader__phoneLink"
                        >{{ phone.numberFormatted }}</a>
                    </li>
                    <li class="pageHeader__topRightNavItem">
                        <a
                            :href="officesLink.link"
                            :target="officesLink.newTab ? '_blank' : false"
                            class="pageHeader__topRighLink pageHeader__officesLink"
                            v-html="officesLink.text"
                        />
                    </li>
                    <li class="pageHeader__topRightNavItem">
                        <a
                            :href="cityLink.link"
                            :target="cityLink.newTab ? '_blank' : false"
                            class="pageHeader__topRighLink pageHeader__cityLink"
                            v-html="cityLink.text"
                        />
                    </li>
                    <li class="pageHeader__topRightNavItem">
                        <a
                            :href="langLink.link"
                            :target="langLink.newTab ? '_blank' : false"
                            class="pageHeader__topRighLink pageHeader__langLink"
                            v-html="langLink.text"
                        />
                    </li>
                </ul>
            </div>

            <div class="pageHeader__bottom">
                <div class="pageHeader__bottomNavMobileWrap">
                    <div class="pageHeader__bottomNavPhone">
                        <ul class="pageHeader__bottomNavListMobile">
                            <li
                                v-for="(link, i) in bottomLinksPhone"
                                :key="i"
                                class="pageHeader__bottomNavListItemPhone"
                            >
                                <Accordion
                                    :name="link.text"
                                    :items="[{
                                        type: 'headerLinks',
                                        items: submenus.find(menu => menu.tag === link.tag).links
                                    }]"
                                />
                            </li>
                            <li class="pageHeader__bottomNavListItemPhone">
                                <a
                                    :href="bottomDirectLink.link"
                                    :target="bottomDirectLink.newTab ? '_blank' : false"
                                    class="pageHeader__bottomLinkMobile pageHeader__linkDirect"
                                >{{ bottomDirectLink.text }}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="pageHeader__bottomNavMobile">
                        <ul class="pageHeader__bottomNavListMobile row">
                            <li
                                v-for="(link, i) in bottomLinksMobile"
                                :key="i"
                                class="pageHeader__bottomNavListItemMobile col col-12 col-m1-6"
                            >
                                <span
                                    :class="['pageHeader__bottomLinkMobile', { active: link.active }]"
                                    @click="onMenuItemClick(link.tag)"
                                >{{ link.text }}</span>
                            </li>
                            <li class="pageHeader__bottomNavListItemMobile col col-12 col-m1-6">
                                <a
                                    :href="bottomDirectLink.link"
                                    :target="bottomDirectLink.newTab ? '_blank' : false"
                                    class="pageHeader__bottomLinkMobile"
                                >{{ bottomDirectLink.text }}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="pageHeader__bottomSubmenusWrap">
                        <Submenu
                            v-for="(submenu, i) in submenus"
                            :key="i"
                            :links="submenu.links"
                            :class="['pageHeader__bottomSubmenu', { 'submenu-active': submenu.active }]"
                        />
                    </div>
                </div>

                <div class="pageHeader__bottomFooter">
                    <div class="pageHeader__bottomFooterContent">
                        <div class="pageHeader__bottomFooterPhoneWrap">
                            <a
                                :href="`tel:${phone.number}`"
                                class="pageHeader__bottomFooterPhone"
                            >{{ phone.numberFormatted }}</a>
                        </div>
                        <div class="pageHeader__bottomFooterNavWrap">
                            <nav class="pageHeader__bottomFooterNav">
                                <a
                                    v-for="(link, i) in bottomFooterLinks"
                                    :key="i"
                                    :href="link.link"
                                    :target="link.newTab ? '_blank' : false"
                                    class="pageHeader__bottomFooterLink"
                                >{{ link.text }}</a>
                            </nav>
                        </div>
                        <div class="pageHeader__bottomFooterIconsWrap">
                            <IconsNav
                                :links="storeIcons"
                                class="pageHeader__bottomFooterIconsNav"
                            />
                        </div>
                    </div>
                </div>

                <Burger
                    class="pageHeader__burger"
                    @toggleBurger="onToggleBurger"
                />

                <PremiumDirectLinks
                    ref="premiumDirectLinks"
                    :premium-link="premiumLink"
                    :direct-link="directLink"
                    class="pageHeader__premiumDirectLinks"
                    @premiumDirectOpened="onPremiumDirectOpened"
                />

                <div class="pageHeader__bottomNav">
                    <span
                        v-for="(link, i) in bottomLinks"
                        :key="i"
                        :class="['pageHeader__bottomNavItem', { active: link.active }]"
                        @click="onMenuItemClick(link.tag)"
                    >{{ link.text }}</span>
                    <a
                        :href="bottomDirectLink.link"
                        :target="bottomDirectLink.newTab ? '_blank' : false"
                        class="pageHeader__bottomNavItem"
                    >{{ bottomDirectLink.text }}</a>
                </div>

                <a href="" class="pageHeader__phoneLink2" />
            </div>
        </div>
    </header>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import ContentOverlay from '~/library/Elements/Overlays/ContentOverlayV1.vue';
import Burger from '~/library/Elements/Icons/BurgerV1.vue';
import PremiumDirectLinks from '~/library/Elements/PremiumDirectSwitch/PremiumDirectSwitchV1.vue';
import Submenu from '~/library/Elements/Menus/MenuV1.vue';
import IconsNav from '~/library/Elements/Navigations/IconsNavV1.vue';
import Accordion from '~/library/Elements/Accordions/AccordionV1.vue';

interface IPhone {
    number: string,
    numberFormatted: string
}

interface ILink {
    link: string,
    text: string,
    subtext?: string,
    newTab?: boolean
}

interface IBottomLinkPhone {
    text: string,
    tag: string
}

interface IBottomLink {
    active: boolean,
    text: string,
    tag: string
}

interface IStoreLink {
    link: string,
    icon: string,
    newTab?: boolean
}

interface ISubmenuLink {
    link: string,
    text: string,
    tag: string
    newTab?: boolean,
}

interface ISubmenu {
    active: boolean,
    tag: string,
    links: ISubmenuLink[]
}

export default Vue.extend({
    components: {
        Burger,
        PremiumDirectLinks,
        Submenu,
        IconsNav,
        Accordion
    },
    props: {
        topNavMobileTitle: { type: String, default: 'Премиум' },
        phone: {
            type: Object as PropType<IPhone>,
            default(): IPhone {
                return {
                    number: '88007005626',
                    numberFormatted: '8 800 700 56 26'
                }
            }
        },
        topLinksMobile: {
            type: Array as PropType<ILink[]>,
            default(): ILink[] {
                return [
                    { link: '', newTab: false, text: 'Для жизни' },
                    { link: '', newTab: false, text: 'Малому бизнесу' },
                    { link: '', newTab: false, text: 'Корпоративному бизнесу' },
                    { link: '', newTab: true, text: 'Premium', subtext: 'Премиальное обслуживание' },
                    { link: '', newTab: true, text: 'Private', subtext: 'Private Banking' },
                    { link: '', newTab: true, text: 'О банке' }
                ]
            }
        },
        topLinks: {
            type: Array as PropType<ILink[]>,
            default(): ILink[] {
                return [
                    { link: '', newTab: false, text: 'Для жизни' },
                    { link: '', newTab: false, text: 'Малому бизнесу' },
                    { link: '', newTab: false, text: 'Корпоративному бизнесу' },
                    { link: '', newTab: true, text: 'Премиальное обслуживание' },
                    { link: '', newTab: true, text: 'Private banking' },
                    { link: '', newTab: true, text: 'О банке' }
                ]
            }
        },
        officesLink: {
            type: Object as PropType<ILink>,
            default(): ILink {
                return {
                    link: '',
                    text: '<span>офисы  и </span> банкоматы',
                    newTab: false
                }
            }
        },
        cityLink: {
            type: Object as PropType<ILink>,
            default(): ILink {
                return {
                    link: '',
                    text: 'Москва',
                    newTab: false
                }
            }
        },
        langLink: {
            type: Object as PropType<ILink>,
            default(): ILink {
                return {
                    link: '',
                    text: 'EN',
                    newTab: true
                }
            }
        },
        premiumLink: { type: String, default: 'mainPage.html' },
        directLink: { type: String, default: 'insurancePage.html' },
        bottomLinksPhone: {
            type: Array as PropType<IBottomLinkPhone[]>,
            default(): IBottomLinkPhone[] {
                return [
                    {
                        text: 'Комфорт в путешествиях',
                        tag: 'traveling'
                    }, {
                        text: 'Обслуживание',
                        tag: 'manager'
                    }, {
                        text: 'Кредиты',
                        tag: 'credits'
                    }, {
                        text: 'Вклады',
                        tag: 'deposits'
                    }, {
                        text: 'Инвестиции',
                        tag: 'broker'
                    }, {
                        text: 'Карты',
                        tag: 'cards'
                    }, {
                        text: 'Страхование',
                        tag: 'insurance'
                    }
                ]
            }
        },
        bottomLinksMobile: {
            type: Array as PropType<IBottomLink[]>,
            default(): IBottomLink[] {
                return [
                    {
                        active: false,
                        text: 'Комфорт в путешествиях',
                        tag: 'traveling'
                    }, {
                        active: false,
                        text: 'Инвестиции',
                        tag: 'broker'
                    }, {
                        active: false,
                        text: 'Обслуживание',
                        tag: 'manager'
                    }, {
                        active: false,
                        text: 'Карты',
                        tag: 'cards'
                    }, {
                        active: false,
                        text: 'Кредиты',
                        tag: 'credits'
                    }, {
                        active: false,
                        text: 'Страхование',
                        tag: 'insurance'
                    }, {
                        active: false,
                        text: 'Вклады',
                        tag: 'deposits'
                    }
                ]
            }
        },
        bottomLinks: {
            type: Array as PropType<IBottomLink[]>,
            default(): IBottomLink[] {
                return [
                    {
                        active: false,
                        text: 'Комфорт в путешествиях',
                        tag: 'traveling'
                    }, {
                        active: false,
                        text: 'Обслуживание',
                        tag: 'manager'
                    }, {
                        active: false,
                        text: 'Кредиты',
                        tag: 'credits'
                    }, {
                        active: false,
                        text: 'Вклады',
                        tag: 'deposits'
                    }, {
                        active: false,
                        text: 'Инвестиции',
                        tag: 'broker'
                    }, {
                        active: false,
                        text: 'Карты',
                        tag: 'cards'
                    }, {
                        active: false,
                        text: 'Страхование',
                        tag: 'insurance'
                    }
                ]
            }
        },
        bottomDirectLink: {
            type: Object as PropType<ILink>,
            default(): ILink {
                return { link: '', newTab: false, text: 'Premium Direct' }
            }
        },
        bottomFooterLinks: {
            type: Array as PropType<ILink[]>,
            default(): ILink[] {
                return [
                    { link: '', newTab: false, text: 'Акции' },
                    { link: '', newTab: false, text: 'Пресс-Центр' },
                    { link: '', newTab: false, text: 'Реквизиты' }
                ]
            }
        },
        storeIcons: {
            type: Array as PropType<IStoreLink[]>,
            default(): IStoreLink[] {
                return [
                    { link: '', newTab: true, icon: 'store__icon store__apple' },
                    { link: '', newTab: true, icon: 'store__icon store__google' }
                ]
            }
        },
        submenus: {
            type: Array as PropType<ISubmenu[]>,
            default(): ISubmenu[] {
                return [
                    {
                        active: false,
                        tag: 'traveling',
                        links: [
                            {
                                link: 'travelingPage',
                                newTab: false,
                                text: 'Безлимитный Priority Pass',
                                tag: 'travelingTag1'
                            }, {
                                link: 'travelingPage',
                                newTab: false,
                                text: 'Бесплатное снятие наличных за рубежом',
                                tag: 'travelingTag2'
                            }, {
                                link: 'travelingPage',
                                newTab: false,
                                text: 'Бесплатное страхование в путешествиях для всей семьи',
                                tag: 'travelingTag3'
                            }, {
                                link: 'travelingPage',
                                newTab: false,
                                text: 'Экстренная выдача наличных за рубежом в случае утери карты',
                                tag: 'travelingTag4'
                            }, {
                                link: 'travelingPage',
                                newTab: false,
                                text: 'Специальный курс обмена валют',
                                tag: 'travelingTag5'
                            }, {
                                link: 'travelingPage',
                                newTab: false,
                                text: 'Обратный звонок',
                                tag: 'travelingTag6'
                            }
                        ]
                    }, {
                        active: false,
                        tag: 'manager',
                        links: [
                            {
                                link: 'managerPage',
                                newTab: false,
                                text: 'Персональный менеджер',
                                tag: 'managerTag1'
                            }, {
                                link: 'managerPage',
                                newTab: false,
                                text: 'Выделенные зоны обслуживания',
                                tag: 'managerTag2'
                            }, {
                                link: 'managerPage',
                                newTab: false,
                                text: 'Выделенная телефонная линия Premium Line 24/7',
                                tag: 'managerTag3'
                            }
                        ]
                    }, {
                        active: false,
                        tag: 'credits',
                        links: [
                            {
                                link: 'creditsPage',
                                newTab: false,
                                text: 'Кредит на любые цели',
                                tag: 'creditsTag1'
                            }, {
                                link: 'creditsPage',
                                newTab: false,
                                text: 'Ипотека на новостройки',
                                tag: 'creditsTag2'
                            }, {
                                link: 'creditsPage',
                                newTab: false,
                                text: 'Нецелевой кредит под залог жилья',
                                tag: 'creditsTag3'
                            }
                        ]
                    }, {
                        active: false,
                        tag: 'deposits',
                        links: [
                            {
                                link: 'depositsPage',
                                newTab: false,
                                text: 'Вклад «Добро пожаловать»',
                                tag: 'depositsTag1'
                            }, {
                                link: 'depositsPage',
                                newTab: false,
                                text: 'Накопительный счет «На каждый день»',
                                tag: 'depositsTag2'
                            }
                        ]
                    }, {
                        active: false,
                        tag: 'broker',
                        links: [
                            {
                                link: 'brokerPage',
                                newTab: false,
                                text: 'Паевые инвестиционные фонды',
                                tag: 'brokerTag1'
                            }, {
                                link: 'brokerPage',
                                newTab: false,
                                text: 'Доверительное управление',
                                tag: 'brokerTag2'
                            }, {
                                link: 'brokerPage',
                                newTab: false,
                                text: 'Индивидуальный инвестиционный счет',
                                tag: 'brokerTag3'
                            }, {
                                link: 'brokerPage',
                                newTab: false,
                                text: 'Брокерское обслуживание',
                                tag: 'brokerTag4'
                            }
                        ]
                    }, {
                        active: false,
                        tag: 'cards',
                        links: [
                            {
                                link: 'cardsPage',
                                newTab: false,
                                text: 'Mastercard World Black Edition Premium',
                                tag: 'cardsTag1'
                            }, {
                                link: 'cardsPage',
                                newTab: false,
                                text: 'Visa Platinum Premium',
                                tag: 'cardsTag2'
                            }, {
                                link: 'cardsPage',
                                newTab: false,
                                text: 'Masterсard Buy&Fly Premium Rewards',
                                tag: 'cardsTag3'
                            }, {
                                link: 'cardsPage',
                                newTab: false,
                                text: 'Austrian Airlines Masterсard World Black',
                                tag: 'cardsTag4'
                            }, {
                                link: 'cardsPage',
                                newTab: false,
                                text: 'Visa Platinum Travel Premium Rewards',
                                tag: 'cardsTag5'
                            }
                        ]
                    }, {
                        active: false,
                        tag: 'insurance',
                        links: [
                            {
                                link: 'insurancePage',
                                newTab: false,
                                text: 'Накопительное страхование жизни',
                                tag: 'insuranceTag1'
                            }, {
                                link: 'insurancePage',
                                newTab: false,
                                text: 'Инвестиционное страхование жизни Forward',
                                tag: 'insuranceTag2'
                            }, {
                                link: 'insurancePage',
                                newTab: false,
                                text: 'Страхование жизни и здоровья',
                                tag: 'insuranceTag3'
                            }, {
                                link: 'insurancePage',
                                newTab: false,
                                text: 'Страхование недвижимости',
                                tag: 'insuranceTag4'
                            }, {
                                link: 'insurancePage',
                                newTab: false,
                                text: 'Страхование путешествий «Вояж Первый класс»',
                                tag: 'insuranceTag5'
                            }, {
                                link: 'insurancePage',
                                newTab: false,
                                text: 'Страховая программа «Мой безопасный банк»',
                                tag: 'insuranceTag6'
                            }
                        ]
                    }
                ]
            }
        },
    },
    data(): {
        topNavShow: boolean,
        burgerShow: boolean,
        bottomSubnavShow: boolean
    } {
        return {
            topNavShow: false,
            burgerShow: false,
            bottomSubnavShow: false
        }
    },
    computed: {
        classes(): { [paramName: string]: boolean } {
            return {
                'top-nav-active': this.topNavShow,
                'bottom-nav-active': this.burgerShow,
                'bottom-subnav-active': this.bottomSubnavShow
            }
        }
    },
    mounted() {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'setTopNav' && state.topNavOpen) {
                setTimeout(() => {
                    this.closeAll();
                    this.$store.dispatch('setTopNav', { open: false });
                }, 100);
            }
        });

        const ContentOverlayInstance = new Vue({
            ...ContentOverlay
        });

        ContentOverlayInstance.$on('overlayClicked', () => {
            this.closeAll();
        });

        ContentOverlayInstance.$mount();
        if (document.querySelector('.l-page')) {
            (document.querySelector('.l-page') as HTMLElement).appendChild(ContentOverlayInstance.$el);
        }

        setTimeout(() => {
            this.closeAll();
        }, 200);
    },
    // destroyed() {},
    methods: {
        onToggleTopNav() {
            (this.$refs.premiumDirectLinks as any).toggleOpen({}, true);
            this.topNavShow = !this.topNavShow;
            document.body.classList.toggle('content-locked-top-nav');
            this.burgerShow = false;
            this.clearMenus();
            this.bottomSubnavShow = false;
            document.body.classList.remove('content-locked', 'content-locked-bottom-nav');
        },
        onToggleBurger() {
            (this.$refs.premiumDirectLinks as any).toggleOpen({}, true);
            if (this.bottomSubnavShow) {
                this.clearMenus();
                this.bottomSubnavShow = false;
                document.body.classList.remove('content-locked');
            } else {
                this.burgerShow = !this.burgerShow;
                document.body.classList.toggle('content-locked-bottom-nav');
            }
            this.topNavShow = false;
            document.body.classList.remove('content-locked-top-nav');
        },
        onPremiumDirectOpened() {
            this.topNavShow = false;
            document.body.classList.remove('content-locked-top-nav');
            this.burgerShow = false;
            this.clearMenus();
            this.bottomSubnavShow = false;
            document.body.classList.remove('content-locked', 'content-locked-bottom-nav');
        },
        onMenuItemClick(tag: string) {
            (this.$refs.premiumDirectLinks as any).toggleOpen({}, true);

            this.clearSubmenus();
            this.clearMenuItems(tag);

            let _isOpen;
            let _mobLink = this.bottomLinksMobile.find(link => link.tag === tag);
            if (_mobLink) {
                _mobLink.active = !_mobLink.active;
                _isOpen = _mobLink.active;
            }

            let _deskLink = this.bottomLinks.find(link => link.tag === tag);
            if (_deskLink) {
                _deskLink.active = !_deskLink.active;
            }

            let _submenu;

            if (_isOpen) {
                this.bottomSubnavShow = true;
                document.body.classList.add('content-locked');

                _submenu = this.submenus.find(menu => menu.tag === tag);

                if (_submenu) {
                    _submenu.active = true;
                }
            } else {
                this.bottomSubnavShow = false;
                document.body.classList.remove('content-locked');
            }
        },
        // clearMenuItems(skip: string | boolean = false) {
        clearMenuItems(skip: string | boolean = false) {
            this.bottomLinksMobile.forEach(link => {
                if (skip && link.tag === skip) {
                    return;
                }
                link.active = false;
            });

            this.bottomLinks.forEach(link => {
                if (skip && link.tag === skip) {
                    return;
                }
                link.active = false;
            });
        },
        clearSubmenus() {
            this.submenus.forEach((submenu) => {
                submenu.active = false;
            });
        },
        clearMenus() {
            this.clearMenuItems();
            this.clearSubmenus();
        },
        closeAll() {
            this.topNavShow = false;
            this.burgerShow = false;
            this.bottomSubnavShow = false;
            this.clearMenus();
            document.body.classList.remove('content-locked-top-nav', 'content-locked-bottom-nav', 'content-locked');
        }
    }
});
</script>

<style lang="scss">
    .pageHeader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: $gray-light;
        z-index: 100;

        &__bg {
            position: absolute;
            right: 0;
            bottom: 0;
            max-height: calc(100% - 48px);
            height: 333px;
            z-index: 1;
            opacity: .8;
            display: none;
            pointer-events: none;

            @media (min-width: $m1) {
                max-height: calc(100% - 45px);
                height: 495px;
            }

            @media (min-width: $m2) {
                height: 580px;
            }

            @media (min-width: $m3) {
                height: 600px;
            }
        }

        &__main {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 1px $content-side-padding 0;
            box-sizing: border-box;
            transition: background-color .15s;

            @media (min-width: $m1) {
                height: auto;
                display: block;
                padding: 1px $content-side-padding-m1 0;
            }

            @media (min-width: $m2) {
                padding: 1px $content-side-padding-m2 0;
            }

            @media (min-width: $m3) {
                max-width: 1920px;
            }
        }

        &__top {
            position: relative;
            height: 48px;

            &:before {
                content: '';
                position: absolute;
                left: -$content-side-padding;
                right: -$content-side-padding;
                top: 0;
                bottom: 0;
                background-color: $gray-dark;
                opacity: 0;
                transition: opacity .15s;
            }

            &:after {
                content: '';
                position: absolute;
                left: -$content-side-padding;
                right: -$content-side-padding;
                bottom: 0;
                height: 1px;
                background-color: rgba(218, 221, 224, 0.3);
            }

            @media (min-width: $m1) {
                height: 45px;

                &:before,
                &:after {
                    left: -$content-side-padding-m1;
                    right: -$content-side-padding-m1;
                }
            }

            @media (min-width: $m2) {
                &:before,
                &:after {
                    left: -$content-side-padding-m2;
                    right: -$content-side-padding-m2;
                }
            }
        }

        &__openTopNav {
            position: relative;
            left: -1px;
            display: inline-block;
            font-family: $futura-medium;
            font-size: 12px;
            line-height: 46px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            user-select: none;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: -10px;
                width: 8px;
                height: 6px;
                margin-top: -3px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 100% 100%;
                background-image: url("./img/arrowDownSmallGray.svg");
                transition: transform .2s, color .15s;
            }

            @media (min-width: $m1) {
                top: -2px;
                left: 0;
            }

            @media (min-width: $m3) {
                display: none;
            }

            &:hover {
                color: #fff;
            }
        }

        &__topLeftNavMobileWrap {
            max-height: 100vh;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            color: #fff;
            opacity: 0;
            transform: translateY(-10px);
            transition: none;
            pointer-events: none;
        }

        &__topLeftNavMobile {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 9px 0 0 0;
            padding: 0 0 30px 0;
            list-style-type: none;
        }

        &__topLeftLinkMobile {
            position: relative;
            font-size: 24px;
            line-height: 49px;
            text-decoration: none;

            span {
                position: relative;
                top: -11px;
                display: block;
                font-size: 18px;
                line-height: 26px;
                color: $gray50;
            }
        }

        &__topLeftNav {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            display: none;
            margin: 0;
            padding: 0;
            list-style-type: none;

            @media (min-width: $m3) {
                display: flex;
            }
        }

        &__topLeftLink {
            position: relative;
            top: -1px;
            height: 100%;
            display: inline-block;
            margin-right: 19px;
            font-family: $futura-medium;
            font-size: 11px;
            line-height: 45px;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            text-decoration: none;
            transition: color .15s;

            &:last-of-type {
                margin-right: 0;
                margin-left: 23px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -22px;
                    width: 4px;
                    height: 4px;
                    margin-top: -3px;
                    border-radius: 50%;
                    background-color: $gray-light;
                }
            }

            &:hover {
                color: #fff;
            }
        }

        &__topRightNav {
            position: absolute;
            right: -2px;
            top: -1px;
            height: 48px;
            display: flex;
            margin: 0;
            padding: 0;
            list-style-type: none;

            @media (min-width: $m1) {
                top: -3px;
                right: 0;
                height: 45px;
            }
        }

        &__topRightNavItem {
            margin-right: 16px;

            &:last-of-type {
                margin-right: 0;
            }

            @media (min-width: $m1) {
                margin-right: 21px;
            }
        }

        &__topRighLink {
            position: relative;
            height: 100%;
            display: inline-block;
            font-family: $futura-medium;
            font-size: 12px;
            line-height: 48px;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            text-decoration: none;
            transition: color .15s;

            @media (min-width: $m1) {
                font-size: 11px;
            }

            &:hover {
                color: #fff;
            }
        }

        &__phoneLink {
            display: none;

            @media (min-width: $m1) {
                display: block;
            }
        }

        &__cityLink {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 22px;
                height: 22px;
                margin-top: -9px;
                display: none;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: auto auto;
                background-image: url("./img/house.svg");
            }

            @media (min-width: $m1) {
                padding-left: 27px;

                &:before {
                    display: block;
                }
            }
        }

        &__officesLink {
            padding-left: 22px;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 15px;
                height: 18px;
                margin-top: -8px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: auto auto;
                background-image: url("./img/mapPin.svg");
            }

            span {
                display: none;

                @media (min-width: $m1) {
                    display: inline-block;
                }
            }

            @media (min-width: $m1) {
                padding-left: 18px;
                letter-spacing: 0.1em;

                &:before {
                    margin-top: -7px;
                }
            }
        }

        &__bottom {
            position: relative;
            height: 87px;
            padding-top: 1px;
            margin-left: -$content-side-padding;
            margin-right: -$content-side-padding;
            padding-left: $content-side-padding;
            padding-right: $content-side-padding;

            @media (min-width: $m1) {
                margin-left: -$content-side-padding-m1;
                margin-right: -$content-side-padding-m1;
                padding-left: $content-side-padding-m1;
                padding-right: $content-side-padding-m1;
            }

            @media (min-width: $m2) {
                margin-left: -$content-side-padding-m2;
                margin-right: -$content-side-padding-m2;
                padding-left: $content-side-padding-m2;
                padding-right: $content-side-padding-m2;
            }
        }

        &__bottomNavMobileWrap {
            color: #fff;
            opacity: 0;
            transform: translateY(-10px);
            transition: none;
            pointer-events: none;

            @media (min-width: $m2) {
                width: 790px;
                margin: 0 auto;
            }

            @media (min-width: $m3) {
                width: 970px;
            }
        }

        &__bottomNavPhone {
            position: relative;
            display: none;
            margin: 101px 0 64px 0;
            padding: 0;
            list-style-type: none;

            .accordionV1 {
                border: none;

                &.active {
                    .accordionV1__head {
                        &:before {
                            opacity: 0;
                            transform: rotate(180deg);
                            transition: transform .2s;
                        }

                        &:after {
                            opacity: 1;
                            transform: rotate(180deg);
                            transition: transform .2s;
                        }
                    }
                }
            }

            .accordionV1__headBg {
                left: -$content-side-padding;
                right: -$content-side-padding;
                height: 50px;
            }

            .accordionV1__content {
                height: 50px;
            }

            .accordionV1__head {
                height: 50px;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 14px;
                    height: 9px;
                    margin-top: -2px;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 100% 100%;
                    transition: transform .2s;
                }

                &:before {
                    background-image: url("./img/arrowDownMidGray.svg");
                    z-index: 1;
                }

                &:after {
                    background-image: url("./img/arrowDownMidWhite.svg");
                    z-index: 2;
                    opacity: 0;
                }
            }

            .accordionV1__title {
                font-size: 20px;
                line-height: 50px;
                color: #fff;
                text-decoration: none;
            }

            .accordionV1__body {
                padding: 24px 0 14px;
            }
        }

        &__bottomNavListItemPhone {
            width: 100%;
        }

        &__bottomPhoneNav {
            margin-left: 16px;
            padding-right: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &--active {
                opacity: .5;
                pointer-events: none;
            }
        }

        &__bottomPhoneNavItem {
            position: relative;
            margin-bottom: 24px;
            font-size: 16px;
            line-height: 18px;
            color: $gray65;
            text-decoration: none;
            transition: color .15s;

            &:last-of-type {
                margin-bottom: 0;
            }

            &:before {
                content: '';
                position: absolute;
                top: -12px;
                bottom: -12px;
                left: 0;
                right: 0;
                z-index: 0;
            }

            &.active {
                color: #fff;
            }
        }

        &__bottomNavMobile {
            position: relative;
            display: none;
            margin: 110px 0 46px 0;
            padding: 0;
            list-style-type: none;

            @media (min-width: $m1) {
                margin-top: 144px;
                margin-bottom: 49px;
            }
        }

        &__bottomNavListMobile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            list-style-type: none;

            @media (min-width: $m1) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }

        &__bottomNavListItemMobile {
            position: relative;
            margin-bottom: 18px;

            @media (min-width: $m1) {
                margin-bottom: 42px;
            }

            @media (min-width: $m2) {
                margin-bottom: 42px;
            }
        }

        &__bottomLinkMobile {
            position: relative;
            display: inline-block;
            font-size: 20px;
            line-height: 32px;
            text-decoration: none;
            cursor: pointer;

            &.pageHeader__linkDirect {
                margin-top: 9px;
            }

            @media (min-width: $m1) {
                font-size: 24px;
                line-height: 34px;
            }

            @media (min-width: $m2) {
                max-width: 295px;
            }
        }

        &__bottomFooter {
            position: relative;
            height: 61px;
            margin-left: -$content-side-padding;
            margin-right: -$content-side-padding;
            padding: 0 $content-side-padding;
            box-sizing: border-box;
            border-top: 1px solid $gray;
            opacity: 0;
            transition: none;
            pointer-events: none;

            @media (min-width: $m1) {
                height: 81px;
                margin-left: -$content-side-padding-m1;
                margin-right: -$content-side-padding-m1;
                padding: 0 $content-side-padding-m1;
            }

            @media (min-width: $m2) {
                margin-left: -$content-side-padding-m2;
                margin-right: -$content-side-padding-m2;
                padding: 0 $content-side-padding-m2;
            }
        }

        &__bottomFooterContent {
            position: relative;
            height: 100%;
            display: flex;
            margin: 0 auto;

            @media (min-width: $m2) {
                width: 790px;
            }

            @media (min-width: $m3) {
                width: 970px;
            }
        }

        &__bottomFooterPhoneWrap {
            display: none;

            @media (min-width: $m1) {
                display: flex;
                align-items: center;
            }
        }

        &__bottomFooterPhone {
            position: relative;
            margin-right: 22px;
            font-size: 18px;
            line-height: 32px;
            text-decoration: none;

            &:after {
                content: '';
                position: absolute;
                top: 7px;
                right: -22px;
                width: 1px;
                height: 20px;
                background-color: $gray;
            }

            &:hover {
                color: #fff;
            }
        }

        &__bottomFooterNavWrap {
            width: 100%;

            @media (min-width: $m1) {
                width: auto;
                flex-grow: 1;
            }
        }

        &__bottomFooterNav {
            display: flex;
            height: 100%;
            justify-content: space-around;
            align-items: center;

            @media (min-width: $m1) {
                justify-content: flex-start;
            }
        }

        &__bottomFooterLink {
            position: relative;
            font-size: 16px;
            line-height: 32px;
            color: $gray65;
            text-decoration: none;
            transition: color .15s;

            &:hover {
                color: #fff;
            }

            @media (min-width: $m1) {
                margin-left: 23px;
            }
        }

        &__bottomFooterIconsWrap {
            display: none;

            @media (min-width: $m1) {
                width: 250px;
                display: flex;
                align-items: center;
            }

            .iconsNavV1__item {
                width: 115px;
                height: 40px;
                margin-right: 20px;
                background-size: 78%;

                &:last-of-type {
                    margin-right: 0;
                }

                &:hover {
                    background-color: #000;
                    border-color: #000;
                }
            }
        }

        &__bottomSubmenusWrap {
            position: relative;
            overflow: hidden;
            display: none;

            @media (min-width: $m1) {
                display: block;
            }

            @media (min-width: $m2) {
                width: 790px;
                margin: 0 auto;
            }

            @media (min-width: $m3) {
                //width: $content-max-width;
                width: 970px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__bottomSubmenu {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transform: translateY(-10px);
            transition: none;
            pointer-events: none;

            &.submenu-active {
                position: relative;
                top: auto;
                left: auto;
                margin-top: 114px;
                opacity: 1;
                transform: translateY(0);
                transition: opacity .4s .1s, transform .4s .1s;
                pointer-events: auto;

                @media (min-width: $m1) {
                    margin-top: 144px;
                }

                @media (min-width: $m3) {
                    margin-top: 154px;
                }
            }
        }

        &__burger {
            position: absolute;
            top: 20px;
            left: $content-side-padding;
            z-index: 10;

            @media (min-width: $m1) {
                top: 17px;
                left: $content-side-padding-m1;
            }

            @media (min-width: $m2) {
                left: $content-side-padding-m2;
            }

            @media (min-width: $m3) {
                display: none;
            }
        }

        &__premiumDirectLinks {
            position: absolute;
            top: -1px;
            left: 0;
            right: 0;
            z-index: 5;

            @media (min-width: $m1) {
                left: 79px;
                width: 256px;
            }

            @media (min-width: $m1) {
                left: 80px;
            }

            @media (min-width: $m3) {
                left: 17px;
                width: 268px;
            }
        }

        &__bottomNav {
            display: none;
            z-index: 5;

            @media (min-width: $m3) {
                position: absolute;
                top: 25px;
                left: 302px;
                display: flex;
                justify-content: center;
            }
        }

        &__bottomNavItem {
            font-size: 18px;
            line-height: 22px;
            text-decoration: none;
            user-select: none;
            transition: color .15s;
            cursor: pointer;

            &.active {
                color: $yellow;
            }

            &:hover {
                color: $yellow;
            }

            @media (min-width: $m3) {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }

            @media (min-width: $m4) {
                margin-right: 38px;
            }
        }

        &__phoneLink2 {
            position: absolute;
            top: 18px;
            right: $content-side-padding;
            width: 24px;
            height: 24px;
            display: block;
            padding: 10px 0 10px 10px;
            z-index: 10;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                width: 24px;
                height: 24px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 100% 100%;
                transition: opacity .3s;
            }

            &:before {
                background-image: url("./img/phone.svg");
                z-index: 1;
            }

            &:after {
                background-image: url("./img/phoneYellow.svg");
                opacity: 0;
                z-index: 2;
            }

            &:hover {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            @media (min-width: $m1) {
                top: 7px;
                right: $content-side-padding-m1;
            }

            @media (min-width: $m2) {
                right: $content-side-padding-m2;
            }

            @media (min-width: $m3) {
                top: 17px;
                right: 35px;
            }
        }

        &.bottom-nav-active,
        &.bottom-subnav-active {
            .pageHeader__bg {
                display: block;
            }

            .pageHeader__bottomFooter {
                opacity: 1;
                transition: opacity .4s .1s;
                pointer-events: auto;
            }
        }

        &.top-nav-active {
            .pageHeader__top {
                height: auto;

                &:before {
                    opacity: 1;
                    transition: opacity .4s;
                }
            }

            .pageHeader__openTopNav {
                &:after {
                    transform: rotate(180deg);
                }
            }

            .pageHeader__topLeftNavMobileWrap {
                opacity: 1;
                transform: translateY(0);
                transition: opacity .4s .1s, transform .4s .1s;
                pointer-events: auto;
            }

            @media (min-width: $m3) {
                .pageHeader__top {
                    height: 45px;

                    &:before {
                        opacity: 0;
                        transition: opacity .15s;
                    }
                }

                .pageHeader__openTopNav {
                    &:after {
                        transform: rotate(0);
                    }
                }

                .pageHeader__topLeftNavMobileWrap {
                    opacity: 0;
                    transform: translateY(-10px);
                    transition: none;
                    pointer-events: none;
                }
            }
        }

        &.bottom-nav-active {
            @media (max-width: 767px) {
                height: 100%;
            }

            .pageHeader__main {
                background-color: $gray-dark;
                transition: background-color .4s;
            }

            .pageHeader__bottom {
                height: auto;
                overflow: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                flex-shrink: 1;
                flex-grow: 1;
            }

            .pageHeader__bottomNavPhone {
                display: block;

                @media (min-width: $m1) {
                    display: none;
                }
            }

            .burgerV1__lineTop {
                transform: translateY(9px) rotate(-45deg);
            }

            .burgerV1__lineMiddle {
                opacity: 0;
            }

            .burgerV1__lineBottom {
                transform: translateY(-9px) rotate(45deg);
            }

            .pageHeader__bottomNavMobileWrap {
                opacity: 1;
                transform: translateY(0);
                transition: opacity .4s .1s, transform .4s .1s;
                pointer-events: auto;
            }

            @media (min-width: $m1) {
                .pageHeader__bottomNavMobile {
                    display: block;
                }
            }

            @media (min-width: $m3) {
                .pageHeader__main {
                    background-color: transparent;
                }

                .pageHeader__bottom {
                    height: 87px;
                    max-height: inherit;
                    overflow: visible;
                }

                .pageHeader__bottomFooter {
                    opacity: 0;
                    transition: none;
                    pointer-events: none;
                }

                .burgerV1__lineTop {
                    transform: translateY(0) rotate(0);
                }

                .burgerV1__lineMiddle {
                    opacity: 1;
                }

                .burgerV1__lineBottom {
                    transform: translateY(0) rotate(0);
                }

                .pageHeader__bottomNavMobileWrap {
                    opacity: 0;
                    transform: translateY(-10px);
                    transition: none;
                    pointer-events: none;
                }
            }
        }

        &.bottom-subnav-active {
            .pageHeader__main {
                background-color: $gray-dark;
                transition: background-color .4s;
            }

            .pageHeader__bottom {
                height: auto;
            }

            .burgerV1__lineTop {
                transform: translateY(9px) rotate(-45deg);
            }

            .burgerV1__lineMiddle {
                opacity: 0;
            }

            .burgerV1__lineBottom {
                transform: translateY(-9px) rotate(45deg);
            }

            .pageHeader__bottomNavMobileWrap {
                opacity: 1;
                transform: translateY(0);
                transition: opacity .4s .1s;
                pointer-events: auto;
            }

            .pageHeader__bottomNavMobile {
                display: none;
            }

            @media (min-width: $m3) {
                .pageHeader__bottomFooter {
                    opacity: 1;
                    transition: opacity .4s .1s;
                    pointer-events: auto;
                }
            }
        }
    }
</style>
