<template>
    <div class="rangeSliderV1">
        <div class="rangeSliderV1__top">
            <div class="rangeSliderV1__title">{{ name }}</div>
            <div class="rangeSliderV1__value">{{ valueFormatted }} {{ currency }}</div>
        </div>

        <RangeSlider
            v-model="value"
            v-bind="{...optionsDefault, ...options}"
            @change="onChange"
        />
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import RangeSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js'
import 'vue-slider-component/dist-css/vue-slider-component.css'
import 'vue-slider-component/theme/default.css'

interface IOptions {
    [propName: string]: any
}

export default Vue.extend({
    components: {
        RangeSlider
    },
    props: {
        index: { type: Number, default: 0 },
        name: { type: String, default: '' },
        initialValue: { type: Number, default: 0 },
        currency: { type: String, default: '₽' },
        options: {
            type: Object as PropType<IOptions>,
            default(): IOptions { return {} }
        }
    },
    data(): {
        value: number,
        optionsDefault: IOptions
    } {
        return {
            value: 0,
            optionsDefault: {
                dotSize: 24,
                width: 'auto',
                height: 4,
                // direction: 'ltr',
                // data: null,
                min: 0,
                max: 100,
                interval: 1,
                adsorb: true,
                // disabled: false,
                // clickable: true,
                duration: 0.2,
                // lazy: false,
                // tooltip: 'none',
                // useKeyboard: false,
                // enableCross: true,
                // fixed: true,
                // minRange: void 0,
                // maxRange: void 0,
                // order: true,
                // marks: false,
                dotOptions: {
                    tooltip: 'none',
                    style: {
                        border: 'none',
                        backgroundColor: '#fff',
                        boxShadow: 'none',
                        outline: 'none'
                    },
                    focusStyle: {
                        outline: 'none',
                        boxShadow: 'none',
                        border: 'none'
                    },
                },
                process: true,
                // dotStyle: void 0,
                railStyle: {
                    borderRadius: 0,
                    backgroundColor: '#333',
                },
                processStyle: {
                    borderRadius: 0,
                    backgroundColor: '#fcdf00',
                },
                // tooltipStyle: void 0,
                // stepStyle: void 0,
                // stepActiveStyle: void 0,
                // labelStyle: void 0,
                // labelActiveStyle: void 0,
            }
        }
    },
    computed: {
        valueFormatted(): string {
            return this.value.toString().split(/(?=(?:\d{3})+$)/).join(' ');
        }
    },
    mounted() {
        this.value = this.initialValue;
        this.$emit('sliderChanged', { index: this.index, val: this.value });
    },
    methods: {
        onChange(val) {
            this.$emit('sliderChanged', { index: this.index, val: val });
        }
    },
});
</script>

<style lang="scss">
    .rangeSliderV1 {
        margin: 0 12px;

        &__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 6px;

            @media (min-width: $m1) {
                margin-bottom: 0;
            }
        }

        &__title {
            flex-shrink: 1;
            font-size: 18px;
            line-height: 22px;
            user-select: none;
        }

        &__value {
            position: relative;
            top: -1px;
            flex-shrink: 0;
            margin-left: 5px;
            font-size: 20px;
            line-height: 24px;
            user-select: none;

            @media (min-width: $m1) {
                top: -6px;
                font-size: 24px;
                line-height: 30px;
            }

            @media (min-width: $m2) {
                position: relative;
            }
        }

        .vue-slider-rail {
            transition: background-color .15s;
        }

        @media (min-width: $m3) {
            .vue-slider {
                &:hover {
                    .vue-slider-rail {
                        background-color: #4d4d4d !important;
                    }
                }
            }
        }
    }
</style>
