<template>
    <div class="rangeSliderWithInputV1">
        <div class="rangeSliderWithInputV1__top">
            <div class="rangeSliderWithInputV1__title">{{ name }}</div>
        </div>

        <div class="rangeSliderWithInputV1__middle">
            <input
                ref="input"
                :value="valueFormatted"
                type="text"
                class="rangeSliderWithInputV1__input"
                @input="onInputChange"
            >
            <div v-if="postfix && postfix.length === 1" class="rangeSliderWithInputV1__postfix">
                <span>{{ valueFormatted }}</span> {{ postfix[0] }}
            </div>
            <div v-if="postfix && postfix.length > 1" class="rangeSliderWithInputV1__postfix">
                <span>{{ valueFormatted }}</span> {{ getTextForms }}
            </div>
            <div v-if="info" class="rangeSliderWithInputV1__info">{{ info }}</div>
        </div>

        <RangeSlider
            v-model="value"
            v-bind="{...optionsDefault, ...options}"
            class="rangeSliderWithInputV1__slider"
            @change="onSliderChange"
        />
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import RangeSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js'
import 'vue-slider-component/dist-css/vue-slider-component.css'
import 'vue-slider-component/theme/default.css'
import Cleave from 'cleave.js/dist/cleave.min';
// import Cleave = require('cleave.js');

interface IOptions {
    [propName: string]: any
}

export default Vue.extend({
    components: {
        RangeSlider
    },
    props: {
        index: { type: Number, default: 0 },
        name: { type: String, default: '' },
        info: { type: String, default: null },
        initialValue: { type: Number, default: 0 },
        postfix: {
            type: Array as PropType<string[] | null>,
            default: null
        },
        options: {
            type: Object as PropType<IOptions>,
            default(): IOptions { return {} }
        },
    },
    data(): {
        value: number,
        optionsDefault: IOptions
    } {
        return {
            value: 0,
            optionsDefault: {
                dotSize: 24,
                width: 'auto',
                height: 4,
                // direction: 'ltr',
                // data: null,
                min: 0,
                max: 100,
                interval: 1,
                // disabled: false,
                // clickable: true,
                duration: 0.2,
                // lazy: false,
                // tooltip: 'none',
                // useKeyboard: false,
                // enableCross: true,
                fixed: true,
                // minRange: void 0,
                // maxRange: void 0,
                // order: true,
                // marks: false,
                dotOptions: {
                    tooltip: 'none',
                    style: {
                        border: 'none',
                        backgroundColor: '#fff',
                        boxShadow: 'none',
                        outline: 'none'
                    },
                    focusStyle: {
                        outline: 'none',
                        boxShadow: 'none',
                        border: 'none'
                    },
                },
                process: true,
                // dotStyle: void 0,
                railStyle: {
                    height: '2px',
                    borderRadius: 0,
                    backgroundColor: '#333',
                },
                processStyle: {
                    top: '-1px',
                    height: '4px',
                    borderRadius: 0,
                    backgroundColor: '#fcdf00',
                },
                // tooltipStyle: void 0,
                // stepStyle: void 0,
                // stepActiveStyle: void 0,
                // labelStyle: void 0,
                // labelActiveStyle: void 0,
            }
        }
    },
    computed: {
        valueFormatted(): string {
            return this.value.toString().split(/(?=(?:\d{3})+$)/).join(' ');
        },
        // getTextForms(): string | void {
        getTextForms(): string | boolean {
            let n = Math.abs(this.value) % 100;
            let n1 = n % 10;
            if (this.postfix && n > 10 && n < 20) { return this.postfix[2]; }
            if (this.postfix && n1 > 1 && n1 < 5) { return this.postfix[1]; }
            if (this.postfix && n1 === 1) { return this.postfix[0]; }
            if (this.postfix) { return this.postfix[2]; }
            return false;
        }
    },
    mounted() {
        new Cleave(this.$refs.input, {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand',
            delimiter: ' ',
            numeralPositiveOnly: true,
            stripLeadingZeroes: true
        });

        this.value = this.initialValue;
        this.$emit('sliderChanged', { index: this.index, val: this.value });
    },
    methods: {
        onInputChange(e) {
            let _max = this.options.max || this.optionsDefault.max;

            // Фильтруем ввод, чтобы не превышал max значение слайдера
            if (e.target.value.replace(/\D+/gm, '') * 1 > _max) {
                // (_max - 1) нужно, чтобы принудительно изменить значение value при вводе несолкьо раз подряд значения, превышающего max, иначе value не обновляется
                this.value = _max - 1;
                this.value = _max;
            } else {
                this.value = e.target.value.replace(/\D+/gm, '');
            }
        },
        onSliderChange(val) {
            this.$emit('sliderChanged', { index: this.index, val: val });
        }
    },
});
</script>

<style lang="scss">
    .rangeSliderWithInputV1 {
        position: relative;
        margin: 0 12px;

        &__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 6px;
        }

        &__title {
            flex-shrink: 1;
            font-family: $futura-demi;
            font-size: 16px;
            line-height: 22px;
            color: #a6a6a6;
            user-select: none;
        }

        &__value {
            position: relative;
            top: -1px;
            flex-shrink: 0;
            margin-left: 5px;
            font-size: 20px;
            line-height: 24px;
            user-select: none;

            @media (min-width: $m1) {
                top: -6px;
                font-size: 24px;
                line-height: 30px;
            }

            @media (min-width: $m2) {
                position: relative;
            }
        }

        &__middle {
            position: relative;
            width: 100%;
            height: 60px;
        }

        &__input {
            width: 100%;
            height: 60px;
            display: block;
            margin: 0;
            padding: 0 50px 0 16px;
            font-family: $futura-book;
            font-size: 20px;
            line-height: 24px;
            color: inherit;
            vertical-align: baseline;
            box-sizing: border-box;
            border-radius: 0;
            border: 2px solid $gray;
            background-color: transparent;
            -webkit-appearance: none;
            outline: none;
            box-shadow: none;

            &::-ms-clear {
                display: none;
            }
        }

        &__postfix {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 2px;
            padding-left: 16px;
            font-size: 20px;
            line-height: 60px;
            vertical-align: baseline;
            pointer-events: none;

            span {
                color: transparent;
            }
        }

        &__info {
            position: absolute;
            top: 18px;
            right: 16px;
            font-size: 20px;
            line-height: 24px;
            color: $gray65;
            user-select: none;
        }

        &__slider {
            margin-top: -14px;
        }
    }
</style>
