<template>
    <div class="starsCalculatorV1">
        <div class="starsCalculatorV1__sliders">
            <CurrencySlider
                v-for="(slider, i) in sliders"
                :key="i"
                :index="i"
                :name="slider.name"
                :currency="slider.currency"
                :options="slider.options"
                :initial-value="slider.value"
                class="starsCalculatorV1__sliderBlock"
                @sliderChanged="onSliderChanged"
            />
        </div>

        <CalcStars
            :active="activeStars"
            class="starsCalculatorV1__stars"
        />

        <div class="starsCalculatorV1__footer">
            <div v-show="activeStars < 5" class="starsCalculatorV1__footerTitle" v-html="infoText" />
            <CalcButton
                v-bind="{...button}"
                class="starsCalculatorV1__footerButton button__block"
            />
        </div>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import CalcStars from '~/library/Elements/Stars/StarsV1.vue';
import CurrencySlider from '~/library/Elements/RangeSliders/RangeSliderV1.vue';
import CalcButton from '~/library/Elements/Buttons/ButtonV1.vue';

interface IOptions {
    [propName: string]: any
}

interface ISlider {
    name?: string,
    value?: number,
    currency?: string,
    options: IOptions
}

interface IButton {
    link?: string | boolean,
    name?: string,
    newTab?: boolean,
    inverted?: boolean,
    linked?: boolean
}

export default Vue.extend({
    components: {
        CalcStars,
        CurrencySlider,
        CalcButton
    },
    props: {
        sliders: {
            type: Array as PropType<ISlider[]>,
            default(): ISlider[] {
                return [
                    {
                        name: 'Текущие счета',
                        value: 1000000,
                        options: {
                            max: 500000 * 5,
                            interval: 500000,
                        }
                    },
                    {
                        name: 'Текущие счета в валюте',
                        currency: '$',
                        options: {
                            max: 10000 * 5,
                            interval: 10000,
                        }
                    },
                    {
                        name: 'Выданные кредиты',
                        options: {
                            max: 3000000 * 5,
                            interval: 3000000,
                        }
                    },
                    {
                        name: 'Заработная плата',
                        value: 100000,
                        options: {
                            max: 100000 * 5,
                            interval: 100000,
                        }
                    },
                    {
                        name: 'Траты по картам в месяц',
                        value: 50000,
                        options: {
                            max: 50000 * 5,
                            interval: 50000,
                        }
                    }
                ]
            }
        },
        infoText: { type: String, default: 'Стоимость платного обслуживания 5000 ₽' },
        button: {
            type: Object as PropType<IButton>,
            default(): IButton {
                return {
                    link: '',
                    name: 'стать клиентом',
                    newTab: false
                }
            }
        }
    },
    data(): {
        activeStars: number,
        activeStarsArray: number[]
    } {
        return {
            activeStars: 0,
            activeStarsArray: [0, 0, 0, 0, 0]
        }
    },
    methods: {
        onSliderChanged(data: { index: number, val: number }) {
            this.activeStarsArray[data.index] = data.val / this.sliders[data.index].options.interval;
            this.activeStars = this.activeStarsArray.reduce((a, b) => a + b);
        }
    },
});
</script>

<style lang="scss">
    .starsCalculatorV1 {
        position: relative;

        @media (min-width: $m2) {
            background-color: $gray-dark;
        }

        &__sliders {
            position: relative;
            padding: 81px 4px 28px;
            box-sizing: border-box;
            background-color: $gray-dark;

            @media (min-width: $m1) {
                padding: 115px 28px 32px;
            }

            @media (min-width: $m2) {
                width: 54.40251572327044%;
                padding: 81px 45px 66px 40px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 123px;
                    bottom: 99px;
                    right: 0;
                    width: 1px;
                    background-color: $gray;
                }
            }

            @media (min-width: $m3) {
                width: 58.63247863247863%;
                padding: 81px 74px 66px 58px;
            }
        }

        &__sliderBlock {
            margin-bottom: 21px;
        }

        &__stars {
            position: absolute;
            top: 25px;
            left: 27px;
            right: 27px;
            /*max-width: 450px;*/

            @media (min-width: $m1) {
                top: 41px;
                left: 49px;
                right: 0;
                width: 330px;
                /*max-width: inherit;*/
                justify-content: flex-start;
                margin: 0 auto;
            }

            @media (min-width: $m2) {
                top: 158px;
                left: auto;
                right: 0;
                width: 45.59748427672956%;
                /*max-width: inherit;*/
                justify-content: center;
            }

            @media (min-width: $m3) {
                width: 40.167521%;
            }
        }

        &__footer {
            @media (min-width: $m2) {
                position: absolute;
                top: 237px;
                right: 0;
                width: 45.59748427672956%;
            }

            @media (min-width: $m3) {
                width: 40.167521%;
            }
        }

        &__footerTitle {
            margin-top: 25px;
            font-size: 20px;
            line-height: 24px;

            @media (min-width: $m1) {
                margin-top: 30px;
                font-size: 22px;
                line-height: 36px;
                text-align: center;
            }

            @media (min-width: $m2) {
                width: 330px;
                margin: 0 auto;
            }
        }

        &__footerButton {
            margin-top: 25px;

            @media (min-width: $m1) {
                width: 380px;
                margin: 29px auto 0;
            }

            @media (min-width: $m2) {
                width: 330px;
                margin-top: 39px;
            }
        }
    }
</style>
