<template>
    <div
        :class="['switchV1', { 'position__right': !positionLeft }]"
        @click="toggleSwitch"
    >
        <div class="switchV1__button">
            <span class="switchV1__buttonHandle" />
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        initialRight: { type: Boolean, default: false }
    },
    data(): {
        positionLeft: boolean
    } {
        return {
            positionLeft: false
        }
    },
    mounted() {
        this.positionLeft = !this.initialRight;
    },
    methods: {
        toggleSwitch() {
            this.positionLeft = !this.positionLeft;
            this.$emit('positionChanged', { left: this.positionLeft });
        }
    },
});
</script>

<style lang="scss">
    .switchV1 {
        position: relative;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &__button {
            position: relative;
            width: 54px;
            height: 30px;
            box-sizing: border-box;
            border: 2px solid $yellow;
            border-radius: 20px;
            background-color: $yellow;
            transition: background-color .15s, border-color .15s;

            &Handle {
                position: absolute;
                top: 0;
                left: 0;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
                transition: background-color .2s, transform .2s;
            }

            @media (min-width: $m3) {
                &:hover {
                    background-color: $yellow-dark;
                    border-color: $yellow-dark;
                }
            }

            @media (min-width: $m1) {
                width: 60px;
                height: 34px;

                &Handle {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &.position__right {
            .switchV1__buttonHandle {
                transform: translateX(24px);

                @media (min-width: $m1) {
                    transform: translateX(26px);
                }
            }
        }
    }
</style>
