@font-face {
  font-family: futura-book;
  src: url('./fonts/FuturaNewBook.woff2') format('woff2'),
	   url('./fonts/FuturaNewBook.woff') format('woff'), url('./fonts/FuturaNewBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: futura-demi;
  src: url('./fonts/FuturaNewDemi.woff2') format('woff2'),
	   url('./fonts/FuturaNewDemi.woff') format('woff'),
	   url('./fonts/FuturaNewDemi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: futura-medium;
  src: url('./fonts/FuturaNewMedium.woff2') format('woff2'),
	   url('./fonts/FuturaNewMedium.woff') format('woff'),
	   url('./fonts/FuturaNewMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: futura-light;
  src: url('./fonts/FuturaPTLight.woff') format('woff'),
  url('./fonts/FuturaPTLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $futura-book;
  color: #fff;
  background-color: #000;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  //-webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
}

h1, .h1 {
  position: relative;
  margin: 28px 0 20px;
  font-family: $futura-light;
  font-size: 34px;
  line-height: 38px;
  font-weight: normal;

  a {
    color: $yellow;
    text-decoration: none;
  }

  @media (min-width: $m1) {
    margin-top: 65px;
    margin-bottom: 45px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.01em;
  }

  @media (min-width: $m2) {
    margin-top: 34px;
    margin-bottom: 62px;
  }

  @media (min-width: $m3) {
    margin-top: 30px;
    margin-bottom: 59px;
    font-size: 60px;
    line-height: 60px;
  }
}

h2, .h2 {
  position: relative;
  margin: 20px 0;
  font-family: $futura-light;
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;

  @media (min-width: $m1) {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.01em;
  }

  @media (min-width: $m3) {
    font-size: 42px;
    line-height: 48px;
  }
}

h3, .h3 {
  position: relative;
  margin: 34px 0 15px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.01em;
  font-weight: normal;

  @media (min-width: $m1) {
    margin: 40px 0 30px;
    font-size: 28px;
    line-height: 36px;
  }
}

h4, .h4 {
  position: relative;
  margin: 32px 0 20px;
  font-family: $futura-demi;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;

  @media (min-width: $m1) {
    margin: 46px 0 28px;
    font-size: 22px;
    line-height: 26px;
  }
}

a {
    transition: color .15s;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
p,
ul,
ol {
  a {
    &:not(.pageHeader__bottomPhoneNavItem) {
      &:hover {
        color: $yellow-dark;
      }
    }
  }
}

p {
  position: relative;
  margin: 26px 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;

  &.mini {
    font-size: 18px;
    line-height: 22px;
  }

  &.notice {
    padding-left: 32px;
    color: $gray65;

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $yellow;
    }

    &:after {
      content: '!';
      position: absolute;
      top: -1px;
      left: 0;
      width: 22px;
      height: 22px;
      font-family: $futura-demi;
      font-size: 16px;
      line-height: 22px;
      color: #000;
      text-align: center;
    }
  }

  @media (min-width: $m1) {
    font-size: 22px;
    line-height: 26px;

    &.mini {
      font-size: 20px;
      line-height: 24px;
    }

    &.notice {
      padding-left: 34px;

      &:before {
        width: 24px;
        height: 24px;
      }

      &:after {
        width: 24px;
        height: 24px;
        line-height: 24px;
      }
    }
  }

  a {
    color: $yellow;
    text-decoration: none;
  }
}

// l- от layout, признак общих шаблонов для всех страниц
// Это тоже только пример, можно преписать и дополнить.
.l-page {
  position: relative;
  background-color: $black;
  -webkit-tap-highlight-color: transparent;
}

.l-bodyContainer {
  position: relative;
  //max-width: 1920px;
  margin: 0 auto;
  padding: $content-top-padding $content-side-padding $content-bottom-padding;
  z-index: 10;

  @media (min-width: $m1) {
    padding: $content-top-padding-m1 $content-side-padding-m1 $content-bottom-padding-m1;
  }

  @media (min-width: $m2) {
    padding: $content-top-padding-m2 $content-side-padding-m2 $content-bottom-padding-m2;
  }

  @media (min-width: $m3) {
    max-width: $content-max-width;
    padding-left: $content-side-padding-m3;
    padding-right: $content-side-padding-m3;
  }
}

.l-bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 667px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  /*background-image: url("~Icons/pageBgImg1.jpg");*/
  z-index: 0;

  @media (min-width: $m1) {
    height: 900px;
  }

  &.bg__fixed {
    position: fixed;
  }
}

.l-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

.mainPage {
  h1, .h1 {
    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 36px;
    }

    @media (min-width: $m1) {
      margin-bottom: 65px;
    }

    @media (min-width: $m2) {
      margin-top: 65px;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: $m3) {
      margin-top: 66px;
      margin-bottom: 66px;
    }
  }

  &__navigationWithIcons {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 44px;

    @media (min-width: $m1) {
      flex-direction: row;
      margin-top: 72px;
    }

    @media (min-width: $m2) {
      margin-top: 109px;
    }
  }

  &__starsCalculator {
    margin-top: 55px;

    @media (min-width: $m1) {
      margin-top: 74px;
    }

    @media (min-width: $m2) {
      margin-top: 78px;
    }
  }

  .markdown {
    margin-top: 38px;

    @media (min-width: $m1) {
      margin-top: 28px;
    }

    @media (min-width: $m2) {
      margin-top: 110px;
    }

    ul {
      margin-top: 50px;

      @media (min-width: $m1) {
        margin-top: 46px;
      }

      li {
        margin: 20px 0;
        padding-left: 48px;
        font-size: 20px;
        line-height: 24px;

        &:before {
          top: 9px;
          left: 13px;
        }

        @media (min-width: $m1) {
          margin: 26px 0;
          padding-left: 45px;
          font-size: 22px;
          line-height: 26px;

          &:before {
            left: 0;
          }
        }

        @media (min-width: $m2) {
          &:before {
            left: 3px;
          }
        }

        @media (min-width: $m3) {
          padding-left: 47px;
        }
      }
    }
  }
}

.mainPage__starsCalculator + p {
  margin-top: 55px;
}

.offersPage {
  h1, .h1 {
    margin-top: 24px;

    @media (min-width: $m1) {
      margin-top: 67px;
    }

    @media (min-width: $m2) {
      margin-top: 65px;
    }

    @media (min-width: $m3) {
      margin-top: 36px;
      margin-bottom: 36px;
    }
  }

  &__news {
    margin-top: 42px;

    @media (min-width: $m1) {
      margin-top: 72px;
    }

    @media (min-width: $m2) {
      margin-top: 92px;
    }

    @media (min-width: $m3) {
      margin-top: 50px;
    }
  }
}

.brokerPage,
.travelingPage,
.insurancePage,
.depositsPage,
.creditsPage,
.cardsPage,
.managerPage {
  @media (min-width: $m1) {
    height: 100%;
  }
}


.oneOfferPage {
  &__backlink {
    position: absolute;
    margin-top: -10px;

    @media (min-width: $m1) {
      margin-top: 12px;
    }

    @media (min-width: $m2) {
      position: relative;
      margin-top: 50px;
    }

    @media (min-width: $m3) {
      margin-top: 104px;
    }
  }

  &__bottomLinks {
    position: relative;
    margin-top: 55px;
    margin-bottom: -14px;

    @media (min-width: $m1) {
      display: flex;
      margin-bottom: 0;
    }

    @media (min-width: $m2) {
      margin-top: 74px;
    }

    @media (min-width: $m3) {
      margin-bottom: -24px;
    }
  }
}

.content-locked,
.content-locked-top-nav,
.content-locked-bottom-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .contentOverlayV1 {
    opacity: 1;
    transition: opacity .4s;
    pointer-events: auto;
  }
}

.content-locked-top-nav,
.content-locked-bottom-nav {
  @media (min-width: $m3) {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;

    .contentOverlayV1 {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.content-locked-bottom-nav {
  @media (max-width: 767px) {
    .l-page {
      height: 100%;
    }
  }
}

.content-locked-bottom-nav {
  @media (max-width: 767px) {
    .l-page {
      height: 100%;
    }
  }
}

.content-locked {
  @media (min-width: $m3) {
    position: relative;
    overflow: auto;

    .contentOverlayV1 {
      opacity: 1;
      transition: opacity .4s;
      pointer-events: auto;
    }
  }
}

.white {
  color: #fff;
}

.gray65 {
  color: $gray65;
}

#overlay {
  position: relative;
  z-index: 150;
}

.overlaysWrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 110;
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none;

  &.overlay-show {
    opacity: 1;
    transition: opacity .3s;
    pointer-events: auto;
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //cursor: pointer;
    z-index: 0;
  }
}

.tooltipWrap {
  position: relative;
  color: inherit !important;
  border-bottom: 1px dashed $gray65;
  z-index: 100;

  &:hover {
    z-index: 101;

    .tooltipBody {
      opacity: 1;
      transition: opacity .2s;
      pointer-events: auto;
    }
  }
}

.tooltipBody {
  position: absolute;
  width: 310px;
  margin-top: 1px;
  padding: 19px 25px;
  box-sizing: border-box;
  font-family: $futura-book;
  font-size: 18px;
  line-height: 22px;
  color: $gray65 !important;
  background: #000;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
  z-index: 10;
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none;

  a {
    color: $yellow;
    text-decoration: none;

    &:hover {
      color: $yellow-dark !important;
    }
  }

  @media (min-width: $m1) {
    width: 380px;
  }

  @media (min-width: $m2) {
    width: 310px;
  }

  @media (min-width: $m3) {
    width: 380px;
  }
}

.font-book {
  font-family: $futura-book;
}

.font-medium {
  font-family: $futura-medium;
}

.font-demi {
  font-family: $futura-demi;
}

.mt-fix{
  margin-top: -21px !important;

  @media (min-width: $m1) {
    margin-top: -30px !important;
  }

  @media (min-width: $m2) {
    margin-top: 0 !important;
  }
}
