$grid-side-padding: 5px;
$grid-side-padding-m1: 10px;
$grid-side-padding-m2: 15px;

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-side-padding;
  margin-right: -$grid-side-padding;

  @media (min-width: $m1) {
    margin-left: -$grid-side-padding-m1;
    margin-right: -$grid-side-padding-m1;
  }

  @media (min-width: $m2) {
    margin-left: -$grid-side-padding-m2;
    margin-right: -$grid-side-padding-m2;
  }
}

.row-only-m1 {
  @media (min-width: $m1) and (max-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-side-padding-m1 !important;
    margin-right: -$grid-side-padding-m1 !important
  }
}

.row-m1 {
  @media (min-width: $m1) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-side-padding-m1;
    margin-right: -$grid-side-padding-m1;
  }

  @media (min-width: $m2) {
    margin-left: -$grid-side-padding-m2;
    margin-right: -$grid-side-padding-m2;
  }
}

.col {
  position: relative;
  padding: 0 $grid-side-padding;
  box-sizing: border-box;

  @media (min-width: $m1) {
    padding: 0 $grid-side-padding-m1;
  }

  @media (min-width: $m2) {
    padding: 0 $grid-side-padding-m2;
  }
}

.col-only-m1 {
  @media (min-width: $m1) and (max-width: 1023px) {
    position: relative;
    margin-top: 0 !important;
    padding-left: $grid-side-padding-m1;
    padding-right: $grid-side-padding-m1;
    box-sizing: border-box;
  }
}

.col-m1 {
  @media (min-width: $m1) {
    position: relative;
    padding: 0 $grid-side-padding-m1;
    box-sizing: border-box;
  }

  @media (min-width: $m2) {
    padding: 0 $grid-side-padding-m2;
  }
}

.inner {
  background-color: olive;
  min-height: 100px;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: $m1) and (max-width: 1023px) {
  .col-only-m1-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-only-m1-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: $m1) {
  .d-m1-none {
    display: none !important;
  }

  .d-m1-block {
    display: block !important;
  }

  .d-m1-inline {
    display: inline !important;
    font-style: inherit;
  }

  .d-m1-flex {
    display: flex !important;
  }

  .d-m1-inline-flex {
    display: inline-flex !important;
  }

  .col-m1-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-m1-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-m1-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-m1-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-m1-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-m1-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-m1-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-m1-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-m1-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-m1-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-m1-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-m1-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: $m2) {
  .d-m2-none {
    display: none !important;
  }

  .d-m2-block {
    display: block !important;
  }

  .d-m2-flex {
    display: flex !important;
  }

  .d-m2-inline-flex {
    display: inline-flex !important;
  }

  .col-m2-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-m2-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-m2-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-m2-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-m2-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-m2-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-m2-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-m2-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-m2-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-m2-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-m2-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-m2-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: $m3) {
  .d-m3-none {
    display: none !important;
  }

  .d-m3-block {
    display: block !important;
  }

  .d-m3-flex {
    display: flex !important;
  }

  .d-m3-inline-flex {
    display: inline-flex !important;
  }

  .col-m3-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-m3-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-m3-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-m3-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-m3-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-m3-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-m3-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-m3-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-m3-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-m3-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-m3-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-m3-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-m1-6 {
  @media (min-width: $m1) {
    margin-left: 50%;
  }
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

.w-m3-85 {
  @media (min-width: $m3) {
    max-width: 85%;
  }
}