// colors
$white: #fff;
$black: #000;
$gray50: #808080;
$gray65: #a6a6a6;
$gray-light: #e0e1e2;
$gray-dark: #1a1a1a;
$gray: #333;
$yellow: #fcdf00;
$yellow-dark: #cbb200;

// media breakpoints
$m0: 375px;
$m1: 768px;
$m2: 1024px;
$m3: 1280px;
$m4: 1400px;

// paddings
$content-max-width: 1170px;
$content-top-padding: 138px;
$content-top-padding-m1: 135px;
$content-top-padding-m2: 135px;
$content-side-padding: 16px;
$content-side-padding-m1: 34px;
$content-side-padding-m2: 35px;
$content-side-padding-m3: 0;
$content-bottom-padding: 86px;
$content-bottom-padding-m1: 107px;
$content-bottom-padding-m2: 136px;

// fonts
$futura-light: futura-light, sans-serif;
$futura-book: futura-book, sans-serif;
$futura-medium: futura-medium, sans-serif;
$futura-demi: futura-demi, sans-serif;
