<template>
    <div class="newsCardV1" :class="{ 'card__big': big }">
        <div class="newsCardV1__content" :class="{ 'row-m1': big }">
            <a
                :href="link"
                :target="target"
                class="newsCardV1__imgWrap"
            >
                <div class="newsCardV1__img" :style="`background-image: url(${img})`" />
            </a>
            <div class="newsCardV1__info" :class="{ 'col-m1 col-m1-6 offset-m1-6': big }">
                <div class="newsCardV1__infoInner">
                    <h3>{{ title }}</h3>
                    <ArrowLink
                        :href="link"
                        :new-tab="newTab"
                        :name="linkText"
                        class="newsCardV1__link"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import ArrowLink from '~/library/Elements/Links/TextLinkWithArrowV1.vue';

export default Vue.extend({
    components: {
        ArrowLink,
    },
    props: {
        big: { type: Boolean, default: false },
        img: { type: String, default: '/img/offerImg1.jpg' },
        title: { type: String, default: 'Заголовок' },
        link: { type: String, default: null },
        linkText: { type: String, default: 'Узнать больше' },
        newTab: { type: Boolean, default: false }
    },
    computed: {
        target(): string | boolean {
            return this.newTab ? '_blank' : false;
        }
    }
});
</script>

<style lang="scss">
    .newsCardV1 {
        @media (min-width: $m1) {
            &:nth-of-type(even) {
                .newsCardV1__content {
                    margin-right: 5px;
                }
            }

            &:nth-of-type(odd) {
                .newsCardV1__content {
                    margin-left: 5px;
                }
            }
        }

        @media (min-width: $m2) {
            &:nth-of-type(even) {
                .newsCardV1__content {
                    margin-right: 10px;
                }
            }

            &:nth-of-type(odd) {
                .newsCardV1__content {
                    margin-left: 10px;
                }
            }
        }

        @media (min-width: $m3) {
            &:nth-of-type(even) {
                .newsCardV1__content {
                    margin-right: 15px;
                }
            }

            &:nth-of-type(odd) {
                .newsCardV1__content {
                    margin-left: 15px;
                }
            }
        }

        &__imgWrap {
            position: relative;
            height: 58.66666666666667vw;
            overflow: hidden;
            display: block;
            z-index: 1;

            &:hover {
                .newsCardV1__img {
                    transform: scale(1.06);
                }
            }

            @media (min-width: $m1) {
                height: 29.296875vw;
            }

            @media (min-width: $m2) {
                height: 29.78515625vw;
            }

            @media (min-width: $m3) {
                height: 375px;
            }
        }

        &__img {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            transition: transform .4s;
        }

        &__info {
            padding: 25px 20px 19px;
            box-sizing: border-box;
            background-color: $gray-dark;
            z-index: 10;

            @media (min-width: $m1) {
                padding: 32px 30px 29px;
            }

            @media (min-width: $m2) {
                padding: 34px 42px 31px;
            }

            @media (min-width: $m3) {
                padding: 47px 55px 44px;
            }
        }

        h3 {
            margin: 0;
            font-family: $futura-book;
            font-size: 20px;
            line-height: 24px;

            @media (min-width: $m1) {
                margin-top: 3px;
            }
        }

        &__link {
            margin-top: 12px;

            @media (min-width: $m1) {
                margin-top: 11px;
            }

            @media (min-width: $m2) {
                margin-top: 18px;
            }
        }

        &:not(.card__big) {
            .newsCardV1__content {
                @media (min-width: $m1) {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }

            h3 {
                @media (min-width: $m1) {
                    font-size: 22px;
                    line-height: 26px;
                }

                @media (min-width: $m2) {
                    margin-top: 0;
                    font-size: 28px;
                    line-height: 36px;
                }
            }

            .newsCardV1__info {
                @media (min-width: $m1) {
                    flex-grow: 1;
                }

                @media (min-width: $m2) {
                    margin-top: -42px;
                    margin-right: 42px;
                }

                @media (min-width: $m3) {
                    margin-top: -55px;
                    margin-right: 55px;
                }
            }
        }

        &.card {
            &__big {
                .newsCardV1__content {
                    @media (min-width: $m1) {
                        height: 38.02083333333333vw;
                        align-items: center;
                        margin-right: 0;
                        margin-left: 0;
                    }

                    @media (min-width: $m2) {
                        height: 38.4765625vw;
                    }

                    @media (min-width: $m3) {
                        height: 396px;
                    }
                }

                .newsCardV1__imgWrap {
                    @media (min-width: $m1) {
                        position: absolute;
                        top: 0;
                        left: 10px;
                        height: 100%;
                        width: 67.578125vw;
                    }

                    @media (min-width: $m2) {
                        left: 15px;
                        width: 69.140625vw;
                    }

                    @media (min-width: $m3) {
                        left: 15px;
                        width: 870px;
                    }
                }

                .newsCardV1__info {
                    @media (min-width: $m1) {
                        padding: 0;
                        background-color: transparent;
                    }
                }

                .newsCardV1__infoInner {
                    @media (min-width: $m1) {
                        margin-left: 15px;
                        padding: 29px 30px 29px;
                        box-sizing: border-box;
                        background-color: $gray-dark;
                    }

                    @media (min-width: $m2) {
                        margin-left: 25px;
                        padding: 30px 42px 31px;
                    }

                    @media (min-width: $m3) {
                        margin-left: 30px;
                        padding: 43px 55px 45px;
                    }
                }

                h3 {
                    letter-spacing: -0.01em;

                    @media (min-width: $m1) {
                        font-family: $futura-book;
                        font-size: 28px;
                        line-height: 36px;
                    }

                    @media (min-width: $m2) {
                        font-family: $futura-light;
                        font-size: 42px;
                        line-height: 48px;
                    }
                }

                .newsCardV1__link {
                    @media (min-width: $m1) {
                        margin-top: 8px;
                    }

                    @media (min-width: $m2) {
                        margin-top: 19px;
                    }

                    @media (min-width: $m3) {
                        margin-top: 17px;
                    }
                }
            }
        }
    }
</style>
