<template>
    <div class="markdown row">
        <div v-if="heading" class="markdown__heading col col-m2-6">
            <div class="h1">{{ heading }}</div>
        </div>

        <div
            v-if="heading"
            class="markdown__content col col-m2-6"
            v-html="renderedContent"
        />
        <div
            v-else
            class="markdown__content col col-12"
            v-html="renderedContent"
        />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import createMd from './renderer';
const md = createMd();

export default Vue.extend({
    props: {
        heading: { type: String, default: null },
        content: { type: String, default: null },
    },
    data(): {
        renderedContent: string
    } {
        return {
            renderedContent: ''
        };
    },
    watch: {
        content() {
            this.render();
        }
    },
    created() {
        this.render();
    },
    methods: {
        render() {
            this.renderedContent = this.content ? md(this.content) : '';
        }
    }
});
</script>

<style lang="scss">
    .markdown {
        font-size: 22px;

        &__content {
            h3, .h3 {
                margin-top: 27px;
                font-size: 20px;
                line-height: 24px;

                &:first-child {
                    margin-top: 7px;
                }

                @media (min-width: $m1) {
                    margin-top: 2px;
                    font-size: 28px;
                    line-height: 36px;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                @media (min-width: $m2) {
                    &:first-child {
                        margin-top: 4px;
                    }
                }
            }

            h4, .h4 {
                margin-top: 50px;
                margin-bottom: 22px;

                @media (min-width: $m1) {
                    margin-top: 46px;
                    font-size: 20px;
                    line-height: 24px;
                }

                @media (min-width: $m2) {
                    margin-top: 66px;
                    font-size: 22px;
                    line-height: 26px;
                }
            }

            ul {
                margin-top: 22px;
                margin-bottom: 0;
                padding: 0;

                @media (min-width: $m1) {
                    margin-top: 30px;
                }

                @media (min-width: $m1) {
                    margin-top: 40px;
                }

                li {
                    position: relative;
                    list-style-type: none;
                    margin: 22px 0;
                    padding-left: 28px;
                    font-size: 18px;
                    line-height: 22px;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 8px;
                        left: 0;
                        width: 8px;
                        height: 8px;
                        background-color: $yellow;
                        transform: rotate(45deg);
                    }

                    &:first-of-type {
                        margin-top: 0 !important;
                    }

                    &:last-of-type {
                        margin-bottom: 0 !important;
                    }

                    a {
                        color: $yellow;
                        text-decoration: none;
                    }

                    @media (min-width: $m1) {
                        margin: 24px 0;
                        padding-left: 33px;
                        font-size: 20px;
                        line-height: 24px;

                        &:before {
                            left: 2px;
                        }
                    }

                    @media (min-width: $m2) {
                        margin: 26px 0;
                        padding-left: 46px;
                        font-size: 22px;
                        line-height: 26px;

                        &:before {
                            top: 10px;
                            left: 2px;
                        }
                    }

                    @media (min-width: $m3) {
                        padding-left: 47px;
                    }
                }
            }
        }

        &__heading {
            @media (min-width: $m1) {
                margin-top: 65px;
            }

            @media (min-width: $m2) {
                margin-top: 0;

                &:nth-of-type(1) {
                    padding-right: 50px;
                }

                h1, .h1 {
                    margin-top: 0;
                }
            }

            @media (min-width: $m1) {
                margin-top: 2px;
                font-size: 28px;
                line-height: 36px;
            }
        }
    }
</style>