<template>
    <div class="pageSliderV1">
        <FadeEffectSlider
            ref="fadeEffectSlider"
            :initial-slide="initialSlide"
            @sliderChanged="onSliderChanged"
        >
            <div
                v-for="(slide, i) in slides"
                :key="i"
                class="fadeEffectSliderV1__item"
            >
                <div class="fadeEffectSliderV1__itemBg" :style="`background-image: url(${slide.bgImg})`" />
                <div class="fadeEffectSliderV1__itemContent2">
                    <div class="fadeEffectSliderV1__itemInnerContent row">
                        <div class="pageSliderV1__fadeEffectSliderInfoBlock infoBlock__left col col-m2-6">
                            <h1
                                class="pageSliderV1__fadeEffectSliderTitle"
                                v-html="slide.title"
                            />
                            <h3
                                v-if="slide.text"
                                class="pageSliderV1__fadeEffectSliderText"
                                :class="{ 'd-none d-m1-block' : slide.textHiddenOnMobile }"
                                v-html="slide.text"
                            />

                            <div class="fadeEffectSliderV1__navigationWrap d-none d-m2-block">
                                <div class="fadeEffectSliderV1__navigation navigation__prev" />
                                <div class="fadeEffectSliderV1__navigation navigation__next" />
                            </div>
                        </div>

                        <div class="pageSliderV1__fadeEffectSliderInfoBlock infoBlock__right col col-m2-6">
                            <ContentFactory
                                v-for="(item, j) in slide.shortItems"
                                :key="j"
                                :item="item"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </FadeEffectSlider>

        <no-ssr>
            <MountingPortal mount-to="#slidepage-overlay" append>
                <div :class="['overlaysWrap', classes]">
                    <div class="overlaysWrap__close" @click="onOverlayClose" />
                    <SlidepageOverlay
                        v-for="(slide, i) in slides"
                        ref="slidepageOverlay"
                        :key="i"
                        :items="slide.items"
                        :accordions="slide.accordions"
                        :title="slide.title"
                        :btn-name="slide.overlayBtnText"
                        :class="{ active: slide.overlayActive }"
                        @overlayClose="onOverlayClose"
                    />
                </div>
            </MountingPortal>
        </no-ssr>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import { MountingPortal } from 'portal-vue';
import FadeEffectSlider from '~/library/Elements/Sliders/FadeEffectSliderV1.vue';
import ContentFactory from '~/library/Elements/Factories/SlidepageContentFactoryV1.vue';
import SlidepageOverlay from '~/library/Elements/Overlays/SlidepageOverlayV1.vue';
import { createTooltip, destroyTooltip, updateTooltip } from '~/library/Elements/Tooltip/tooltip';
import { navigateToHash } from '~/library/Elements/Hash/hash';
import Popper from "popper.js";
import { ISlide2 } from '~/types/types';

export default Vue.extend({
    components: {
        MountingPortal,
        FadeEffectSlider,
        ContentFactory,
        SlidepageOverlay,
    },
    props: {
        slides: {
            type: Array as PropType<ISlide2[]>,
            default(): ISlide2[] {
                return []
            }
        },
    },
    data(): {
        activeSlide: number,
        overlayShow: boolean,
        pops: Popper[]
    } {
        return {
            activeSlide: 0,
            overlayShow: false,
            pops: []
        }
    },
    computed: {
        classes(): { [paramName: string]: boolean } {
            return {
                'overlay-show': this.overlayShow,
            }
        },
        initialSlide(): number {
            let _tag = this.$store.state.activeSlideTag;
            let _index = this.slides.findIndex(slide => slide.tag === _tag);
            if (_index !== -1) {
                return _index;
            }
            return 0;
        }
    },
    mounted() {
        window.addEventListener('resize', this.onResize);
        createTooltip(this.$el, this.pops);
        navigateToHash(this.slides, this.$refs.fadeEffectSlider);
    },
    destroyed() {
        window.removeEventListener('resize', this.onResize);
        destroyTooltip(this.pops);
    },
    methods: {
        onSliderChanged(index: number) {
            this.activeSlide = index;
            window.history.pushState('', '', `${window.location.pathname}#${this.slides[this.activeSlide].tag}`);
        },
        onLearnMoreClick(e) {
            e.preventDefault();
            this.overlayShow = true;
            document.body.classList.add('l-fixed');
            this.slides[this.activeSlide].overlayActive = true;
            this.$refs.slidepageOverlay[this.activeSlide].onTooltipUpdate();
        },
        onOverlayClose() {
            this.overlayShow = false;
            document.body.classList.remove('l-fixed');

            this.slides.forEach((slide: ISlide2) => {
                slide.overlayActive = false;
            });
        },
        onTooltipUpdate() {
            updateTooltip(this.pops);
        },
        onResize() {
            this.onTooltipUpdate();
        }
    },
});
</script>

<style lang="scss">
    .pageSliderV1 {
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 10;

        &__fadeEffectSliderInfoBlock {
            position: relative;

            @media (min-width: $m2) {
                padding-right: 52px;
            }

            @media (min-width: $m3) {
                padding-right: 70px;
                box-sizing: border-box;
            }

            &.infoBlock__right {
                flex-grow: 1;
                margin-top: 35px;
                padding-bottom: 144px;
                box-sizing: border-box;

                @media (min-width: $m1) {
                    flex-grow: 0;
                    margin-top: 45px;
                    /*padding-bottom: 55px;*/
                    padding-bottom: 30px;
                }

                @media (min-width: $m2) {
                    margin-top: 7px;
                    padding-bottom: 0;
                }

                > p {
                    &:first-child {
                        margin-top: 0;

                        @media (min-width: $m3) {
                            margin-top: -5px;
                        }
                    }
                }

                p {
                    &.mini {
                        margin-top: 30px;
                        font-size: 18px;
                        line-height: 22px;
                    }

                    &.mini-2 {
                        font-size: 20px;
                        line-height: 24px;
                    }

                    @media (min-width: $m1) {
                        font-size: 28px;
                        line-height: 36px;

                        &.mini-2 {
                            font-size: 22px;
                            line-height: 26px;
                        }
                    }

                    @media (min-width: $m3) {
                        font-size: 28px;
                        line-height: 36px;

                        &.mini {
                            margin-top: 26px;
                        }
                    }
                }

                .iconLinksList {
                    li {
                        margin-top: 17px;
                    }

                    @media (min-width: $m1) {
                        margin-top: 10px;
                    }

                    @media (min-width: $m2) {
                        margin-top: 0;

                        li {
                            margin-top: 44px;
                        }
                    }
                }

                .pageSliderV1__fadeEffectSliderBtnsBlock + .mini {
                    @media (min-width: $m2) {
                        margin-top: 37px;
                    }
                }
            }

            .textLinkWithIconV1__icon {
                top: 5px;

                @media (min-width: $m3) {
                    top: 3px;
                }
            }

            .textLinkWithIconV1__text {
                @media (min-width: $m2) {
                    margin-left: 22px;
                }
            }
        }

        &__fadeEffectSliderTitle {
            margin-top: 0;
            margin-bottom: 0;
            font-family: $futura-light;
            user-select: none;

            @media (max-width: 767px) {
                font-size: 34px;
                line-height: 38px;
            }

            @media (min-width: $m1) {
                letter-spacing: -0.01em;
            }

            @media (min-width: $m2) {
                margin-top: 0;
                font-size: 60px;
                line-height: 60px;
            }
        }

        &__fadeEffectSliderText {
            letter-spacing: 0;
            user-select: none;

            @media (max-width: 767px) {
                margin-top: 35px;
                font-size: 20px;
                line-height: 24px;
            }

            @media (min-width: $m1) {
                margin-top: 45px;
            }

            @media (min-width: $m2) {
                margin-top: 42px;
            }

            a {
                color: $yellow;
                text-decoration: none;

                &:hover {
                    color: $yellow-dark;
                }
            }
        }

        &__fadeEffectSliderBtnsBlock {
            position: absolute;
            left: 5px;
            right: 5px;
            bottom: 0;

            @media (min-width: $m1) {
                position: relative;
                left: auto;
                right: auto;
                bottom: auto;
                display: flex;
                margin-top: 49px;
            }

            @media (min-width: $m2) {
                margin-top: 57px;
                box-sizing: border-box;
            }
        }

        &__fadeEffectSliderBtn1 {
            margin-bottom: 14px;
            padding-left: 35px;
            padding-right: 35px;

            @media (min-width: $m1) {
                margin-bottom: 0;
                padding-left: 34px;
                padding-right: 34px;
            }

            @media (min-width: $m3) {
                min-width: 50%;
                flex-shrink: 0;
                margin-bottom: 0;
            }
        }

        &__fadeEffectSliderBtn2 {
            height: 31px;
            margin-bottom: 12px;

            @media (min-width: $m1) {
                height: 58px;
                margin-left: 45px;
                margin-bottom: 0;
            }

            @media (min-width: $m3) {
                width: 50%;
                height: 60px;
                /*min-width: 50%;*/
                flex-shrink: 1;
                margin-bottom: 0;
                margin-right: 45px;
            }
        }

        &__currencies {
            margin-top: -21px;

            @media (min-width: $m1) {
                margin-top: 0;
            }

            @media (min-width: $m2) {
                margin-top: 3px;
            }

            @media (min-width: $m3) {
                margin-bottom: 60px;
            }
        }

        .iconLinksList {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                margin-top: 20px;

                &:first-of-type {
                    margin-top: 0;
                }

                a {
                    &:hover {
                        color: #fff;
                    }
                }

                @media (min-width: $m3) {
                    margin-top: 44px;
                }
            }
        }
    }
</style>
