<template>
    <div class="pageSliderV2">
        <FadeEffectSlider
            ref="fadeEffectSlider"
            :initial-slide="initialSlide"
            @sliderChanged="onSliderChanged"
        >
            <div
                v-for="(slide, i) in slides"
                :key="i"
                class="fadeEffectSliderV1__item"
            >
                <div class="fadeEffectSliderV1__itemBg" :style="`background-image: url(${slide.bgImg})`" />
                <div class="fadeEffectSliderV1__itemContent">
                    <div class="pageSliderV2__fadeEffectSliderInfoBlock">
                        <div
                            v-if="slide.overtitle"
                            class="pageSliderV2__fadeEffectSliderOvertitle"
                            v-html="slide.overtitle"
                        />
                        <h1
                            class="pageSliderV2__fadeEffectSliderTitle"
                            v-html="slide.title"
                        />
                        <h3
                            v-if="slide.text"
                            class="pageSliderV2__fadeEffectSliderText"
                            v-html="slide.text"
                        />

                        <div class="fadeEffectSliderV1__navigationWrap d-none d-m2-block">
                            <div class="fadeEffectSliderV1__navigation navigation__prev" />
                            <div class="fadeEffectSliderV1__navigation navigation__next" />
                        </div>
                    </div>

                    <div class="pageSliderV2__fadeEffectSliderBtnsBlock">
                        <FadeEffectSliderButton1
                            v-if="slide.btn1Text"
                            :name="slide.btn1Text"
                            class="pageSliderV2__fadeEffectSliderBtn1 button__block"
                        />
                        <FadeEffectSliderButton2
                            v-if="slide.btn2Text"
                            :name="slide.btn2Text"
                            class="pageSliderV2__fadeEffectSliderBtn2 button__block"
                            @click.native="onLearnMoreClick"
                        />
                    </div>
                </div>
            </div>
        </FadeEffectSlider>

        <SlideEffectSlider
            ref="slideEffectSlider"
            :options="{ allowTouchMove: false }"
            class="pageSliderV2__slideEffectSlider"
        >
            <div
                v-for="(slide, i) in slides"
                :key="i"
                class="slideEffectSliderV1__item"
            >
                <div class="slideEffectSliderV1__itemImg" :style="`background-image: url(${slide.cardImg})`" />
            </div>
        </SlideEffectSlider>

        <no-ssr>
            <MountingPortal mount-to="#slidepage-overlay" append>
                <div :class="['overlaysWrap', classes]">
                    <div class="overlaysWrap__close" @click="onOverlayClose" />
                    <SlidepageOverlay
                        v-for="(slide, i) in slides"
                        :key="i"
                        :items="slide.items"
                        :accordions="slide.accordions"
                        :overtitle="slide.overtitle"
                        :title="slide.title"
                        :btn-name="slide.overlayBtnText"
                        :class="{ active: slide.overlayActive }"
                        @overlayClose="onOverlayClose"
                    />
                </div>
            </MountingPortal>
        </no-ssr>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import { MountingPortal } from 'portal-vue';
import FadeEffectSlider from '~/library/Elements/Sliders/FadeEffectSliderV1.vue';
import FadeEffectSliderButton1 from '~/library/Elements/Buttons/ButtonV1.vue';
import FadeEffectSliderButton2 from '~/library/Elements/Links/TextLinkWithArrowV1.vue';
import SlideEffectSlider from '~/library/Elements/Sliders/SlideEffectSliderV1.vue';
import SlidepageOverlay from '~/library/Elements/Overlays/SlidepageOverlayV1.vue';
import { createTooltip, destroyTooltip, updateTooltip } from '~/library/Elements/Tooltip/tooltip';
import { navigateToHash } from '~/library/Elements/Hash/hash';
import Popper from "popper.js";
import { ISlide } from '~/types/types';

export default Vue.extend({
    components: {
        MountingPortal,
        FadeEffectSlider,
        FadeEffectSliderButton1,
        FadeEffectSliderButton2,
        SlideEffectSlider,
        SlidepageOverlay,
    },
    props: {
        slides: {
            type: Array as PropType<ISlide[]>,
            default(): ISlide[] {
                return []
            }
        },
    },
    data(): {
        activeSlide: number,
        overlayShow: boolean,
        pops: Popper[]
    } {
        return {
            activeSlide: 0,
            overlayShow: false,
            pops: []
        }
    },
    computed: {
        classes(): { [paramName: string]: boolean } {
            return {
                'overlay-show': this.overlayShow,
            }
        },
        initialSlide(): number {
            let _tag = this.$store.state.activeSlideTag;
            let _index = this.slides.findIndex(slide => slide.tag === _tag);
            if (_index !== -1) {
                return _index;
            }
            return 0;
        }
    },
    mounted() {
        window.addEventListener('resize', this.onResize);
        createTooltip(this.$el, this.pops);
        navigateToHash(this.slides, this.$refs.fadeEffectSlider);
    },
    destroyed() {
        window.removeEventListener('resize', this.onResize);
        destroyTooltip(this.pops);
    },
    methods: {
        onSliderChanged(index: number) {
            this.activeSlide = index;
            (this.$refs.slideEffectSlider as any).slideToIndex(this.activeSlide);
            window.history.pushState('', '', `${window.location.pathname}#${this.slides[this.activeSlide].tag}`);
        },
        onLearnMoreClick(e) {
            e.preventDefault();
            this.overlayShow = true;
            document.body.classList.add('l-fixed');
            this.slides[this.activeSlide].overlayActive = true;
        },
        onOverlayClose() {
            this.overlayShow = false;
            document.body.classList.remove('l-fixed');

            this.slides.forEach((slide: ISlide) => {
                slide.overlayActive = false;
            });
        },
        onTooltipUpdate() {
            updateTooltip(this.pops);
        },
        onResize() {
            this.onTooltipUpdate();
        }
    },
});
</script>

<style lang="scss">
    .pageSliderV2 {
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 10;

        &__fadeEffectSliderInfoBlock {
            position: relative;
            height: 355px;

            @media (min-width: $m2) {
                top: 28px;
                height: 364px;
                width: calc(50% - 15px);
                padding-right: 42px;
                box-sizing: border-box;
            }

            @media (min-width: $m3) {
                top: -15px;
                height: 302px;
                padding-right: 70px;
            }
        }

        &__fadeEffectSliderOvertitle {
            font-family: $futura-medium;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            user-select: none;

            @media (min-width: $m1) {
                font-size: 14px;
                line-height: 16px;
                opacity: .6;
            }
        }

        &__fadeEffectSliderTitle {
            height: 76px;
            margin-top: 2px;
            margin-bottom: 0;
            user-select: none;

            @media (min-width: $m1) {
                height: 96px;
                margin-top: 14px;
            }

            @media (min-width: $m2) {
                height: auto;
                margin-top: 16px;
                font-size: 60px;
                line-height: 60px;
            }
        }

        &__fadeEffectSliderText {
            margin-top: 219px;
            letter-spacing: 0;
            user-select: none;

            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 22px;
            }

            @media (min-width: $m1) {
                height: 72px;
                margin-top: 46px;
            }

            @media (min-width: $m2) {
                height: auto;
                margin-top: 42px;
            }

            a {
                color: $yellow;
                text-decoration: none;

                &:hover {
                    color: $yellow-dark;
                }
            }
        }

        &__fadeEffectSliderBtnsBlock {
            position: absolute;
            left: $content-side-padding;
            right: $content-side-padding;
            bottom: 0;

            @media (min-width: $m1) {
                position: relative;
                left: auto;
                right: auto;
                bottom: auto;
                display: flex;
                /*margin-top: 292px;*/
                margin-top: 267px;
            }

            @media (min-width: $m2) {
                top: 184px;
                width: calc(50% - 15px);
                margin-top: 30px;
                margin-left: 30px;
                padding-right: 52px;
                box-sizing: border-box;
            }

            @media (min-width: $m3) {
                top: 222px;
                padding-right: 70px;
            }
        }

        &__fadeEffectSliderBtn1 {
            margin-bottom: 14px;
            padding-left: 35px;
            padding-right: 35px;

            @media (min-width: $m1) {
                margin-bottom: 0;
                padding-left: 43px;
                padding-right: 43px;
            }

            @media (min-width: $m2) {
                min-width: 50%;
                flex-shrink: 0;
                margin-bottom: 0;
                padding-left: 46px;
                padding-right: 46px;
            }
        }

        &__fadeEffectSliderBtn2 {
            height: 31px;
            margin-bottom: 12px;

            @media (min-width: $m1) {
                height: 58px;
                margin-left: 45px;
                margin-bottom: 0;
            }

            @media (min-width: $m2) {
                width: 50%;
                height: 60px;
                /*min-width: 50%;*/
                flex-shrink: 1;
                margin-bottom: 0;
                margin-right: 45px;
            }
        }

        &__slideEffectSlider {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -100px;
            z-index: 15;
            pointer-events: none;

            @media (min-width: $m1) {
                top: 0;
                margin-top: 467px;
            }

            @media (min-width: $m2) {
                top: 50%;
                left: 205px;
                margin-top: -185px;
            }

            @media (min-width: $m3) {
                left: 245px;
                margin-top: -197px;
            }
        }
    }
</style>
