<template>
    <div class="__inner-wrap">
        <nuxt />
        <no-ssr>
            <div id="slidepage-overlay" />
        </no-ssr>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    watch: {
        $route() {
            this.$store.dispatch('setTopNav', { open: true });

            let _tag = window.location.hash.replace('#', '');
            if (_tag) {
                this.$store.dispatch('setActiveSlideTag', { tag: _tag });
            } else {
                this.$store.dispatch('setActiveSlideTag', { tag: '' });
            }
        }
    }
});
</script>

<style lang="scss">
    #__nuxt,
    #__layout,
    .__inner-wrap {
        height: 100%;
    }
</style>
