<template>
    <div class="brokerPage l-page">
        <PageHeader />
        <PageSlider :slides="slides" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PageHeader from '~/library/Components/PageHeader/PageHeader.vue';
import PageSlider from '~/library/Components/PageSliders/PageSliderV1.vue';
import { ISlide2 } from '~/types/types.d';

export default Vue.extend({
    components: {
        PageHeader,
        PageSlider
    },
    data(): {
        slides: ISlide2[]
    } {
        return {
            slides: [
                {
                    tag: 'brokerTag1',
                    title: 'Паевые инвестиционные фонды',
                    text: 'Профессиональное управление вашими накоплениями в одном из самых ликвидных инвестиционных инструментов',
                    textHiddenOnMobile: true,
                    bgImg: '/img/brokerBg1.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Минимальная сумма вложений 50 тыс. ₽',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: '17 паевых инвестиционных фондов ',
                                    icon: 'icon__graph'
                                }, {
                                    link: false,
                                    text: 'До 3 млн ₽ в год инвестиционного налогового вычета',
                                    icon: 'icon__income'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [
                        {
                            type: 'h',
                            level: 3,
                            content: 'Особенности'
                        }, {
                            type: 'list',
                            listItems: [
                                { text: 'Профессиональная команда управляющей компании поможет отследить ситуацию на фондовом рынке' },
                                { text: 'Возможен переход из фонда в фонд' },
                                { text: 'Льготное налогообложение для долгосрочных инвесторов' },
                                { text: 'Инвестиции в рублях' },
                                { text: 'Портфели фондов могут включать акции и облигации российских и иностранных эмитентов, а также драгоценные металлы.' }
                            ]
                        }
                    ],
                    accordions: [
                        {
                            name: 'Как это работает',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'На свободные средства вы приобретаете паи в инвестиционном фонде и получаете право на часть его портфеля' },
                                        { text: 'Управляющая компания анализирует ситуацию на финансовом рынке, продает и покупает активы. Ее задача — получить максимум прибыли для вас' },
                                        { text: 'Вы продаете паи фонда и фиксируете результат. Важно — стоимость паев зависит от рыночной ситуации, она может увеличиваться и уменьшаться.' }
                                    ],
                                    ordered: true
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'brokerTag2',
                    title: 'Доверительное управление',
                    text: 'Профессиональное управление экспертами банка ценными бумагами с целью максимизации вашей прибыли',
                    textHiddenOnMobile: true,
                    bgImg: '/img/brokerBg2.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Минимальная сумма вложений 1 млн ₽',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'Управления инвестициями в рублях, долларах, евро, фунтах и швейцарских франках',
                                    icon: 'icon__pie'
                                }, {
                                    link: false,
                                    text: 'Широкие возможности по реализации стратегий<i class="d-none d-m1-inline">, недоступных через иные формы инвестирования</i>',
                                    icon: 'icon__graph'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [
                        {
                            type: 'h',
                            level: 3,
                            content: 'Особенности'
                        }, {
                            type: 'list',
                            listItems: [
                                { text: 'Индивидуальный подход' },
                                { text: 'Актуальность <span class="tooltipWrap"><span class="tooltipBody">Линейка стратегий постоянно меняется в зависимости от рыночной конъюнктуры</span>решений</span>' },
                                { text: '<span class="tooltipWrap"><span class="tooltipBody">В некоторых стратегиях</span>Льготное</span> налогообложение для долгосрочных инвесторов' }
                            ]
                        }
                    ],
                    accordions: [
                        {
                            name: 'Как это работает',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Вы выбираете стратегию, заключаете договор и передаете средства в доверительное управление' },
                                        { text: 'Управляющая компания анализирует ситуацию на финансовом рынке, продает и покупает активы согласно стратегии. Ее задача — получить максимум прибыли для вас' },
                                        { text: 'Финансовый результат вы фиксируете по окончании стратегии. В некоторых стратегиях также возможно получение промежуточных выплат' }
                                    ],
                                    ordered: true
                                }, {
                                    type: 'arrowLink',
                                    link: '',
                                    newTab: false,
                                    name: 'Подобрать стратегию'
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'brokerTag3',
                    title: 'Индивидуальный инвестиционный счет',
                    text: 'Инвестиционный инструмент с возможностью получения дополнительного дохода за счет налоговых льгот',
                    textHiddenOnMobile: true,
                    bgImg: '/img/brokerBg3.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Минимальная сумма вложений 100 тыс. ₽',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'На 3 года или более',
                                    icon: 'icon__calendar'
                                }, {
                                    link: false,
                                    text: 'Гарантированный <span class="tooltipWrap"><span class="tooltipBody">До 52 тыс. ₽ в год </span>доход</span> в 13% за счет налогового вычета на взносы',
                                    icon: 'icon__income'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [
                        {
                            type: 'h',
                            level: 3,
                            content: 'Как это работает'
                        }, {
                            type: 'list',
                            listItems: [
                                { text: 'Вы заключаете договор и ежегодно инвестируете средства на счет' },
                                { text: 'Управляющая компания анализирует ситуацию на финансовом рынке, продает и покупает активы согласно стратегии. Ее задача — получить максимум прибыли для вас' },
                                { text: 'Инвестирование на сроке три года и более позволяет получить налоговый вычет и увеличить прибыль' }
                            ],
                            ordered: true
                        }
                    ],
                    accordions: [
                        {
                            name: 'Что такое инвестиционный налоговый вычет',
                            items: [
                                {
                                    type: 'text',
                                    content: ['Государство гарантирует владельцам индивидуальных инвестиционных счетов налоговые льготы']
                                }, {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Вычет на взносы',
                                                            class: 'bold'
                                                        }, {
                                                            text: 'Вычет в размере 13% от <span class="tooltipWrap"><span class="tooltipBody">Но не более 52 тыс. ₽ в год</span>суммы</span> ежегодного взноса. Вычет полагается всем, у кого в соответствующем налоговом периоде были доходы, облагаемые НДФЛ по ставке 13%.'
                                                        }, {
                                                            text: 'Если счет был закрыт в течение 3 лет, вычет не применяется. В этом случае полученные в качестве вычета средства необходимо вернуть в бюджет.'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Вычет на доходы',
                                                            class: 'bold'
                                                        }, {
                                                            text: 'Вы можете не платить налог на доход, полученный от операций с ценными бумагами на протяжении всего времени действия счет. Размер вычета не ограничен.'
                                                        }, {
                                                            text: 'Если счет был закрыт в течение 3 лет, вычет не применяется. Доход будет подлежать стандартному налогообложению.'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }
                            ]
                        }, {
                            name: 'Условия',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Вы можете иметь только 1 индивидуальный инвестиционный счет' },
                                        { text: 'Средства можно вносить только в рублях' },
                                        { text: 'Минимальный срок действия счета — 3 года' },
                                        { text: 'В течение всего периода действия счета средства можно вносить, но нельзя изымать' },
                                        { text: 'Максимальная сумма взноса в год — 1 млн ₽' },
                                        { text: 'Ранее открытый ИИС можно перевести в Управляющую компанию.' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Стратегия',
                            items: [
                                {
                                    type: 'text',
                                    content: [
                                        'Стратегия индивидуального инвестиционного счета ориентирована на получение умеренного и прогнозируемого дохода, а также предоставление клиентам права воспользоваться инвестиционным налоговым вычетом.',
                                        'Портфель формируется из облигаций высоконадежных российских эмитентов, выпущенных в рублях.'
                                    ]
                                }, {
                                    type: 'cols',
                                    cols: [
                                        [
                                            {
                                                type: 'h',
                                                level: 3,
                                                content: '100 тыс. ₽'
                                            }, {
                                                type: 'text',
                                                content: ['размер взноса в первый год'],
                                                class: 'mini gray65'
                                            }
                                        ], [
                                            {
                                                type: 'h',
                                                level: 3,
                                                content: '3 года'
                                            }, {
                                                type: 'text',
                                                content: ['срок инвестиций'],
                                                class: 'mini gray65'
                                            }
                                        ]
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'brokerTag4',
                    title: 'Брокерское обслуживание',
                    text: 'Управляйте своими активами на ведущих торговых площадках',
                    textHiddenOnMobile: true,
                    bgImg: '/img/brokerBg4.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Рекомендуемая сумма вложений 1 млн ₽',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'Широкий выбор продуктов для инвестиций',
                                    icon: 'icon__graph'
                                }, {
                                    link: false,
                                    text: 'Стратегии с минимизацией рисков',
                                    icon: 'icon__picture'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [
                        {
                            type: 'h',
                            level: 3,
                            content: 'Особенности'
                        }, {
                            type: 'text',
                            content: ['В рамках брокерского обслуживания на биржевом рынке мы проводим операции клиентов на Московской бирже MOEX с ценными бумагами.']
                        }, {
                            type: 'list',
                            listItems: [
                                { text: 'Государственные, муниципальные и корпоративные облигации' },
                                { text: 'Еврооблигации (номинированные в долларах США)' },
                                { text: 'Акции российских и иностранных компаний' },
                                { text: 'Депозитарные расписки (ADR/GDR)' },
                                { text: 'Еврооблигации Министерства финансов РФ' },
                                { text: 'ETF, фонды недвижимости (REIT)' },
                                { text: 'И другие инструменты' }
                            ]
                        }, {
                            type: 'h',
                            level: 3,
                            content: 'Рекомендуемые инвестиции'
                        }, {
                            type: 'table',
                            rows: {
                                body: [
                                    [
                                        {
                                            items: [
                                                {
                                                    text: 'Для биржевого рынка',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'От 1 млн ₽ или 15 тыс. $'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Для внебиржевого рынка',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'От 200 тыс. $'
                                                }
                                            ]
                                        }
                                    ]
                                ]
                            }
                        }
                    ],
                    accordions: [
                        {
                            name: 'Условия',
                            items: [
                                {
                                    type: 'h',
                                    level: 3,
                                    content: 'Биржевой рынок MOEX'
                                }, {
                                    type: 'text',
                                    content: ['Сделки с акциями, государственными и корпоративными облигациями, заключенные в секторе «Основной рынок» фондового рынка Московской Биржи.']
                                }, {
                                    type: 'table',
                                    rows: {
                                        head: [
                                            [
                                                {
                                                    text: 'Величина оборота за торговый день'
                                                }, {
                                                    text: 'Размер <span class="tooltipWrap"><span class="tooltipBody">Указано вознаграждение банка без учета комиссий ТС, дополнительных сборов, комиссий третьих лиц, иных сборов и комиссий, возникающих в связи с исполнением заявки</span>комиссии</span> от оборота за торговый день'
                                                }
                                            ]
                                        ],
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'До 1 000 000 ₽',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '0,08%'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Свыше 1 000 000 ₽',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '0,05%'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }, {
                                    type: 'text',
                                    content: ['Сделки с акциями, облигациями и ETF, номинированными в долларах США, заключенные в секции фондового рынка Московской Биржи.']
                                }, {
                                    type: 'table',
                                    rows: {
                                        head: [
                                            [
                                                {
                                                    text: 'Величина оборота за торговый день'
                                                }, {
                                                text: 'Размер <span class="tooltipWrap"><span class="tooltipBody">Указано вознаграждение банка без учета комиссий ТС, дополнительных сборов, комиссий третьих лиц, иных сборов и комиссий, возникающих в связи с исполнением заявки</span>комиссии</span> от оборота за торговый день'
                                            }
                                            ]
                                        ],
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'До 50 000 $',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                items: [
                                                    {
                                                        text: '0,15%'
                                                    }
                                                ]
                                            }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Свыше 50 000 $',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '0,1%'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }, {
                                    type: 'h',
                                    level: 3,
                                    content: 'Внебиржевой рынок '
                                }, {
                                    type: 'text',
                                    content: ['Сделки с ценными бумагами, заключенные на внебиржевом рынке (ОТС)']
                                }, {
                                    type: 'table',
                                    rows: {
                                        head: [
                                            [
                                                {
                                                    text: 'Величина оборота за торговый день (Долларов США/ Евро/Рублей)'
                                                }, {
                                                    text: 'Размер <span class="tooltipWrap"><span class="tooltipBody">Указано вознаграждение банка без учета комиссий ТС, дополнительных сборов, комиссий третьих лиц, иных сборов и комиссий, возникающих в связи с исполнением заявки</span>комиссии</span> от оборота за торговый день'
                                                }
                                            ]
                                        ],
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Вне зависимости от оборота',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '0,15%'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }, {
                                    type: 'h',
                                    level: 3,
                                    content: 'Дополнительно'
                                }, {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Депозитарный тариф',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '0,5% годовых от средней стоимости условного портфеля Депонента, но не более 1 490 рублей в месяц'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Подача Заявок на бумажном носителе ',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '1 000 рублей/ 25 Евро / 30 долларов США '
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Подача Заявок в режиме <span class="tooltipWrap"><span class="tooltipBody">Режим Переговорных Сделок</span>РПС</span>',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '0,15% от суммы сделки, но не менее 500 рублей для сделок в рублях/10 долларов США для сделок в долларах США или в других валютах '
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }
                            ]
                        }, {
                            name: 'Интернет-трейдинг',
                            items: [
                                {
                                    type: 'text',
                                    content: [
                                        'Система интернет-трейдинга Quik помогает клиентам следить за состоянием активов, выставлять заявки и заключать сделки с рублевыми инструментами на Московской Бирже в режиме реального времени.',
                                        'Для открытия брокерского счета свяжитесь со своим персональным менеджером или позвоните на телефон Premium Line.'
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    },
    // methods: {},
});
</script>

<style lang="scss">

</style>
