<template>
    <div class="cardsPage l-page">
        <PageHeader />
        <PageSlider :slides="slides" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PageHeader from '~/library/Components/PageHeader/PageHeader.vue';
import PageSlider from '~/library/Components/PageSliders/PageSliderV2.vue';
import { ISlide } from '~/types/types.d';

export default Vue.extend({
    components: {
        PageHeader,
        PageSlider
    },
    data(): {
        slides: ISlide[]
    } {
        return {
            slides: [
                {
                    tag: 'cardsTag1',
                    overtitle: 'дебетовая карта',
                    title: 'Mastercard World Black Edition Premium',
                    text: 'Удобная карта на каждый день — с открытием в 3 валютах и бонусами от партнеров',
                    btn1Text: 'Открыть карту',
                    btn2Text: 'Узнать больше',
                    bgImg: '/img/cardBg1.jpg',
                    cardImg: '/img/card1.jpg',
                    overlayActive: false,
                    overlayBtnText: 'Открыть карту',
                    items: [
                        {
                            type: 'list',
                            listItems: [
                                { text: 'Бесплатное обслуживание в рамках пакета Premium Banking' },
                                { text: 'Возможность открыть в трех валютах: рубли, доллары, евро' },
                                { text: 'Снятие наличных за рубежом без комиссии' },
                                { text: 'Бесплатные уведомления об операциях и удобный <a href>Онлайн‑банк</a>' }
                            ]
                        }
                    ],
                    accordions: [
                        {
                            name: 'Привилегии по карте',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: 'Доступ в комфортабельный <span>бизнес‑зал Mastercard</span> в Шереметьево',
                                            icon: 'icon__chair'
                                        }, {
                                            link: '',
                                            text: 'Свободный доступ в <span>бизнес‑залы Mastercard Lounge</span> в Европе',
                                            icon: 'icon__chair'
                                        }, {
                                            link: '',
                                            text: '<span>Скидка 10%</span> на экскурсии по всему миру Weatlas',
                                            icon: 'icon__globe'
                                        }, {
                                            link: '',
                                            text: '<span>Скидка до 35%</span> и повышение класса автомобиля в Avis',
                                            icon: 'icon__car'
                                        }, {
                                            link: '',
                                            text: '<span>Скидка 10%</span> в ресторанах Ginza Project в Москве',
                                            icon: 'icon__food2'
                                        }, {
                                            link: '',
                                            text: '<span>Скидка 10%</span> на билеты в «Синема Парк» и «Формула Кино»',
                                            icon: 'icon__movie'
                                        }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Условия</span> по дебетовой карте MasterCard World Black Edition Premium / Visa Platinum Premium',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'cardsTag2',
                    overtitle: 'дебетовая карта',
                    title: 'Visa Platinum Premium',
                    text: 'Карта Visa со скидками и привилегиями и возможностью открытия в 3 валютах',
                    btn1Text: 'Открыть карту',
                    btn2Text: 'Узнать больше',
                    bgImg: '/img/cardBg2.jpg',
                    cardImg: '/img/card2.jpg',
                    overlayActive: false,
                    overlayBtnText: 'Открыть карту',
                    items: [
                        {
                            type: 'list',
                            listItems: [
                                { text: 'Бесплатное обслуживание в рамках пакета Premium Banking' },
                                { text: 'Возможность открыть в трех валютах: рубли, доллары, евро' },
                                { text: 'Снятие наличных за рубежом без комиссии' },
                                { text: 'Бесплатные уведомления об операциях и удобный <a href>Онлайн‑банк</a>' }
                            ]
                        }
                    ],
                    accordions: [
                        {
                            name: 'Привилегии по карте',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>7 дней</span> — Бесплатный и безлимитный интернет в роуминге «Билайн», «МегаФон», МТС и Tele2',
                                            icon: 'icon__roaming'
                                        }, {
                                            link: '',
                                            text: '<span>Скидка 20%</span> на упаковку багажа с PACK&FLY и STAR BAG',
                                            icon: 'icon__luggage'
                                        }, {
                                            link: '',
                                            text: '<span>Скидки 10%</span> в ресторанах NOVIKOV GROUP в аэропорту «Шереметьево»',
                                            icon: 'icon__food2'
                                        }, {
                                            link: '',
                                            text: '<span>Скидка 20%</span> на трансферы в аэропорт и обратно с Wheely и Gett',
                                            icon: 'icon__car2'
                                        }, {
                                            link: '',
                                            text: '<span>Скидка 10%</span> в сети ресторанов White Rabbit Family',
                                            icon: 'icon__food2'
                                        }, {
                                            link: '',
                                            text: '<span>Скидка 10%</span> на билеты и кинобар в сети кинотеатров «Каро»',
                                            icon: 'icon__movie'
                                        }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Условия</span> по дебетовой карте MasterCard World Black Edition Premium / Visa Platinum Premium',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'cardsTag3',
                    overtitle: 'дебетовая карта',
                    title: 'Masterсard Buy&Fly Premium Rewards',
                    text: 'Оплачивайте покупки картой Buy&Fly, получайте мили — и путешествуйте бесплатно',
                    btn1Text: 'Открыть карту',
                    btn2Text: 'Узнать больше',
                    bgImg: '/img/cardBg3.jpg',
                    cardImg: '/img/card3.jpg',
                    overlayActive: false,
                    overlayBtnText: 'Открыть карту',
                    items: [
                        {
                            type: 'text',
                            content: ['За любую оплату картой на личный счет начисляются бонусные мили. Их можно обменивать <a href>в личном кабинете</a> на авиабилеты, ж/д‑билеты, отели, билеты на «Аэроэкспресс» и трансферы в аэропорт.']
                        }
                    ],
                    accordions: [
                        {
                            name: 'Условия накопления миль',
                            items: [
                                {
                                    type: 'text',
                                    content: ['Мили начисляются за ваши покупки по карте и начисляются исходя из суммы трат по карте за прошедший календарный месяц.']
                                }, {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'До 75 тыс ₽ трат по карте в месяц',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '1 миля за 100 ₽'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Свыше 75 тыс ₽ трат по карте в месяц',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '4 мили за 100 ₽'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }, {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: false,
                                            text: 'Мили сохраняются до 36 месяцев, в год можно накопить до 240 тыс. миль',
                                            icon: 'icon__calendar'
                                        }, {
                                            link: false,
                                            text: 'Милями можно оплатить билет целиком, без дополнительной оплаты топливных сборов',
                                            icon: 'icon__tickets'
                                        }, {
                                            link: false,
                                            text: 'Если вам не хватает миль на ваше путешествие, вы можете доплатить рублями',
                                            icon: 'icon__wallet'
                                        }, {
                                            link: false,
                                            text: 'Копите мили быстрее всей семьей. Вы можете заказать до 5 дополнительных карт',
                                            icon: 'icon__cards'
                                        }, {
                                            link: false,
                                            text: 'Стоимость обслуживания составит 299 ₽ в месяц',
                                            icon: 'icon__money'
                                        }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Как обменять мили',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Зайдите в свой <a href>личный кабинет</a>' },
                                        { text: 'Выберите нужный билет, отель или закажите трансфер' },
                                        { text: 'Оплатите заказ милями и готовьтесь к путешествию' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Условия</span> по дебетовой карте MasterCard Buy&Fly WBE Premium Rewards',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Вопросы и ответы</span> по программе Buy&Fly',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Правила программы</span> Mastercard Rewards',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'cardsTag4',
                    overtitle: 'кредитная карта',
                    title: 'Austrian Airlines Masterсard World Black',
                    text: 'Копите мили и летайте с Austrian Airlines, Lufthansa и авиакомпаниями Star Alliance',
                    btn1Text: 'Открыть карту',
                    btn2Text: 'Узнать больше',
                    bgImg: '/img/cardBg4.jpg',
                    cardImg: '/img/card4.jpg',
                    overlayActive: false,
                    overlayBtnText: 'Открыть карту',
                    items: [
                        {
                            type: 'text',
                            content: ['Оплачивайте любые покупки и услуги по кредитной карте Austrian Airlines и одновременно копите мили по программе нашего партнера <a href="">Miles & More</a>.']
                        }, {
                            type: 'list',
                            listItems: [
                                { text: '1 миля за каждые 60 ₽, потраченные по карте' },
                                { text: 'Дополнительные мили — за покупку авиабилетов, аренду машин и отелей' },
                                { text: 'Кредитный лимит — до 1 млн ₽' }
                            ]
                        }
                    ],
                    accordions: [
                        {
                            name: 'Как тратить мили',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: false,
                                            text: 'Бронируйте билеты на рейсы более 60 авиакомпаний Star Alliance',
                                            icon: 'icon__tickets'
                                        }, {
                                            link: false,
                                            text: 'Повышайте класс обслуживания на борту до премиум и бизнес',
                                            icon: 'icon__chair'
                                        }, {
                                            link: false,
                                            text: 'Оплачивайте милями отели, аренду автомобилей,платите ими в магазинах Duty Free',
                                            icon: 'icon__wallet'
                                        }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Как пользоваться картой',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'До 52 дней <a href>беспроцентный льготный период</a>' },
                                        { text: '26,5% процентная ставка' },
                                        { text: 'До 1 млн ₽ кредитный лимит' }
                                    ]
                                }, {
                                    type: 'img',
                                    img: '/img/cardsTimeline.jpg',
                                    link: '/img/cardsTimeline.jpg'
                                }, {
                                    type: 'text',
                                    content: ['Например:<br><span class="gray65">Кредитный лимит клиента — 500 тыс ₽. Беспроцентный льготный период — 52 дня, он начинается 1 июня и заканчивается 20 июня. С 1 июня по 12 июля клиент потратил по карте 300 тыс ₽. Затем, 15 июня, он внес 300 тыс ₽ обратно на счет. Проценты по кредиту платить не нужно.</span>']
                                }
                            ]
                        }, {
                            name: 'Как оформить карту',
                            items: [
                                {
                                    type: 'text',
                                    content: ['Карту может получить гражданин РФ старше 21 года, с постоянным местом работы. Стаж на последнем месте работы — не менее 3 мес, ежемесячный доход после налогообложения — более 25 тыс ₽.']
                                }, {
                                    type: 'text',
                                    content: ['Чтобы получить необходимо:'],
                                    class: 'font-demi'
                                }, {
                                    type: 'list',
                                    ordered: true,
                                    listItems: [
                                        { text: 'Заполнить анкету' },
                                        { text: 'Предоставить копию паспорта' },
                                        { text: `Приложить справку о доходах от работодателя <span class='gray65'>(кроме клиентов «Райффайзенбанка» с зарплатным проектом)</span>.` }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'cardsTag5',
                    overtitle: 'кредитная карта',
                    title: 'Visa Platinum Travel Premium Rewards',
                    text: 'Карта для полетов по миру — с накоплением миль и оплатой ими туристических услуг',
                    btn1Text: 'Открыть карту',
                    btn2Text: 'Узнать больше',
                    bgImg: '/img/cardBg5.jpg',
                    cardImg: '/img/card5.jpg',
                    overlayActive: false,
                    overlayBtnText: 'Открыть карту',
                    items: [
                        {
                            type: 'text',
                            content: ['Дополнительные премиальные мили начислят за покупку авиабилетов любой авиакомпании, аренду автомобилей и отелей. Бронируйте билеты и пользуйтесь специальными акциями на сайте <a href>iglobe.ru</a>']
                        }, {
                            type: 'list',
                            listItems: [
                                { text: '1 миля Travel Miles за каждые 30 ₽' },
                                { text: '1 000 миль при совершении трат не менее 50 000 ₽ в месяц' },
                                { text: '1 000 миль в день рождения' }
                            ]
                        }
                    ],
                    accordions: [
                        {
                            name: 'Как тратить мили',
                            items: [
                                {
                                    type: 'text',
                                    content: ['С помощью накопленных миль на сайте iGlobe.ru вы можете:']
                                }, {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Забронировать билеты в 380 авиакомпаниях' },
                                        { text: 'Забронировать проживание в более чем в 100 000 отелях мира' },
                                        { text: 'Арендовать автомобиль' },
                                        { text: 'Заказать трансфер' },
                                        { text: 'Заказать железнодорожный билет на поезда по всей России' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Как пользоваться картой',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'До 52 дней <a href>беспроцентный льготный период</a>' },
                                        { text: '26,5% процентная ставка' },
                                        { text: 'До 1 млн ₽ кредитный лимит' }
                                    ]
                                }, {
                                    type: 'img',
                                    img: '/img/cardsTimeline.jpg',
                                    link: '/img/cardsTimeline.jpg'
                                }, {
                                    type: 'text',
                                    content: ['Например:<br><span class="gray65">Кредитный лимит клиента — 500 тыс ₽. Беспроцентный льготный период — 52 дня, он начинается 1 июня и заканчивается 20 июня. С 1 июня по 12 июля клиент потратил по карте 300 тыс ₽. Затем, 15 июня, он внес 300 тыс ₽ обратно на счет. Проценты по кредиту платить не нужно.</span>']
                                }
                            ]
                        }, {
                            name: 'Как оформить карту',
                            items: [
                                {
                                    type: 'text',
                                    content: ['Карту может получить гражданин РФ старше 21 года, с постоянным местом работы. Стаж на последнем месте работы — не менее 3 мес, ежемесячный доход после налогообложения — более 25 тыс ₽.']
                                }, {
                                    type: 'text',
                                    content: ['Чтобы получить необходимо:'],
                                    class: 'font-demi'
                                }, {
                                    type: 'list',
                                    ordered: true,
                                    listItems: [
                                        { text: 'Заполнить анкету' },
                                        { text: 'Предоставить копию паспорта' },
                                        { text: `Приложить справку о доходах от работодателя <span class='gray65'>(кроме клиентов «Райффайзенбанка» с зарплатным проектом)</span>.` }
                                    ]
                                }
                            ]
                        }
                    ]
                },
            ]
        }
    },
    // methods: {},
});
</script>

<style lang="scss">

</style>
