<template>
    <div class="creditsPage l-page">
        <PageHeader />
        <PageSlider :slides="slides" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PageHeader from '~/library/Components/PageHeader/PageHeader.vue';
import PageSlider from '~/library/Components/PageSliders/PageSliderV1.vue';
import { ISlide2 } from '~/types/types.d';

export default Vue.extend({
    components: {
        PageHeader,
        PageSlider
    },
    data(): {
        slides: ISlide2[]
    } {
        return {
            slides: [
                {
                    tag: 'creditsTag1',
                    title: 'Кредит на любые цели',
                    text: 'Быстрый кредит на любые цели по специальным условиям для премиальных клиентов',
                    textHiddenOnMobile: true,
                    bgImg: '/img/creditBg1.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: '<span class="tooltipWrap"><span class="tooltipBody">При оформлении с финансовой защитой, ставка на 1‑й год 11,99%</span>Ставка</span> 9,99% со второго года',
                                    icon: 'icon__percent'
                                }, {
                                    link: false,
                                    text: 'Максимальная <span class="tooltipWrap"><span class="tooltipBody">Сумма 5 млн руб. действует для зарплатных клиентов, на срок кредита до 36 мес.</span>сумма</span> до 5 млн ₽',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'На срок от 13 месяцев до 5 лет',
                                    icon: 'icon__calendar'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Оставить заявку'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Оставить заявку',
                    items: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Решение по заявке от 2 минут',
                                    icon: 'icon__timer'
                                }, {
                                    link: false,
                                    text: 'Получение кредита в отделении банка или с бесплатной доставкой',
                                    icon: 'icon__bank'
                                }, {
                                    link: false,
                                    text: 'Управление кредитом в Райффайзен-Онлайн 24/7',
                                    icon: 'icon__pie'
                                }
                            ],
                            row: true
                        }
                    ],
                    accordions: [
                        {
                            name: 'Условия кредита в рублях',
                            items: [
                                {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Срок кредита',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'От 13 месяцев до 5 лет'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Сумма кредита',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            type: 'list',
                                                            listItems: [
                                                                { text: '250 тыс. ₽ для всех' },
                                                                { text: 'До 1 млн <span class="gray65">(для других регионов)</span>' },
                                                                { text: 'До 2 млн <span class="gray65">(для Москвы и Московской обл., Санкт-Петербурга и Ленинградской обл.)</span>' },
                                                                { text: 'До 5 млн ₽ <span class="gray65">(для зарплатных клиентов, на срок кредита до 36 мес.)</span>' }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Ставка с <span class="tooltipWrap"><span class="tooltipBody">Программа действует на весь срок кредита</span>программой</span> Финансовой защиты',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            type: 'list',
                                                            listItems: [
                                                                { text: '9,99% со второго года' },
                                                                { text: '11,99% на первый год' }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Ставка без программы Финансовой защиты',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '14,99%'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Неустойка при неоплате очередного платежа',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '0,1% от суммы просроченной задолженности в день'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }
                            ]
                        }, {
                            name: 'Условия выдачи кредита',
                            items: [
                                {
                                    type: 'cols',
                                    cols: [
                                        [
                                            {
                                                type: 'h',
                                                level: 2,
                                                content: 'до 300 тыс. ₽'
                                            }, {
                                                type: 'list',
                                                listItems: [
                                                    { text: 'по паспорту' }
                                                ],
                                                class: 'gray65'
                                            }
                                        ], [
                                            {
                                                type: 'h',
                                                level: 2,
                                                content: 'до 2 млн ₽'
                                            }, {
                                                type: 'list',
                                                listItems: [
                                                    { text: 'паспорт' },
                                                    { text: 'подтверждение дохода' }
                                                ],
                                                class: 'gray65'
                                            }
                                        ], [
                                            {
                                                type: 'h',
                                                level: 2,
                                                content: 'до 5 млн ₽'
                                            }, {
                                                type: 'list',
                                                listItems: [
                                                    { text: 'паспорт' },
                                                    { text: 'подтверждение дохода' },
                                                    { text: 'подтверждение занятости' }
                                                ],
                                                class: 'gray65'
                                            }
                                        ]
                                    ]
                                }
                            ]
                        }, {
                            name: 'Требования к заемщику',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Ваш возраст на момент предоставления кредита от 23 лет (от 21 года для клиентов, получающих зарплату на счет в банке) и на момент окончания действия договора не превышает 67 лет.' },
                                        { text: 'Вы являетесь гражданином РФ.' },
                                        { text: 'Вы имеете <span class="tooltipWrap"><span class="tooltipBody">При подаче заявки необходимо предоставить наименование компании‑работодателя, фактический адрес и номер телефона компании</span>рабочий</span> и личный мобильный телефон.' },
                                        { text: 'Вы не являетесь индивидуальным предпринимателем, адвокатом, учредившим адвокатский кабинет, собственником бизнеса (за исключением нотариусов и адвокатов, являющихся членами адвокатских коллегий).' }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'creditsTag2',
                    title: 'Ипотека на новостройки',
                    text: 'Выберите квартиру вашей мечты в любой из <a href>1000 новостроек</a> со специальными условиями',
                    textHiddenOnMobile: true,
                    bgImg: '/img/creditBg2.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Ставка от 9,99% <span class="tooltipWrap"><span class="tooltipBody">При сумме кредита от 7 млн ₽</span>годовых</span>',
                                    icon: 'icon__percent'
                                }, {
                                    link: false,
                                    text: 'На срок от 1 до 30 лет',
                                    icon: 'icon__calendar'
                                }, {
                                    link: false,
                                    text: '<span class="tooltipWrap"><span class="tooltipBody">Для суммы кредита от 7 млн ₽</span>Сумма</span> кредита до 26 млн ₽',
                                    icon: 'icon__money'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Оставить заявку'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Оставить заявку',
                    items: [
                        {
                            type: 'table',
                            rows: {
                                body: [
                                    [
                                        {
                                            items: [
                                                {
                                                    text: 'Срок кредита',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'От 1 года до 30 лет'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Сумма кредита',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    type: 'list',
                                                    listItems: [
                                                        { text: 'От 500 тыс. ₽ для жителей регионов (или 800 тыс. ₽ для жителей Москвы и Московской области)' },
                                                        { text: 'До 26 млн ₽ (но не более 90% от стоимости залоговой недвижимости)' }
                                                    ]
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Минимальный первый взнос',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '<span class="tooltipWrap"><span class="tooltipBody">Для премиальных клиентов </span>10%</span>'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Погашение',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'Ежемесячно, равными платежами'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Способ расчета',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'Аккредитив или безналичный перевод'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Пеня при неоплате очередного платежа',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '0,06% от суммы просроченной задолженности в день'
                                                }
                                            ]
                                        }
                                    ]
                                ]
                            }
                        }
                    ],
                    accordions: [
                        {
                            name: 'Как оформить',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Запишитесь на консультацию по телефону 8 (800) 700‑64‑01 или через персонального менеджера' },
                                        { text: 'Соберите комплект документов и отправьте его по электронной почте' },
                                        { text: 'За 3 дня или раньше банк примет решение' },
                                        { text: 'За 2 дня банк оформит сделку' }
                                    ],
                                    ordered: true
                                }, {
                                    type: 'text',
                                    content: ['Подробнее о процедуре оформления сделки расскажет сотрудник в отделении']
                                }
                            ]
                        }, {
                            name: 'Требования к заемщику',
                            items: [
                                {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Возраст',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '<span class="tooltipWrap"><span class="tooltipBody">Или 65 лет на момент окончания действия кредитного договора с заключением комбинированного договора ипотечного страхования</span>От 21 года до 60 лет</span>'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Гражданство',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'Любое'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    colspan: 2,
                                                    items: [
                                                        {
                                                            text: 'Минимальный стаж',
                                                            class: 'bold'
                                                        }, {
                                                            type: 'list',
                                                            listItems: [
                                                                { text: 'Не менее 3 месяцев при общем трудовом стаже не менее 2 лет.' },
                                                                { text: 'Не менее 3 месяцев при общем трудовом стаже не менее 1 года для Зарплатных Клиентов и Индивидуальных Зарплатных Клиентов.' },
                                                                { text: 'Не менее 6 месяцев при общем трудовом стаже не менее 1 года.' },
                                                                { text: 'Не менее 1 года, если данное место работы первое для заемщика.' }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    colspan: 2,
                                                    items: [
                                                        {
                                                            text: 'Минимальный стаж',
                                                            class: 'bold'
                                                        }, {
                                                            type: 'list',
                                                            listItems: [
                                                                { text: 'От 15 тыс. ₽ ежемесячно (или от 20 тыс. ₽ ежемесячно для жителей Москвы/Московской области, Санкт-Петербурга/Ленинградской области, Екатеринбурга, Сургута, Тюмени)' },
                                                                { text: 'Созаемщики — от 10 тыс. ₽ ежемесячно' }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Кредитная история',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'Без плохой кредитной истории, не более 2 ипотечных кредитов (с учётом вновь одобряемого).'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }
                            ]
                        }, {
                            name: 'Дополнительные возможности',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Привлекайте созаемщиками близких родственников, и увеличивайте сумму кредита. Можно привлечь до 4 родственников, без наделения прав собственности в залоговом имущества.' },
                                        { text: 'Для оформления ипотеки достаточно паспорта.' },
                                        { text: 'Банк рассматривает доходы и официальных, и гражданских супругов (но они не должны состоять в зарегистрированном браке с другими лицами).' },
                                        { text: 'Привлекайте материнский капитал в качестве первоначального взноса.' },
                                        { text: 'Дистанционно управляйте ипотекой через «<a href>Райффайзен‑Онлайн</a>».' }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'creditsTag3',
                    title: 'Нецелевой кредит под залог жилья',
                    text: 'Выгодные условия по кредиту на совершенно любые цели, под залог жилья в собственности',
                    textHiddenOnMobile: true,
                    bgImg: '/img/creditBg3.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Ставка от 11,99% годовых',
                                    icon: 'icon__percent'
                                }, {
                                    link: false,
                                    text: 'На срок от 1 до 15 лет',
                                    icon: 'icon__calendar'
                                }, {
                                    link: false,
                                    text: 'Сумма кредита до 9 млн ₽',
                                    icon: 'icon__money'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Оставить заявку'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Оставить заявку',
                    items: [
                        {
                            type: 'table',
                            rows: {
                                body: [
                                    [
                                        {
                                            items: [
                                                {
                                                    text: 'Ставка',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                        items: [
                                            {
                                                text: '<span class="tooltipWrap"><span class="tooltipBody">Указанная ставка действует при условии комплексного ипотечного страхования, в случае отказа от страхования, ставка будет пересчитана согласно действующим тарифам.</span>11,99%</span>'
                                            }
                                        ]
                                    }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Сумма кредита',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    type: 'list',
                                                    listItems: [
                                                        { text: 'От 800 тыс. ₽ до 9 млн ₽ для Москвы и Московской области, но не более 60% от стоимости передаваемой в залог недвижимости.' },
                                                        { text: 'От 500 тыс. ₽ до 9 млн ₽ для Москвы и Московской области, но не более 60% от стоимости передаваемой в залог недвижимости.' }
                                                    ]
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Срок кредита',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'От 1 года до 15 лет'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Решение по заявке',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'до 2-х дней'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Зачисление',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'Кредит зачисляется на счет после государственной регистрации залога (ипотеки) квартиры в пользу банка'
                                                }
                                            ]
                                        }
                                    ]
                                ]
                            }
                        }
                    ],
                    accordions: [
                        {
                            name: 'Консультация и подача заявки',
                            info: '1 рабочий день',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Получите консультацию по телефону или в отделении или оформите предварительную <a href>заявку</a> на сайте' },
                                        { text: 'Подготовьте необходимый <a href>пакет документов</a> для подачи заявки на рассмотрение' },
                                        { text: 'Отправьте документы по электронной почте или обратитесь в любое отделение банка' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Принятие решения по заявке',
                            info: 'до 3 рабочих дней',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Рассмотрение предоставленного вами пакета документов' },
                                        { text: 'Оповещение о принятом решении по заявке вашим персональным ипотечным менеджером' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Одобрение объекта',
                            info: 'до 3 рабочих дней',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Положительное решение по заявке действует 3 полных месяца' },
                                        { text: 'Одобрение объекта недвижимости занимает до 3 рабочих дней. О решении вы будете проинформированы персональным менеджером' },
                                        { text: 'В рамках проверки объекта могут быть запрошены дополнительные документы' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Подготовка к сделке',
                            info: '1 рабочий день',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Подтверждение даты сделки' },
                                        { text: 'Ознакомление с кредитной документацией (будет направлена за 1‑2 до сделки)' },
                                        { text: 'Регистрация сделки на ваш выбор: самостоятельно или через партнеров банка' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Сделка',
                            info: '1 рабочий день',
                            items: [
                                {
                                    type: 'text',
                                    content: ['В назначенный день вы с созаемщиком и/или с залогодателем (при наличии) приезжаете в ипотечный центр для подписания кредитной документации.']
                                }, {
                                    type: 'text',
                                    content: ['Порядок выдачи кредита'],
                                    class: 'font-demi'
                                }, {
                                    type: 'text',
                                    content: ['После государственной регистрации залога (ипотеки) недвижимого имущества в пользу банка в безналичной форме на счет основного заемщика/созаемщика.']
                                }, {
                                    type: 'text',
                                    content: ['Расходы на этапе'],
                                    class: 'font-demi'
                                }, {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Государственной пошлина' },
                                        { text: 'Страховая премия' },
                                        { text: '<span class="tooltipWrap"><span class="tooltipBody">При пользовании услугами партнеров банка</span>Оплата услуг</span> регистратора' },
                                        { text: '<span class="tooltipWrap"><span class="tooltipBody">Доверенности, заявления, согласия, нотариальные копии.</span>Дополнительные</span> нотариальные документы' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Требования к заемщику',
                            items: [
                                {
                                    type: 'h',
                                    level: 4,
                                    content: 'Заемщик/созаемщик, участвующие доходами'
                                }, {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Созаемщиком<br>могут выступать',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'Официальный супруг(а)'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }, {
                                    type: 'text',
                                    content: ['Возраст'],
                                    class: 'font-medium'
                                }, {
                                    type: 'list',
                                    listItems: [
                                        { text: 'С заключением комбинированного договора ипотечного страхования от 21 года на момент подачи документов на кредит и не должен превышать 65 лет на момент окончания действия кредитного договора.' },
                                        { text: 'Без заключения комбинированного договора ипотечного страхования от 21 года на момент подачи документов на кредит и не должен превышать 60 лет на момент окончания действия кредитного договора.' }
                                    ]
                                }, {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Гражданство',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'Любое государство'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Фактическое место жительства / работы',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'Должно находиться на территории Российской Федерации'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }, {
                                    type: 'text',
                                    content: ['Возраст'],
                                    class: 'font-medium'
                                }, {
                                    type: 'text',
                                    content: ['Физические лица, работающие по найму:']
                                }, {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Не менее 3 месяцев при общем трудовом стаже не менее 2 лет.' },
                                        { text: 'Не менее 3 месяцев при общем трудовом стаже не менее 1 года для Зарплатных Клиентов и Индивидуальных Зарплатных клиентов.' },
                                        { text: 'Не менее 6 месяцев при общем трудовом стаже не менее 1 года.' },
                                        { text: 'Не менее 1 года, если данное место работы первое для заемщика.' }
                                    ]
                                }, {
                                    type: 'text',
                                    content: ['Нотариусы, занимающиеся частной практикой/адвокаты с собственным адвокатским кабинетом: профессиональная деятельность должна вестись не менее 1 финансового года.']
                                }, {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Наличие телефона',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'Рабочий телефон, а также домашний и/или мобильный обязательно.'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }, {
                                    type: 'text',
                                    content: ['Минимальный доход<br><span class="font-book gray65">по основному месту работы после налогообложения</span>'],
                                    class: 'font-medium'
                                }, {
                                    type: 'text',
                                    content: ['Заемщика:']
                                }, {
                                    type: 'list',
                                    listItems: [
                                        { text: '20 000 рублей — для Москвы/МО, Санкт-Петербурга/ЛО, Екатеринбурга, Сургута, Тюмени.' },
                                        { text: '15 000 рублей — для остальных регионов.' }
                                    ]
                                }, {
                                    type: 'text',
                                    content: ['Созаемщика:']
                                }, {
                                    type: 'list',
                                    listItems: [
                                        { text: '10 000 рублей — независимо от региона.' }
                                    ]
                                }, {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Кредитная история',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'Без плохой кредитной истории, не более 2 ипотечных кредитов (с учётом вновь одобряемого).'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }, {
                                    type: 'h',
                                    level: 4,
                                    content: 'Нефинансовый созаемщик'
                                }, {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Созаемщиком могут выступать',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'Официальный супруг(а)'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Возраст',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'От 18 лет на момент подачи документов на кредит и до 70 лет на момент окончания действия кредитного договора.'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Гражданство',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'Любое государство'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Кредитная история',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: 'Отсутствие плохой кредитной истории'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }
                            ]
                        }, {
                            name: 'Требования к залоговому имуществу',
                            items: [
                                {
                                    type: 'h',
                                    level: 4,
                                    content: 'Общие требования к передаваемому в залог имуществу'
                                }, {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Недвижимое имущество должно принадлежать на праве собственности только заемщику и/или супруге(у) заемщика.' },
                                        { text: 'Недвижимое имущество на момент передачи его в залог не должно находиться в пользовании третьих лиц (за исключением залогодателя и супруга(ги) залогодателя), в том числе на основании договора найма или договора аренды.' },
                                        { text: 'Недвижимое имущество не должно находиться под обременением (например, залог, аренда, право пожизненного пользования, за исключением залога банка).' }
                                    ],
                                    ordered: true
                                }, {
                                    type: 'h',
                                    level: 4,
                                    content: 'Передаваемая в залог квартира должна отвечать следующим требованиям'
                                }, {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Иметь отдельную от других квартир кухню / кухню-столовую и санузел.' },
                                        { text: 'Быть подключенной к электрическим, паровым или газовым системам отопления, обеспечивающим подачу тепла на всю площадь жилого помещения.' },
                                        { text: 'Быть обеспеченной горячим и холодным водоснабжением в ванной комнате и на кухне, иметь центральную систему канализации.' },
                                        { text: 'Иметь сантехническое оборудование (включая ванну/душевую кабину, расположенную на территории сан. узла), двери и окна, за исключением квартир без внутренней отделки.' },
                                        { text: 'Возможность кредитования под залог объекта с незарегистрированными перепланировками необходимо уточнять у сотрудников банка.' }
                                    ],
                                    ordered: true
                                }, {
                                    type: 'h',
                                    level: 4,
                                    content: 'Если квартира расположена в многоквартирном жилом доме, он должен отвечать следующим требованиям'
                                }, {
                                    type: 'text',
                                    content: ['Быть построенным:']
                                }, {
                                    type: 'list',
                                    listItems: [
                                        {
                                            text: 'Для всех регионов:',
                                            listItems: [
                                                {
                                                    text: 'не ранее 2000 года, этажностью не менее 3 этажей вне зависимости от материала стен.'
                                                }
                                            ]
                                        }, {
                                            text: 'Для Москвы и Московской области:',
                                            listItems: [
                                                {
                                                    text: 'не ранее 1950 года, этажностью не менее 4 этажей и иметь кирпичные наружные стены;'
                                                }, {
                                                    text: 'не ранее 1950 года и этажностью не менее 6 этажей вне зависимости от материала стен;'
                                                }, {
                                                    text: 'не ранее 1970 года и этажностью 5 этажей вне зависимости от материала стен.'
                                                }
                                            ]
                                        }, {
                                            text: 'Для Санкт‑Петербурга:',
                                            listItems: [
                                                {
                                                    text: 'не ранее 1930 года постройки и этажностью не менее 4‑х этажей вне зависимости от материала стен;'
                                                }, {
                                                    text: 'не ранее 1800 года постройки вне зависимости от этажности и материала стен при наличии капитального ремонта, проведенного не ранее 1960 г. (в случае если капремонт проведен до 1960 г. дом должен быть с металлическим типом перекрытий).'
                                                }
                                            ]
                                        }, {
                                            text: 'Для остальных регионов:',
                                            listItems: [
                                                {
                                                    text: 'не ранее 1950 года этажностью не менее 4 этажей и иметь кирпичные наружные стены;'
                                                }, {
                                                    text: 'не ранее 1955 года и этажностью не менее 5 этажей вне зависимости от материала.'
                                                }
                                            ]
                                        }
                                    ],
                                    ordered: true
                                }, {
                                    type: 'text',
                                    content: ['Не находиться в аварийном состоянии и не состоять на учете по постановке на снос или реконструкцию с отселением.']
                                }
                            ]
                        }, {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Заявление-анкета</span> на ипотечный кредит',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Документы</span> Заемщика/ Созаемщка(ов)',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Приложение № 1</span> к заявлению‑анкете на ипотечный кредит (справка по форме банка, в случае отсутствия 2‑НДФЛ)',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Документы</span> по предмету залога',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Требования</span> к месторасположению передаваемой в залог Квартире/Таунхаусу',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    },
    // methods: {},
});
</script>

<style lang="scss">

</style>
