<template>
    <div class="depositsPage l-page">
        <PageHeader />
        <PageSlider :slides="slides" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PageHeader from '~/library/Components/PageHeader/PageHeader.vue';
import PageSlider from '~/library/Components/PageSliders/PageSliderV1.vue';
import { ISlide2 } from '~/types/types.d';

export default Vue.extend({
    components: {
        PageHeader,
        PageSlider
    },
    data(): {
        slides: ISlide2[]
    } {
        return {
            slides: [
                {
                    tag: 'depositsTag1',
                    title: 'Вклад «Добро пожаловать»',
                    text: 'Приумножайте ваши сбережения с повышенной процентной ставкой',
                    textHiddenOnMobile: true,
                    bgImg: '/img/depositBg1.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Процентная ставка — до 6,6%',
                                    icon: 'icon__percent'
                                }, {
                                    link: false,
                                    text: 'Срок вклада — 1 год',
                                    icon: 'icon__calendar'
                                }, {
                                    link: false,
                                    text: 'Минимальная сумма — 500 000 ₽',
                                    icon: 'icon__money'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Открыть вклад'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Открыть вклад',
                    items: [
                        {
                            type: 'text',
                            content: ['Повышенная процентная ставка для новых премиальных клиентов']
                        }, {
                            type: 'table',
                            rows: {
                                head: [
                                    [
                                        {
                                            text: 'Сумма вклада'
                                        }, {
                                            colspan: 2,
                                            text: 'Годовые процентные ставки, ₽'
                                        }
                                    ]
                                ],
                                body: [
                                    [
                                        {
                                            items: [
                                                {
                                                    text: ''
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '181 день'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '366 день'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'От 500 тыс. до 2 млн ₽',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '5,9%'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '6,6%'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'От 2 млн до 5 млн ₽',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '5,85%'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '6,55%'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: ''
                                                }
                                            ]
                                        }, {
                                            colspan: 2,
                                            items: [
                                                {
                                                    text: 'Годовые процентные ставки, доллары',
                                                    class: 'head'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: ''
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '181 день'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '366 день'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'От 7,5 тыс. до 40 тыс. $',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '1,2%'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '1,2%'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'От 40 тыс. до 75 тыс. $',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '1,0%'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '1,0%'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Выплата процентов',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            colspan: 2,
                                            items: [
                                                {
                                                    text: 'В день окончания срока депозита'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Дополнительные условия',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            colspan: 2,
                                            items: [
                                                {
                                                    text: 'Пополнение, пролонгация и частичное снятие не предусмотрены'
                                                }
                                            ]
                                        }
                                    ]
                                ]
                            }
                        }, {
                            type: 'text',
                            content: ['Вклад можно открыть не позднее месяца, следующего за месяцем открытия пакета услуг Premium Banking.'],
                            class: 'mini notice'
                        }
                    ],
                    accordions: [
                        {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Условия</span> и процентные ставки по срочному вкладу (депозиту) «Добро пожаловать! (премиальный)»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания пакета услуг «Премиальный 5»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания архивного пакета услуг «Премиальный»',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    tag: 'depositsTag2',
                    title: 'Накопительный счет «На каждый день»',
                    text: 'Получайте доход каждый день. Проценты начисляются ежедневно',
                    textHiddenOnMobile: true,
                    bgImg: '/img/depositBg2.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Процентная ставка — до 5,5%',
                                    icon: 'icon__percent'
                                }, {
                                    link: false,
                                    text: 'Начисление % каждый день',
                                    icon: 'icon__calendar'
                                }, {
                                    link: false,
                                    text: 'Пополнение и снятие средств без потери % ',
                                    icon: 'icon__money'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Открыть счет'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Открыть счет',
                    items: [
                        {
                            type: 'text',
                            content: ['Простое и легкое приумножение ваших средств. Процентная ставка по счету зависит от суммы на накопительном счете']
                        }, {
                            type: 'table',
                            rows: {
                                head: [
                                    [
                                        {
                                            text: 'Сумма на счете'
                                        }, {
                                            colspan: 2,
                                            text: 'Годовые процентные ставки'
                                        }
                                    ]
                                ],
                                body: [
                                    [
                                        {
                                            items: [
                                                {
                                                    text: ''
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'для зарплатных клиентов'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'для не зарплатных клиентов'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'До 100 тыс. ₽',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '5,5%'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '4,5%'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'От 100 тыс. до 2 млн ₽',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '4,5%'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '4,0%'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'От 2 млн до 20 млн ₽',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '4,0%'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '4,0%'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Свыше 20 млн ₽',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '0,01%'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '0,01%'
                                                }
                                            ]
                                        }
                                    ]
                                ]
                            }
                        }, {
                            type: 'text',
                            content: ['Ставка может комбинироваться. Например, если зарплатный клиент разместил на счет 300 тыс. ₽, то на сумму 100 тыс. ₽ начислят 5,5% годовых, а на остальные 200 тыс. ₽ — 4,5%.'],
                            class: 'mini notice'
                        }
                    ],
                    accordions: [
                        {
                            name: 'Условия',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Проценты начисляются ежедневно на весь остаток, и прибавляются к сумме на счете в конце месяца' },
                                        { text: 'Снять деньги со счета можно в любое время, без потери процентов' },
                                        { text: 'Открыть, пополнить и перевести средства со счета можно через интернет-банк и мобильное приложение в Райффайзен-Онлайн' },
                                        { text: 'Срок действия счета не ограничен' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: 'Тарифы и процентные ставки',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания пакета услуг «Премиальный 5»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания архивного пакета услуг «Премиальный»',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    },
    // methods: {},
});
</script>

<style lang="scss">

</style>
