<template>
    <div class="mainPage l-page">
        <div class="l-bgImage bg__fixed" :style="`background-image: url(${bgImage})`" />
        <PageHeader />

        <div class="l-bodyContainer">
            <h1 class="w-m3-85">Получите безлимитный <a href>Priority Pass</a>, специальные условия на <a href>кредиты</a> и <a href>вклады</a></h1>

            <Advantages
                class="mainPage__navigationWithIcons"
                :links="advantagesList"
            />

            <Markdown
                heading="Пользуйтесь привилегиями бесплатно"
                content="### Получите бесплатное обслуживание при выполнении одного из условий:
- Или 2 500 000 ₽ на рублевых счетах и в инвестиционных продуктах на конец месяца.
- Или 250 000 ₽ трат по картам в месяц, в том числе по дополнительным и кредитным.
- Или 500 000 ₽ перевод заработной платы (от юридического лица).
- Или наберите 5 звезд, воспользовавшись калькулятором ниже:"
            />

            <StarsCalculator
                class="mainPage__starsCalculator"
            />

            <p>Если вам не подходят условия обслуживания в Premium Banking, предлагаем вам познакомиться с <a href>Premium Direct</a></p>
        </div>

        <PageFooter />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PageHeader from '~/library/Components/PageHeader/PageHeader.vue';
import Advantages from '~/library/Elements/Navigations/TextNavWithIconsV1.vue';
import StarsCalculator from '~/library/Components/Calculators/StarsCalculatorV1.vue';
import PageFooter from '~/library/Components/PageFooter/PageFooter.vue';
import Markdown from '~/library/Components/Markdown/Markdown.vue';

interface ILink {
    link: string,
    text: string,
    icon: string,
    newTab?: boolean,
}

export default Vue.extend({
    components: {
        PageHeader,
        Advantages,
        Markdown,
        StarsCalculator,
        PageFooter
    },
    data(): {
        bgImage: string,
        advantagesList: ILink[],
        privilegesTitle: string,
        privilegesList: Array<{ text: string }>
    } {
        return {
            bgImage: '/img/pageBgImg1.jpg',
            advantagesList: [
                { link: '', newTab: true, text: 'Инвестиционное и брокерское <span>обслуживание</span>', icon: 'icon__advantage1' },
                { link: '', newTab: false, text: 'Премиальные <span>карты</span>', icon: 'icon__advantage2' },
                { link: '', newTab: true, text: 'Финансовая <span>помощь</span> в поездках', icon: 'icon__advantage3' },
                { link: '', newTab: false, text: '<span>Страхование</span> жизни, недвижимости и финансов', icon: 'icon__advantage4' },
                { link: '', newTab: true, text: '<span>Персональный</span> менеджер и выделенные зоны обслуживания в отделениях', icon: 'icon__advantage5' },
                { link: '', newTab: false, text: 'Выгодные курсы <span>обмена валюты</span>', icon: 'icon__advantage6' }
            ],
            privilegesTitle: 'Получите бесплатное обслуживание при выполнении одного из условий.',
            privilegesList: [
                { text: 'Или 2 500 000 ₽ на рублевых счетах и в инвестиционных продуктах на конец месяца.' },
                { text: 'Или 250 000 ₽ трат по картам в месяц, в том числе по дополнительным и кредитным.' },
                { text: 'Или 500 000 ₽ перевод заработной платы (от юридического лица).' },
                { text: 'Или наберите 5 звезд, воспользовавшись калькулятором ниже:' }
            ]
        }
    },
    // methods: {},
});
</script>

<style lang="scss">

</style>
