<template>
    <div class="insurancePage l-page">
        <PageHeader />
        <PageSlider :slides="slides" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PageHeader from '~/library/Components/PageHeader/PageHeader.vue';
import PageSlider from '~/library/Components/PageSliders/PageSliderV1.vue';
import { ISlide2 } from '~/types/types.d';

export default Vue.extend({
    components: {
        PageHeader,
        PageSlider
    },
    data(): {
        slides: ISlide2[]
    } {
        return {
            slides: [
                {
                    tag: 'insuranceTag1',
                    title: 'Накопительное страхование жизни',
                    text: 'Обеспечьте финансовую стабильность для себя и своей семьи',
                    textHiddenOnMobile: true,
                    bgImg: '/img/insuranceBg1.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Гарантия сохранения будущих доходов семьи',
                                    icon: 'icon__warranty'
                                }, {
                                    link: false,
                                    text: 'Сохранение средств в непредвиденных обстоятельствах',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'Чек-ап — комплексная проверка здоровья в лучших клиника',
                                    icon: 'icon__health'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [
                        {
                            type: 'h',
                            level: 3,
                            content: 'Условия страхования'
                        }, {
                            type: 'list',
                            listItems: [
                                { text: 'Вы получаете накопленную сумму и дополнительный инвестиционный доход по окончании программы' },
                                { text: 'Возможность получения налогового вычета' },
                                { text: 'Программу можно открыть в разных валютах' },
                                { text: 'Возможность подключить опцию индексации средств для защиты от инфляции' },
                                { text: 'Вы получаете юридические привилегии ' }
                            ]
                        }
                    ],
                    accordions: [
                        {
                            name: 'Как работает программа?',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Вы определяете желаемую сумму накоплений и срок, делаете взносы для формирования накоплений' },
                                        { text: 'Если несчастный случай или болезнь помешают вам оплатить взносы, 100% страховой суммы все равно будет <span class="tooltipWrap"><span class="tooltipBody">В случаях, предусмотренных программой страхования</span>выплачено</span> выгодоприобретателю, назначенному вами' },
                                        { text: 'По окончании программы выгодоприобретатель получит 100% страховой суммы и дополнительный инвестиционный доход' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Как открыть?',
                            items: [
                                {
                                    type: 'text',
                                    content: ['Персональный менеджер расскажет вам информацию про все программы и поможет подобрать оптимальную для вас']
                                }, {
                                    type: 'list',
                                    listItems: [
                                        { text: '«Райффайзен Перспектива Премиум»' },
                                        { text: '«Райффайзен Киндер Премиум»' },
                                        { text: '«Райффайзен Оптимум Премиум»' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания пакета услуг «Премиальный 5»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания архивного пакета услуг «Премиальный»',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'insuranceTag2',
                    title: 'Инвестиционное страхование жизни Forward',
                    text: 'Уникальный финансовый инструмент, сочетающий в себе инвестиционную стратегию и страховую защиту',
                    textHiddenOnMobile: true,
                    bgImg: '/img/insuranceBg2.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: '100% возвратность <span class="tooltipWrap"><span class="tooltipBody">В соответствии с положениями договора страхования при условии полного соблюдения условий договора страхования (в том числе срока договора), и при отсутствии негативных факторов, при наступлении которых данное обязательство не может быть исполнено (отзыв лицензии страховой компании).</span>вложенных средств</span>',
                                    icon: 'icon__income'
                                }, {
                                    link: false,
                                    text: 'Прозрачные и понятные условия',
                                    icon: 'icon__paper'
                                }, {
                                    link: false,
                                    text: 'Разные стратегии инвестирования и страхования',
                                    icon: 'icon__graph'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [
                        {
                            type: 'h',
                            level: 3,
                            content: 'Условия страхования'
                        }, {
                            type: 'table',
                            rows: {
                                body: [
                                    [
                                        {
                                            items: [
                                                {
                                                    text: 'Срок программы',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '3 года'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Сумма',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'От 300 тыс. ₽ до 1 млн ₽'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Клиент',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'Физическое лицо в возрасте <span class="tooltipWrap"><span class="tooltipBody">На момент оформления программы</span>от 18 до 72 лет</span>'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Выгодо-приобретатель',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'Физическое лицо, назначенное клиентом'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Валюта',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'Российские рубли'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Периодичность взносов',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'Единовременно'
                                                }
                                            ]
                                        }
                                    ]
                                ]
                            }
                        }
                    ],
                    accordions: [
                        {
                            name: 'Как работает программа?',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Вы определяете желаемую сумму и вносите ее' },
                                        { text: 'Далее вы отслеживаете динамику базового актива при участии персонального менеджера' },
                                        { text: 'По окончании программы получаете внесенную сумму и дополнительный <span class="tooltipWrap"><span class="tooltipBody">Дополнительный инвестиционный доход не гарантирован и зависит от динамики базового актива</span>инвестиционный доход</span>' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Как открыть?',
                            items: [
                                {
                                    type: 'text',
                                    content: ['Персональный менеджер расскажет вам информацию про все программы и поможет подобрать оптимальную для вас']
                                }
                            ]
                        }, {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания пакета услуг «Премиальный 5»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания архивного пакета услуг «Премиальный»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>О программе</span> «Forward»',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'insuranceTag3',
                    title: 'Страхование жизни и здоровья',
                    text: 'Гарантируйте себе финансовую поддержку при диагностировании опасных заболеваний',
                    textHiddenOnMobile: true,
                    bgImg: '/img/insuranceBg3.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'До 2,13 млн € страховых выплат',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'Лечение в 45 странах',
                                    icon: 'icon__globe'
                                }, {
                                    link: false,
                                    text: 'Личный врач для помощи и консультаций',
                                    icon: 'icon__health2'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [
                        {
                            type: 'h',
                            level: 3,
                            content: 'Условия страхования'
                        }, {
                            type: 'table',
                            rows: {
                                body: [
                                    [
                                        {
                                            items: [
                                                {
                                                    text: 'Срок программы',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '1 год'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Возраст застрахованного  ',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'от 18 до 60 лет'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Максимальный возраст застрахованного',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '64 года'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Стоимость программы страхования',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '50 000 рублей'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            colspan: 2,
                                            items: [
                                                {
                                                    text: 'Период ожидания',
                                                    class: 'bold'
                                                }, {
                                                    text: '90 календарных дней с даты вступления договора в силу.'
                                                }, {
                                                    text: 'Любые заболевания, диагностированные в этот срок, не признаются страховым случаем.'
                                                }, {
                                                    text: 'Возможность самостоятельной оплаты лечения с последующим возмещением его стоимости'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            colspan: 2,
                                            items: [
                                                {
                                                    text: 'Страховые случаи:',
                                                    class: 'bold'
                                                }, {
                                                    type: 'list',
                                                    listItems: [
                                                        { text: 'Лечение злокачественных онкологических заболеваний и доброкачественных опухолей головного мозга' },
                                                        { text: 'Операции на сердце и сосудах' },
                                                        { text: 'Трансплантация жизненно важных органов' }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                ]
                            }
                        }
                    ],
                    accordions: [
                        {
                            name: 'Как работает программа?',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'Вы приобретаете программу страхования на 1 год с возможностью пролонгации' },
                                        { text: 'У вас есть 16 дней чтобы отказаться от программы без потерь' },
                                        { text: 'В случае диагностирования онкологических заболеваний, критических болезней сердца и сосудов, необходимости трансплантации органов, программа обеспечит лечение в одной из клиник Европы или России на сумму до 2 113 000 евро' },
                                        { text: 'На протяжении всего срока действия программы персональный врач-куратор на протяжении программы проконсультирует по вопросам, связанным со здоровьем и поможет, если диагностировано серьезное заболевание' },
                                        { text: 'В случае диагностирования онкологического заболевания на ранней стадии, а также других критических заболеваний из списка, программой предусмотрена денежная выплата 1 000 000 рублей' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Как открыть?',
                            items: [
                                {
                                    type: 'text',
                                    content: ['Персональный менеджер расскажет вам информацию про все программы и поможет подобрать оптимальную для вас']
                                }
                            ]
                        }, {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания пакета услуг «Премиальный 5»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания архивного пакета услуг «Премиальный»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> добровольного медицинского страхования',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'insuranceTag4',
                    title: 'Страхование недвижимости',
                    text: 'Простой способ избежать непредсказуемых расходов на ремонт квартиры и замену поврежденного имущества',
                    textHiddenOnMobile: true,
                    bgImg: '/img/insuranceBg4.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Страховое покрытие — до 12 млн ₽',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'Без осмотра и предварительной оценки',
                                    icon: 'icon__eye'
                                }, {
                                    link: false,
                                    text: 'Для дома или квартиры ',
                                    icon: 'icon__house2'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [
                        {
                            type: 'h',
                            level: 3,
                            content: 'Условия страхования'
                        }, {
                            type: 'list',
                            listItems: [
                                { text: 'Комплексная защита в одной программе (конструктивные элементы, внутренняя отделка, движимое имущество, гражданская ответственность перед соседями)' },
                                { text: 'Компенсация дополнительных расходов (найм на время ремонта, расчистку и перемещение имущества)' },
                                { text: 'Выплаты до 200 тыс. ₽ <span class="tooltipWrap"><span class="tooltipBody">В случае если предоставленные документы однозначно свидетельствуют о произошедшем</span>без справок</span>' }
                            ]
                        }, {
                            type: 'table',
                            rows: {
                                head: [
                                    [
                                        {
                                            text: ''
                                        }, {
                                            text: '«Премиум квартира»'
                                        }, {
                                            text: '«Премиум дом»'
                                        }, {
                                            text: '«Премиум квартира и дом»'
                                        }
                                    ]
                                ],
                                body: [
                                    [
                                        {
                                            items: [
                                                {
                                                    text: 'Отделка',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '2 млн ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '1 млн ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '3 млн ₽'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Имущество',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '2 млн ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '1 млн ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '3 млн ₽'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Конструктив&shy;ные элементы',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: ''
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '2 млн ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '5 млн ₽'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Гражданская ответствен&shy;ность',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '1 млн ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '1 млн ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '1 млн ₽'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Выплата без справок',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '100 тыс. ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '100 тыс. ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '200 тыс. ₽'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Консьерж',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'Нет'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'Нет'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: 'Да'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Общее покрытие',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '5 млн ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '5 млн ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '12 млн ₽'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: 'Стоимость',
                                                    class: 'bold'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '14 900 ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '14 900 ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '24 900 ₽'
                                                }
                                            ]
                                        }
                                    ]
                                ]
                            }
                        }
                    ],
                    accordions: [
                        {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания пакета услуг «Премиальный 5»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания архивного пакета услуг «Премиальный»',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'insuranceTag5',
                    title: 'Страхование путешествий «Вояж Первый класс»',
                    text: 'Расширенная страховка для путешествий по России и миру',
                    textHiddenOnMobile: true,
                    bgImg: '/img/insuranceBg5.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: '100 тыс. € страхового покрытия ',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'Покрытие непредвиденных расходов в путешествии',
                                    icon: 'icon__luggage'
                                }, {
                                    link: false,
                                    text: '60 дней защиты в каждом путешествии',
                                    icon: 'icon__calendar'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [
                        {
                            type: 'h',
                            level: 3,
                            content: 'Условия страхования'
                        }, {
                            type: 'list',
                            listItems: [
                                { text: 'Расширяет действие базового сертификата страхования путешествующих «Платиновый»' },
                                { text: 'Действует по всему миру от 200 км от постоянного места жительства' },
                                { text: 'Распространяется на официальных детей и супругов в совместной поездке' },
                                { text: 'Подходит для резидентов и нерезидентов РФ' }
                            ]
                        }
                    ],
                    accordions: [
                        {
                            name: 'Страховые лимиты ',
                            items: [
                                {
                                    type: 'table',
                                    rows: {
                                        body: [
                                            [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Медицинская помощь при занятии <span class="tooltipWrap"><span class="tooltipBody">Дайвинг, рафтинг, сёрфинг и другие, а также туристические прогулки на животных</span>опасным</span> спортом',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '100 тыс. €'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Отмена поездки',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '3 тыс. € на семью'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Задержка регулярного авиарейса более чем на 2,5 часа',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '200 € на человека или 400 € на семью'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Утрата, кража, уничтожение багажа',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '2,5 тыс. €'
                                                        }
                                                    ]
                                                }
                                            ],[
                                                {
                                                    items: [
                                                        {
                                                            text: 'Задержка багажа',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '200 € на человека или 400 € на семью'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Несчастный случай',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '30 тыс. €'
                                                        }
                                                    ]
                                                }
                                            ],[
                                                {
                                                    items: [
                                                        {
                                                            text: 'Гражданская ответственность',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '75 тыс. €'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Юридическая помощь',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '3 тыс. €'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Транспортиро-вочные расходы при поломке, утрате или повреждении наземного транспортного средства',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '2 тыс. €'
                                                        }
                                                    ]
                                                }
                                            ], [
                                                {
                                                    items: [
                                                        {
                                                            text: 'Утрата или хищение документов',
                                                            class: 'bold'
                                                        }
                                                    ]
                                                }, {
                                                    items: [
                                                        {
                                                            text: '200 €'
                                                        }
                                                    ]
                                                }
                                            ]
                                        ]
                                    }
                                }
                            ]
                        }, {
                            name: 'Как работает программа?',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'При наступлении страхового случая позвоните по телефону, который указан в страховом сертификате' },
                                        { text: 'Сообщите информацию о себе и о ситуации' },
                                        { text: 'Получите бесплатную помощь или оплатите лечение сами с последующим возмещением' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания пакета услуг «Премиальный 5»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания архивного пакета услуг «Премиальный»',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }, {
                    tag: 'insuranceTag6',
                    title: 'Страховая программа «Мой безопасный банк»',
                    text: 'Комплексная защита ваших карт, вкладов, личных вещей и здоровья',
                    textHiddenOnMobile: true,
                    bgImg: '/img/insuranceBg6.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: '1,53 млн ₽ страхового покрытия ',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'Дистанционные юридические консультации',
                                    icon: 'icon__chat'
                                }, {
                                    link: false,
                                    text: 'От 149 ₽ в месяц',
                                    icon: 'icon__wallet'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }, {
                                    btn: 2,
                                    name: 'Узнать больше'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [
                        {
                            type: 'h',
                            level: 3,
                            content: 'Условия страхования'
                        }, {
                            type: 'list',
                            listItems: [
                                { text: 'Защита от утери и кражи карты, получения ими банковских данных, взлома онлайн-банка и ограблении при снятии наличных' },
                                { text: 'Страхование здоровья при ограблении во время снятия наличных.' },
                                { text: 'Защита от ключей и документов от кражи и утраты' }
                            ]
                        }, {
                            type: 'table',
                            rows: {
                                head: [
                                    [
                                        {
                                            text: '«Мой безопасный банк 50 000»'
                                        }, {
                                            text: '«Мой безопасный банк 300 000»'
                                        }, {
                                            text: '«Мой безопасный банк Максимальный»'
                                        }
                                    ]
                                ],
                                body: [
                                    [
                                        {
                                            colspan: 3,
                                            items: [
                                                {
                                                    text: 'Компенсация при краже или утере карты, получении секретных данных карты, несанкционированном доступе в онлайн-банк, ограблении при снятии наличных',
                                                    class: 'bold'
                                                }
                                            ],
                                            rowClass: 'border-bottom-none padding-bottom-0'
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: '50 тыс. ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '300 тыс. ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '750 тыс. ₽ (из них компенсация по картам сторонних банков — не более 100 тыс. ₽)'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            colspan: 3,
                                            items: [
                                                {
                                                    text: 'Вред здоровью в результате ограбления при снятии наличных',
                                                    class: 'bold'
                                                }
                                            ],
                                            rowClass: 'border-bottom-none padding-bottom-0'
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: '50 тыс. ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '300 тыс. ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '750 тыс. ₽ (из них компенсация по картам сторонних банков — не более 100 тыс. ₽)'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            colspan: 3,
                                            items: [
                                                {
                                                    text: 'Расходы на восстановление утраченных ключей и личных документов',
                                                    class: 'bold'
                                                }
                                            ],
                                            rowClass: 'border-bottom-none padding-bottom-0'
                                        }
                                    ], [
                                        {
                                            items: [
                                                {
                                                    text: '5 тыс. ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '15 тыс. ₽'
                                                }
                                            ]
                                        }, {
                                            items: [
                                                {
                                                    text: '30 тыс. ₽'
                                                }
                                            ]
                                        }
                                    ], [
                                        {
                                            colspan: 3,
                                            items: [
                                                {
                                                    text: 'Юридическая помощь',
                                                    class: 'bold'
                                                }
                                            ],
                                            rowClass: 'border-bottom-none padding-bottom-0'
                                        }
                                    ], [
                                        {
                                            colspan: 3,
                                            items: [
                                                {
                                                    text: '1 раз в месяц'
                                                }
                                            ]
                                        }
                                    ]
                                ]
                            }
                        }
                    ],
                    accordions: [
                        {
                            name: 'Как работает программа?',
                            items: [
                                {
                                    type: 'list',
                                    listItems: [
                                        { text: 'При наступлении страхового случая позвоните в банк и заблокируйте карту' },
                                        { text: 'Обратитесь в страховую компанию и в полицию' },
                                        { text: 'Если вы получили вред здоровью — обратитесь в медицинское учреждение' }
                                    ]
                                }
                            ]
                        }, {
                            name: 'Как открыть?',
                            items: [
                                {
                                    type: 'text',
                                    content: ['Персональный менеджер расскажет вам информацию про все программы и поможет подобрать оптимальную для вас']
                                }
                            ]
                        }, {
                            name: 'Список документов',
                            items: [
                                {
                                    type: 'iconLinks',
                                    links: [
                                        {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания пакета услуг «Премиальный 5»',
                                            icon: 'icon__file'
                                        }, {
                                            link: '',
                                            text: '<span>Условия</span> обслуживания архивного пакета услуг «Премиальный»',
                                            icon: 'icon__file'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    },
    // methods: {},
});
</script>

<style lang="scss">

</style>
