<template>
    <div class="managerPage l-page">
        <PageHeader />
        <PageSlider :slides="slides" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PageHeader from '~/library/Components/PageHeader/PageHeader.vue';
import PageSlider from '~/library/Components/PageSliders/PageSliderV1.vue';
import { ISlide2 } from '~/types/types.d';

export default Vue.extend({
    components: {
        PageHeader,
        PageSlider
    },
    data(): {
        slides: ISlide2[]
    } {
        return {
            slides: [
                {
                    tag: 'managerTag1',
                    title: 'Персональный менеджер',
                    text: 'Ваш помощник в банке, который поможет в решении любого финансового вопроса',
                    textHiddenOnMobile: true,
                    bgImg: '/img/managerBg1.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Гибкий и внимательный сервис',
                                    icon: 'icon__chat'
                                }, {
                                    link: false,
                                    text: 'Учет индивидуальных потребностей',
                                    icon: 'icon__news'
                                }, {
                                    link: false,
                                    text: 'Помощь в составлении плана действий для достижения поставленных вами финансовых целей',
                                    icon: 'icon__picture'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Оставить онлайн-заявку'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Оставить онлайн-заявку',
                    items: [],
                    accordions: []
                }, {
                    tag: 'managerTag2',
                    title: 'Выделенные зоны обслуживания',
                    text: 'Посещайте отделения банка с комфортом',
                    textHiddenOnMobile: true,
                    bgImg: '/img/managerBg2.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Конфиденциальные встречи с вашим персональным менеджером',
                                    icon: 'icon__incognito'
                                }, {
                                    link: false,
                                    text: 'Без очередей в удобное время для вас',
                                    icon: 'icon__clock'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Оставить онлайн-заявку'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Оставить онлайн-заявку',
                    items: [],
                    accordions: []
                }, {
                    tag: 'managerTag3',
                    title: 'Выделенная телефонная линия Premium Line 24/7',
                    text: 'Получайте ответы на любые вопросы в сфере банковского обслуживания',
                    textHiddenOnMobile: true,
                    bgImg: '/img/managerBg3.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Закажите денежные средства',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'Получите оперативную выписку по счетам, справку о балансе и страховой сертификат',
                                    icon: 'icon__paper'
                                }, {
                                    link: false,
                                    text: 'Получите консультацию по продуктам Банка и многое другое',
                                    icon: 'icon__chat'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Оставить онлайн-заявку'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Оставить онлайн-заявку',
                    items: [],
                    accordions: []
                }
            ]
        }
    },
    // methods: {},
});
</script>

<style lang="scss">

</style>
