<template>
    <div class="offersPage l-page">
        <div class="l-bgImage bg__fixed" :style="`background-image: url(${bgImage})`" />
        <PageHeader />

        <div class="l-bodyContainer">
            <h1 class="w-m3-85">Скидки и специальные предложения</h1>

            <News
                :items="actions"
                :next-link="nextLink"
                :api="api"
                :start-page="startPage"
                class="offersPage__news"
            />
        </div>

        <PageFooter />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PageHeader from '~/library/Components/PageHeader/PageHeader.vue';
import News from '~/library/Components/News/NewsV1.vue';
import PageFooter from '~/library/Components/PageFooter/PageFooter.vue';
import { INews } from '~/types/types.d';

interface INextLink {
    name: string,
    link?: string | boolean,
    newTab?: boolean,
    inverted?: boolean,
    linked?: boolean
}

export default Vue.extend({
    components: {
        PageHeader,
        News,
        PageFooter
    },
    data(): {
        bgImage: string,
        actions: INews[],
        nextLink: INextLink,
        api: string,
        startPage: number
    } {
        return {
            bgImage: '/img/pageBgImg3.jpg',
            actions: [
                {
                    big: true,
                    img: '/img/offerImg1.jpg',
                    title: 'Бесплатные интернет и мобильная связь в роуминге от «Мегафон»',
                    link: 'oneOfferPage.html',
                    linkText: 'Узнать больше',
                    newTab: false
                }, {
                    img: '/img/offerImg2.jpg',
                    title: 'Скидка 20% на проезд по платным дорогам при пополнении транспондера «Главная Дорога»',
                    link: 'oneOfferPage.html',
                    newTab: false
                }, {
                    img: '/img/offerImg3.jpg',
                    title: 'Скидка 15% в Яндекс.Такси на тарифы «Бизнес», «Премиум» и «Ультима»',
                    link: 'oneOfferPage.html',
                    newTab: false
                }, {
                    img: '/img/offerImg4.jpg',
                    title: 'Бесплатный интернет и минуты в роуминге «Билайн», «МегаФон», МТС и Tele2',
                    link: 'oneOfferPage.html',
                    newTab: false
                }, {
                    img: '/img/offerImg5.jpg',
                    title: 'В 3 раза больше бонусов и бесплатная доставка в «Азбуке Вкуса»',
                    link: 'oneOfferPage.html',
                    newTab: false
                }
            ],
            nextLink: {
                link: false,
                name: 'Далее',
                inverted: true
            },
            api: 'http://www.mocky.io/v2/5d2a4ab930000056005a4133',
            startPage: 1
        }
    },
    // methods: {},
});
</script>

<style lang="scss">

</style>
