<template>
    <div class="oneOfferPage l-page">
        <div class="l-bgImage bg__fixed" :style="`background-image: url(${bgImage})`" />
        <PageHeader />

        <div class="l-bodyContainer">
            <ArrowLink
                v-bind="{...backlink}"
                class="oneOfferPage__backlink"
            />
            <h1 class="w-m3-85">Скидка 15% в Яндекс.Такси на тарифы «Бизнес», «Премиум» и «Ультима»</h1>

            <Markdown
                content="### С 20 октября 2018 года по 31 июля 2019 года при оплате поездок в приложении Яндекс.Такси картами Platinum Masterсard®, World Masterсard Black Edition® и World Elite Masterсard® доступна скидка 15% натарифы «Бизнес», «Премиум» и «Ультима».
#### Как воспользоваться:
- Добавьте вашу премиальную карту Mastercard как основной способ оплаты в приложении Яндекс.Такси. При заказе машины выберите тариф «Бизнес», «Премиум» или «Ультима».
- Скидка будет предоставлена автоматически. Скидка в тарифах «Бизнес» и «Премиум» действует в Москве, Санкт-Петербурге, Новосибирске, Сочи, Екатеринбурге, Казани, Краснодаре. Скидка в тарифе «Ультима» действует только в Москве.
- Максимальный размер скидки по тарифам «Бизнес», «Премиум» и «Ультима» составляет 3000 рублей на одну поездку с помощью сервиса Яндекс.Такси."
            />

            <div class="oneOfferPage__bottomLinks">
                <Button
                    v-if="bottomLinks.link1"
                    v-bind="{...bottomLinks.link1}"
                />
                <ArrowLink
                    v-if="bottomLinks.link2"
                    v-bind="{...bottomLinks.link2}"
                />
            </div>
        </div>

        <PageFooter />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PageHeader from '~/library/Components/PageHeader/PageHeader.vue';
import Button from '~/library/Elements/Buttons/ButtonV1.vue';
import ArrowLink from '~/library/Elements/Links/TextLinkWithArrowV1.vue';
import PageFooter from '~/library/Components/PageFooter/PageFooter.vue';
import Markdown from '~/library/Components/Markdown/Markdown.vue';

interface ILink {
    link: string,
    name: string,
    backlink?: boolean,
    linked?: boolean
    newTab?: boolean,
    inverted?: boolean
}

export default Vue.extend({
    components: {
        PageHeader,
        Button,
        ArrowLink,
        Markdown,
        PageFooter
    },
    data(): {
        bgImage: string,
        backlink: ILink,
        bottomLinks: {
            link1: ILink,
            link2: ILink
        }
    } {
        return {
            bgImage: '/img/pageBgImg2.jpg',
            backlink: {
                link: '',
                name: 'назад к акциям',
                newTab: false,
                backlink: true
            },
            bottomLinks: {
                link1: {
                    link: '',
                    name: 'Стать клиентом',
                    newTab: false,
                    linked: true
                },
                link2: {
                    link: '',
                    name: 'Полные правила акции',
                    newTab: false,
                    linked: true
                }
            }
        }
    },
    // methods: {},
});
</script>

<style lang="scss">

</style>
