<template>
    <div class="travelingPage l-page">
        <PageHeader />
        <PageSlider :slides="slides" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PageHeader from '~/library/Components/PageHeader/PageHeader.vue';
import PageSlider from '~/library/Components/PageSliders/PageSliderV1.vue';
import { ISlide2 } from '~/types/types.d';

export default Vue.extend({
    components: {
        PageHeader,
        PageSlider
    },
    data(): {
        slides: ISlide2[]
    } {
        return {
            slides: [
                {
                    tag: 'travelingTag1',
                    title: 'Безлимитный Priority Pass',
                    text: '<a href>Более 1 000</a> комфортных бизнес-залов в аэропортах по всему миру',
                    textHiddenOnMobile: true,
                    bgImg: '/img/travelingBg1.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Бизнес-залы в аэропортах для вас и ваших спутников',
                                    icon: 'icon__chair'
                                }, {
                                    link: false,
                                    text: 'Бесплатные закуски и освежающие напитки',
                                    icon: 'icon__food'
                                }, {
                                    link: false,
                                    text: 'Комфортное время ожидания',
                                    icon: 'icon__laptop'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Оставить онлайн-заявку'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Оставить онлайн-заявку',
                    items: [],
                    accordions: []
                }, {
                    tag: 'travelingTag2',
                    title: 'Бесплатное страхование в путешествиях для всей семьи',
                    text: 'Страхование до 100 000 € на путешествия по всему миру',
                    textHiddenOnMobile: true,
                    bgImg: '/img/travelingBg2.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'Страхование для супруга/супруги и детей в совместной поездке',
                                    icon: 'icon__family'
                                }, {
                                    link: false,
                                    text: 'Страховая сумма 100 000 евро',
                                    icon: 'icon__money'
                                }, {
                                    link: false,
                                    text: 'Страховка для занятий активными видами спорта',
                                    icon: 'icon__bike'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }/*, {
                                    btn: 2,
                                    name: 'Условия программы'
                                }*/
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [],
                    accordions: []
                }, {
                    tag: 'travelingTag3',
                    title: 'Специальный курс обмена валют',
                    text: 'Обменивайте валюту по специальному курсу<i class="d-none d-m1-inline"> для премиальных клиентов — от 300 000 ₽ </i> в <a href>Райффайзен-Онлайн</a>',
                    bgImg: '/img/travelingBg3.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'currencies',
                            title1: ['300 тыс. — 6,5 млн ₽', 'от 300 тыс. до 6,5 млн ₽'],
                            title2: ['от 6,5 млн ₽', 'от 6,5 млн ₽']
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [],
                    accordions: []
                }, {
                    tag: 'travelingTag4',
                    title: 'Бесплатное снятие наличных за рубежом',
                    text: 'Снимайте наличные в любом банкомате мира без банковских комиссий',
                    textHiddenOnMobile: true,
                    bgImg: '/img/travelingBg4.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'iconLinks',
                            links: [
                                {
                                    link: false,
                                    text: 'В любом банкомате, который принимает Visa или Mastercard',
                                    icon: 'icon__ATM'
                                }, {
                                    link: false,
                                    text: 'Снимайте валюту по карте в той же валюте, чтобы избежать комиссии за конвертацию',
                                    icon: 'icon__exchange'
                                }, {
                                    link: false,
                                    text: 'При утере карты — экстренная выдача наличных и отправка новой карты курьерской службой',
                                    icon: 'icon__delivery'
                                }
                            ],
                            row: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Оставить онлайн-заявку'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Оставить онлайн-заявку',
                    items: [],
                    accordions: []
                }, {
                    tag: 'travelingTag5',
                    title: 'Экстренная выдача наличных за рубежом в случае утери карты',
                    bgImg: '/img/travelingBg5.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'text',
                            content: 'Если вы потеряли карту в поездке — банк экстренно выдаст наличные и отправит новую карту скорой курьерской службой'
                        }, {
                            type: 'text',
                            content: 'Если ваша карта утеряна — свяжитесь с Premium Line 24/7 по телефону +7 (495) 775‑52‑50',
                            class: 'gray65 mini',
                            onlyMobile: true
                        }, {
                            type: 'text',
                            content: 'Если ваша карта утеряна — свяжитесь с Premium Line 24/7 по телефону +7 (495) 775‑52‑50. После этого мы сделаем запрос в ближайшие к вам банки и сообщим, где вы сможете получить наличные. Для получения наличных достаточно предъявить паспорт.',
                            class: 'gray65 mini',
                            onlyDesktop: true
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [],
                    accordions: []
                }, {
                    tag: 'travelingTag6',
                    title: 'Обратный звонок',
                    text: 'Удобный способ связаться с Premium Line 24/7, если вы находитесь в поездке',
                    bgImg: '/img/travelingBg6.jpg',
                    overlayActive: false,
                    shortItems: [
                        {
                            type: 'text',
                            content: 'Позвоните по телефону + 7 (495) 775‑52‑21 и нажмите «1» в цифровом меню.',
                            class: 'mini-2',
                            onlyDesktop: true,
                        }, {
                            type: 'text',
                            content: 'Сотрудник Premium Line сразу перезвонит вам.',
                            class: 'mini-2',
                            onlyDesktop: true,
                        }, {
                            type: 'text',
                            content: 'Позвоните по телефону + 7 (495) 775‑52‑21 и нажмите «1» в цифровом меню. Сотрудник Premium Line сразу перезвонит вам.',
                            class: 'gray65 mini mt-fix',
                            onlyMobile: true,
                        }, {
                            type: 'buttons',
                            content: [
                                {
                                    btn: 1,
                                    name: 'Получить консультацию'
                                }
                            ]
                        }
                    ],
                    overlayBtnText: 'Получить консультацию',
                    items: [],
                    accordions: []
                }
            ]
        }
    },
    // methods: {},
});
</script>

<style lang="scss">

</style>
