<template>
    <footer class="pageFooter">
        <div class="pageFooter__main">
            <div class="pageFooter__top row">
                <div class="pageFooter__phoneAndCityWrap col col-12 col-m2-4">
                    <div
                        v-for="(phone, i) in phones"
                        :key="i"
                        class="pageFooter__phoneAndCity"
                    >
                        <a :href="`tel:${phone.number}`" class="pageFooter__phone">{{ phone.numberFormatted }}</a>
                        <div class="pageFooter__city">{{ phone.label }}</div>
                    </div>
                </div>

                <div ref="backLink" :class="['pageFooter__backToTopWrap', classes]">
                    <BackToTopLink class="pageFooter__backToTopLink" />
                </div>

                <div class="pageFooter__topNav col col-6 col-m2-4">
                    <FooterLink
                        v-for="(link, i) in topLinks1"
                        :key="i"
                        class="pageFooter__topNavItem link__footer"
                        :name="link.text"
                        :link="link.link"
                        :new-tab="link.newTab"
                    />
                </div>

                <div class="pageFooter__topNav col col-6 col-m2-4">
                    <FooterLink
                        v-for="(link, i) in topLinks2"
                        :key="i"
                        class="pageFooter__topNavItem link__footer"
                        :name="link.text"
                        :link="link.link"
                        :new-tab="link.newTab"
                    />
                </div>
            </div>

            <div class="pageFooter__bottom row">
                <div class="pageFooter__socialsNavWrap col col-12 col-m1-6 col-m2-4">
                    <div class="pageFooter__socialsTitle" v-html="socialTitle" />
                    <IconsNav
                        :links="socialLinks"
                        class="pageFooter__socialIconsNav"
                    />
                </div>
                <div class="pageFooter__storesNavWrap col col-12 col-m1-6 col-m2-4">
                    <IconsNav
                        :links="storeIcons"
                        class="pageFooter__storeIconsNav"
                    />
                </div>

                <div class="pageFooter__copyright col col-12 col-m1-6 col-m2-4">
                    <div class="pageFooter__copyrightText" v-html="copyrightText" />
                    <div class="pageFooter__copyrightText" v-html="licenceText" />
                </div>
            </div>
        </div>
    </footer>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import BackToTopLink from '~/library/Elements/Icons/BackToTopV1.vue';
import FooterLink from '~/library/Elements/Links/TextLinkV1.vue';
import IconsNav from '~/library/Elements/Navigations/IconsNavV1.vue';

interface IPhone {
    number: string,
    numberFormatted: string,
    label: string
}

interface ITextLink {
    link?: string,
    newTab?: boolean,
    text?: string
}

interface ISocialLink {
    link: string,
    icon: string
    newTab?: boolean
}

interface IStoreLink {
    link: string,
    icon: string
    newTab?: boolean
}

export default Vue.extend({
    components: {
        BackToTopLink,
        FooterLink,
        IconsNav,
    },
    props: {
        phones: {
            type: Array as PropType<IPhone[]>,
            default():IPhone[] {
                return [
                    {
                        number: '88007009100',
                        numberFormatted: '8 800 700 91 00',
                        label: 'Для звонков из других регионов'
                    }
                ]
            }
        },
        topLinks1: {
            type: Array as PropType<ITextLink[]>,
            default(): ITextLink[] {
                return [
                    { link: '', newTab: true, text: 'Пресс-Центр' },
                    { link: '', newTab: true, text: 'О банке' },
                    { link: '', newTab: true, text: 'Аналитика' },
                    { link: '', newTab: true, text: 'Инвесторам' }
                ]
            }
        },
        topLinks2: {
            type: Array as PropType<ITextLink[]>,
            default(): ITextLink[] {
                return [
                    { link: '', newTab: false, text: 'Карьера в банке' },
                    { link: '', newTab: false, text: 'Реквизиты' },
                    { link: '', newTab: false, text: 'Качество обслуживания' },
                    { link: '', newTab: false, text: 'Противодействие коррупции' }
                ]
            }
        },
        socialTitle: { type: String, default: 'Следите за нами в соцсетях и в <a href>блоге</a>' },
        socialLinks: {
            type: Array as PropType<ISocialLink[]>,
            default(): ISocialLink[] {
                return [
                    { link: '', newTab: false, icon: 'social__icon social__viber' },
                    { link: '', newTab: false, icon: 'social__icon social__fb' },
                    { link: '', newTab: false, icon: 'social__icon social__vk' },
                    { link: '', newTab: false, icon: 'social__icon social__twitter' },
                    { link: '', newTab: false, icon: 'social__icon social__telegram' },
                    { link: '', newTab: false, icon: 'social__icon social__insta' }
                ]
            }
        },
        storeIcons: {
            type: Array as PropType<IStoreLink[]>,
            default(): IStoreLink[] {
                return [
                    { link: '', newTab: true, icon: 'store__icon store__apple' },
                    { link: '', newTab: true, icon: 'store__icon store__google' }
                ]
            }
        },
        copyrightText: { type: String, default: '© 2003 – 2019 АО «Райффайзенбанк»' },
        licenceText: { type: String, default: 'Генеральная лицензия Банка России № 3292 от 17.02.2015' }
    },
    data(): {
        backToTopLinkShow: boolean,
        backToTopLinkFixed: boolean,
        footerHeight: number,
        backToTopLinkHeight: number,
    } {
        return {
            backToTopLinkShow: false,
            backToTopLinkFixed: true,
            footerHeight: 0,
            backToTopLinkHeight: 0,
        }
    },
    computed: {
        classes(): { [paramName: string]: boolean } {
            return {
                'link__show': this.backToTopLinkShow,
                'link__fixed': this.backToTopLinkFixed
            }
        }
    },
    mounted() {
        window.addEventListener('scroll', this.onScroll);
        window.addEventListener('resize', this.onResize);
        setTimeout(this.getHeight, 1000);
    },
    destroyed() {
        window.removeEventListener('scroll', this.onScroll);
        window.removeEventListener('resize', this.onResize);
    },
    methods: {
        onScroll() {
            this.backToTopLinkShow = window.pageYOffset > 100;
            this.backToTopLinkFixed = !(window.innerHeight + window.pageYOffset >= document.body.offsetHeight - this.footerHeight + this.backToTopLinkHeight);
        },
        getHeight() {
            this.footerHeight = (this.$el as HTMLElement).offsetHeight;
            this.backToTopLinkHeight = (this.$refs.backLink as HTMLElement).offsetHeight;
        },
        onResize() {
            this.getHeight();
        }
    },
});
</script>

<style lang="scss">
    .pageFooter {
        position: relative;
        padding-bottom: 50px;
        z-index: 10;

        &__main {
            margin: 0 auto;
            padding: 1px $content-side-padding 0;

            @media (min-width: $m1) {
                padding: 1px $content-side-padding-m1 0;
            }

            @media (min-width: $m2) {
                padding: 1px $content-side-padding-m2 0;
            }

            @media (min-width: $m3) {
                max-width: $content-max-width;
            }
        }

        &__top {
            position: relative;
            padding-bottom: 19px;

            &:after {
                content: '';
                position: absolute;
                left: -11px;
                right: -11px;
                bottom: 0;
                height: 1px;
                background-color: $gray;
            }

            @media (min-width: $m1) {
                padding-bottom: 46px;

                &:after {
                    left: 10px;
                    right: 10px;
                }
            }

            @media (min-width: $m2) {
                padding-bottom: 56px;

                &:after {
                    left: 15px;
                    right: 15px;
                }
            }
        }

        &__phoneAndCityWrap {
            margin-top: 5px;

            @media (min-width: $m3) {
                margin-top: 0;
            }
        }

        &__phoneAndCity {
            margin-top: 32px;

            &:first-of-type {
                margin-top: 0;
            }
        }

        &__phone {
            font-size: 30px;
            line-height: 36px;
            text-decoration: none;
            transition: color .15s;

            &:hover {
                color: $gray50;
            }
        }

        &__city {
            font-size: 14px;
            line-height: 20px;
            color: $gray50;

            @media (min-width: $m1) {
                margin-top: 2px;
                font-size: 18px;
                line-height: 20px;
            }
        }

        &__backToTopWrap {
            position: absolute;
            top: 0;
            right: 5px;
            opacity: 0;
            transition: opacity .15s;
            pointer-events: none;

            &.link__fixed {
                position: fixed;
                top: auto;
                bottom: 0;
                right: $content-side-padding;

                @media (min-width: $m1) {
                    right: $content-side-padding-m1;
                }

                @media (min-width: $m2) {
                    right: $content-side-padding-m2;
                }
            }

            &.link__show {
                opacity: 1;
                pointer-events: auto;
            }

            @media (min-width: $m1) {
                right: 10px;
            }

            @media (min-width: $m2) {
                right: 15px;
            }

            @media (min-width: $m3) {
                display: none;
            }
        }

        &__backToTopLink {
            display: block;
            margin-bottom: 16px;

            @media (min-width: $m1) {
                margin-bottom: 34px;
            }

            @media (min-width: $m2) {
                margin-bottom: 35px;
            }
        }

        &__topNav {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 28px;

            @media (min-width: $m1) {
                margin-top: 23px;
            }

            @media (min-width: $m2) {
                margin-top: 6px;
            }

            @media (min-width: $m3) {
                margin-top: 1px;
            }
        }

        &__topNavItem {
            max-width: 100%;
            margin: 0 0 16px;

            @media (min-width: $m1) {
                margin-bottom: 0;
            }

            @media (min-width: $m2) {
                margin-bottom: 17px;
            }
        }

        &__bottom {
            padding-top: 34px;

            @media (min-width: $m1) {
                padding-top: 55px;
            }
        }

        &__socialsNavWrap {
            @media (min-width: $m2) {
                order: 2;
            }
        }

        &__socialsTitle {
            font-size: 18px;
            line-height: 24px;

            a {
                color: $yellow;
                text-decoration: none;

                &:hover {
                    color: $yellow-dark;
                }
            }
        }

        &__socialIconsNav {
            position: relative;
            margin-top: 18px;

            @media (min-width: $m1) {
                left: -9px;
                margin-top: 12px;
                justify-content: flex-start;

                .iconsNavV1__item {
                    margin-right: 9px;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }

            @media (min-width: $m2) {
                left: -10px;
                margin-top: 11px;

                .iconsNavV1__item {
                    margin-right: 9px;
                }
            }

            @media (min-width: $m3) {
                margin-top: 11px;

                .iconsNavV1__item {
                    margin-right: 9px;
                }
            }
        }

        &__storesNavWrap {
            margin-top: 35px;

            @media (min-width: $m1) {
                margin-top: 9px;
            }

            @media (min-width: $m2) {
                order: 3;
                margin-top: 18px;
            }

            @media (min-width: $m3) {
                margin-top: 5px;
            }
        }

        &__storeIconsNav {
            position: relative;
            flex-wrap: nowrap;

            @media (min-width: $m1) {
                justify-content: flex-start;

                .iconsNavV1__item {
                    margin-right: 20px;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }

            .iconsNavV1__item {
                flex-shrink: 1;

                @media (min-width: $m2) {
                    margin-right: 30px;
                }
            }
        }

        &__copyright {
            margin-top: 36px;

            @media (min-width: $m1) {
                margin-top: 43px;
            }

            @media (min-width: $m2) {
                order: 1;
                margin-top: 0;
            }
        }

        &__copyrightText {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 18px;
            color: $gray50;

            @media (min-width: $m1) {
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 24px;
            }

            @media (min-width: $m2) {
                margin-bottom: 7px;
                padding-right: 50px;
            }
        }
    }
</style>
