<template>
    <table class="tableV1">
        <thead v-if="rows.head">
            <tr
                v-for="(row, i) in rows.head"
                :key="i"
                class=""
            >
                <td
                    v-for="(cell, j) in row"
                    :key="j"
                    :class="cell.class"
                    :colspan="cell.colspan"
                >
                    <div
                        v-if="cell.text"
                        :class="cell.class"
                        v-html="cell.text"
                    />
                </td>
            </tr>
        </thead>

        <tbody v-if="rows.body">
            <tr
                v-for="(row, k) in rows.body"
                :key="k"
                :class="getRowClass(row)"
            >
                <td
                    v-for="(cell, l) in row"
                    :key="l"
                    :colspan="cell.colspan"
                >
                    <template
                        v-for="(item, m) in cell.items"
                    >
                        <div
                            v-if="item.text"
                            :key="m"
                            :class="item.class"
                            v-html="item.text"
                        />
                        <List
                            v-if="item.type === 'list'"
                            :key="m"
                            :items="item.listItems"
                            :ordered="item.ordered"
                            class="tableV1__list"
                        />
                    </template>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import List from '~/library/Elements/Lists/ListV1.vue';

interface IHeadCell {
    text: string
}

/*interface ICellItem {
    text: string,
    class?: string
}*/

interface ICell {
    // items: ICellItem[],
    items: Array<{ [propName: string]: any }>,
    colspan?: number,
    rowClass?: string,
    // [propName: string]: any
}

type IHeadRow = IHeadCell[]; // TODO через интерфейс
type IRow = ICell[]; // TODO через интерфейс

interface IRows {
    head: IHeadRow[] | boolean,
    body: IRow[]
}

export default Vue.extend({
    components: {
        List
    },
    props: {
        rows: {
            type: Object as PropType<IRows>,
            default(): IRows {
                return {
                    head: false,
                    body: []
                }
            }
        },
    },
    methods: {
        // getRowClass(row: Array<{ [propName: string]: any }>): string | void {
        getRowClass(row): string | void {
            if (row.find(cell => cell.rowClass)) {
                return row.find(cell => cell.rowClass).rowClass;
            }
        }
    }
});
</script>

<style lang="scss">
    .tableV1 {
        position: relative;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 22px;
        border-collapse: collapse;
        border-spacing: 0;
        z-index: 10;

        @media (min-width: $m1) {
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 20px;
            line-height: 24px;
        }

        thead {
            td {
                padding: 0 15px 20px 0;
                font-size: 16px;
                line-height: 18px;
                vertical-align: bottom;

                &:last-of-type {
                    padding-right: 0;
                }

                @media (min-width: $m1) {
                    padding: 0 25px 25px 0;
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }

        tbody {
            tr {
                &:first-of-type {
                    border-top: 1px solid $gray;
                }

                border-bottom: 1px solid $gray;

                &.padding-bottom-0 {
                    border-bottom: none;
                }

                &.border-bottom-none {
                    td {
                        padding-bottom: 0;
                    }
                }
            }

            td {
                padding: 20px 15px 20px 0;
                vertical-align: baseline;

                &:last-of-type {
                    padding-right: 0;
                }

                @media (min-width: $m1) {
                    padding: 25px 25px 25px 0;
                }

                * {
                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .bold + ul,
                .bold + ol {
                    margin-top: 22px;
                }

                div + div {
                    margin-top: 22px;
                }
            }
        }

        .head {
            font-size: 16px;
            line-height: 18px;

            @media (min-width: $m1) {
                font-size: 18px;
                line-height: 20px;
            }
        }

        .bold {
            font-family: $futura-medium;
        }

        .white {
            color: #fff;
        }

        .gray65 {
            color: $gray65;
        }

        .no-wrap {
            white-space: nowrap;
        }
    }
</style>
