<template>
    <div class="menuV1">
        <nav class="menuV1__nav">
            <ul class="menuV1__navList row">
                <li
                    v-for="(link, i) in links"
                    :key="i"
                    class="menuV1__navListItem col col-12 col-m1-6"
                >
                    <nuxt-link
                        :to="`${link.link}#${link.tag}`"
                        :target="link.newTab ? '_blank' : false"
                        class="menuV1__navLink"
                        exact-active-class="menuV1__navLink--active"
                        exact
                    >{{ link.text }}</nuxt-link>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

interface ILink {
    link: string,
    text: string,
    tag?: string,
    newTab?: boolean
}

export default Vue.extend({
    props: {
        links: {
            type: Array as PropType<ILink[]>,
            default(): ILink[] {
                return []
            }
        }
    }
});
</script>

<style lang="scss">
    .menuV1 {
        padding-bottom: 15px;
        color: #fff;

        @media (min-width: $m1) {
            padding-bottom: 18px;
        }

        @media (min-width: $m2) {
            display: flex;
            align-items: flex-start;
            padding-bottom: 0;
        }

        @media (min-width: $m3) {
            padding-bottom: 70px;
        }

        &__nav {
            position: relative;
            width: 100%;
            display: block;
            margin: 0 0 22px 0;
            padding-top: 0;
            padding-bottom: 0;
            list-style-type: none;

            @media (min-width: $m1) {
                display: flex;
                margin-bottom: 5px;
            }

            @media (min-width: $m2) {
                margin-bottom: 59px;
            }

            @media (min-width: $m3) {
                margin-bottom: 0;
            }
        }

        &__navList {
            min-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            list-style-type: none;

            @media (min-width: $m1) {
                flex-direction: row;
            }
        }

        &__navListItem {
            position: relative;
            margin-bottom: 22px;

            @media (min-width: $m1) {
                margin-bottom: 42px;
                padding-right: 50px;

                &:nth-of-type(even) {
                    padding-right: 15px;
                }

            }
        }

        &__navLink {
            position: relative;
            display: inline-block;
            font-size: 22px;
            line-height: 26px;
            text-decoration: none;
            transition: color .15s;

            @media (min-width: $m1) {
                font-size: 24px;
                line-height: 34px;
            }

            &:hover {
                color: $gray50;
            }

            &.menuV1__navLink--active {
                opacity: .5;
                pointer-events: none;
            }
        }
    }
</style>
